.evt-content {
  width: 1200px;
}

.evt-banner {
  position: relative;
  height: 700px;
  overflow: hidden;
  background: url(../images/banner_bg.jpg) repeat;
}

.evt-banner .evt-content > div {
  position: absolute;
}

.evt-banner .coffee {
  left: 455px;
  top: -80px;
}

.evt-banner .b-cake {
  top: 180px;
  left: 120px;
}

.evt-banner .b-cake .cake-tips {
  position: absolute;
  left: -160px;
  top: -77px;
}

.evt-banner .banner-text {
  right: 35px;
  top: 84px;
}

.evt-banner .nut-bg {
  left: 82px;
  top: 374px;
}

.evt-banner .cake-sm {
  left: -65px;
  top: 470px;
}

.evt-banner .cake-spoon {
  top: 560px;
  left: 56px;
}

.evt-main {
  position: relative;
  height: 970px;
  z-index: 10;
  background: url(../images/main-bg.jpg) repeat;
}

.evt-main .evt-content > div {
  position: absolute;
}

.evt-main .counter-down {
  top: 40px;
  left: 50%;
  margin-left: -262px;
  width: 524px;
  height: 187px;
  z-index: 10;
  background: url(../images/count-down-bg.png) no-repeat;
}

.evt-main .counter-flips {
  position: absolute;
  right: 42px;
  bottom: 17px;
}

.evt-main .counter-flips .flip {
  font-size: 0;
  display: inline-block;
  width: 72px;
  margin-right: 3px;
  vertical-align: top;
}

.evt-main .counter-flips .flip > span {
  display: inline-block;
  width: 35px;
  height: 48px;
  background: url(../images/decimal.png) no-repeat;
}

.evt-main .main-cake {
  top: 180px;
  left: 30px;
}

.evt-main .main-action-wrap {
  top: 330px;
  right: 20px;
}

.evt-main .main-action {
  position: relative;
  margin-top: 25px;
  padding-left: 62px;
}

.evt-main .main-action .buy-btn {
  position: absolute;
  top: 8px;
  right: 0;
  width: 200px;
  height: 60px;
  line-height: 100;
  overflow: hidden;
}

.evt-main .cake-select {
  position: absolute;
  left: 0;
  top: 0;
}

.evt-main .cake-select .c-check {
  display: block;
  width: 36px;
  height: 33px;
  margin-bottom: 5px;
  cursor: pointer;
  background: url(../images/checkbox.png) no-repeat;
}

.evt-main .cake-select .c-check.checked {
  background-position: 0 -33px;
}

.evt-main .footer-action {
  top: 820px;
  left: 50%;
  margin-left: -262.5px;
}

.evt-main .main-deco1 {
  left: -184px;
  top: 90px;
}

.evt-main .main-deco2 {
  left: -182px;
  top: 660px;
}

.evt-main .main-deco3 {
  right: -150px;
  top: 160px;
}

.evt-main .main-deco4 {
  right: -120px;
  top: 722px;
}

.evt-footer {
  position: relative;
  background-color: #dcc7b3;
  z-index: 10;
}

.evt-footer .footer-bd {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.evt-footer .evt-rules {
  padding-top: 30px;
  padding-bottom: 40px;
  color: #532b05;
}

.evt-footer .evt-rules h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 16px;
  line-height: 1.5;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
