.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num,.noselect{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.evt-container{ overflow: hidden; background: url("../images/bg.png") repeat;}

.hy-title{ margin:0 auto; width: 947px; padding:93px 0; position: relative; text-align: center;
  img{margin: 0 auto; width: 100%;}
}

.icon{position: absolute; width: 73px; height:120px; left:84px; top:-38px; z-index: -1;  }
.icon_28{background: url("../images/icon-28.png") no-repeat;}
.icon_40{background: url("../images/icon-40.png") no-repeat;}
.sec-banner{position: relative; max-width:1920px; margin: 0 auto; overflow:hidden; background: url("../images/banner.png") bottom center no-repeat; height: 890px; z-index: 1; }


.sec-1{position: relative; max-width:1920px; margin:0 auto; padding-top: 1px; padding-bottom: 30px;  background: url("../images/sec-1-bg.png") top center no-repeat; z-index: 2;
  .evt-content{width: 1151px; margin-top: -200px; z-index: 2;}
  .get-packet{ position: absolute; width: 151px; top:256px; left: 50%; margin-left:169px; cursor: pointer; animation: bouncein 1s ease-in alternate infinite; }
  .quan{ width: 723px; margin: 50px auto 0;}
  .btn-2{ width: 151px; margin:20px auto 50px; cursor: pointer; }
}

.sec-cake{ position: relative; z-index: 1; height:1526px; background: url("../images/sec-2.png") center no-repeat;
  .evt-content{width: 1140px; padding-top: 10px;
    .row{position: relative; width: 480px; float: left; margin:100px 40px 50px;
      .cake{position: relative; z-index: 2;}
      &.row3,&.row4{
        .icon{top:-55px;}
      }
    }
  }
}



.more{width: 144px;position: relative; margin: 0 auto; background: #cd686d; border-radius: 50px; text-align: center;
  span{ display: block; color: #fff; font-size: 20px; line-height:35px;}
}


.evt-footer{ z-index: 1; position: relative; background: url("../images/sec-foot.png") top center no-repeat;
  .evt-content{width: 1200px; color: #fff;}
    .evt-rules{width: 1030px; margin: 0 auto; padding:100px 0 100px 20px;
      h2{ font-size: 18px;  font-weight: normal;  margin-bottom: 20px;  }
      p{ font-size:18px; line-height: 1.8em;  padding-left: 1.5em;  text-indent: -1.5em;  }
      .p{padding-left: 30px;}
    }
}


/*快速点击数量加减时，或者禁止双击选中*/
span.num,.noselect{moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;  }

/*价格样式 通用*/

.price {position: relative; width: 480px;text-align: left;  }
.price h2 {position: relative; margin:20px auto; font-size: 18px; font-weight: normal; line-height: 30px; color: #393c3f;text-align: center;  }
.price h2 i { font-size: 14px; font-style: normal; vertical-align: baseline;  }
.price h2 span {  font-size: 28px;  color: #000;  }
.price s {font-size: 16px;  color: #898989;  font-weight: normal;  line-height: 26px;  text-decoration: sh; margin-left: 5px;  }
.price b{font-weight: normal;}
.price em{font-style: normal;}
.price .price-title{ font-size: 24px; color: #493b66; margin: 40px auto 20px !important; text-align: center;}

/*换购*/
.price .huangou { position: relative; width: 210px; font-size: 18px; color: #5c4c0d; margin: 10px auto; cursor: pointer; padding-left: 30px; text-align: left; }
.price .huangou .icnone { position: absolute; left: 0; top: 50%; margin-top: -11px; width: 22px; height: 22px; z-index: 1; }
.price .huangou .icon { position: absolute; left: 0; top: 50%; margin-top: -11px; width: 22px; height: 22px; z-index: 2;  }
.price .huangou {moz-user-select: -moz-none;-moz-user-select: none;-o-user-select: none;-khtml-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none; }


/*订购，加入购物清单*/
.price ul.buy_btn_box { overflow: hidden; width:138px; margin:5px auto; float: left; }
.price ul.buy_btn_box.twoBtn { width: 280px; }
.price ul.buy_btn_box li { float: left; height:35px; margin-right: 5px; }
.price ul.buy_btn_box li.fr { float: right; }
.price ul.buy_btn_box li span { display: block; width: 138px; background:url("../images/go-buy.png"); border: none; color: #fff; cursor: pointer; height: 35px; line-height: 35px; font-size: 14px; text-align: center; }

.buy-btns{width: 303px; margin: 0 auto;}
.bangshu{ position: relative; width: 154px; height: 35px; margin:5px 0 5px 10px; float: left; background:url("../images/bang.png");
  dd{position: absolute; width:26px !important; height: 25px !important; margin: 0 !important; z-index: 2;}
  dt{position: absolute; left: 0; width:154px; text-align: center; line-height: 35px; z-index: 1;
    span{display: block; color: #fff; font-size: 14px;}
  }
}
.buy-btns.one{width: 165px;}

/*加减按钮*/
.nopoint{ background: url("../images/in-a-1.png") center no-repeat; background-size: 50%; cursor: pointer; border:5px solid transparent;  }
.nopoint.plus{ left: auto; right: 0; background: url("../images/in-a-2.png") center no-repeat; background-size: 50%; margin: 20px 5px 0 0;}


@keyframes bouncein{
  50%{transform:scale(1);}
  70%{transform:scale(0.9);}
  100%{transform:scale(1);}
}


@media (max-width: 1800px) {

}

@media (max-width: 1600px) {
  .sec-banner{ background: url("../images/banner.png") center no-repeat;  height:820px; }
}

@media (max-width: 1400px) {
  .sec-banner{background: url("../images/banner.png") center no-repeat;  height:813px; }
}
