.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num,.noselect{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.evt-container{ overflow: hidden; background: url("../images/bg.png")  repeat;}

.sec-banner{max-width:1920px; margin: 0 auto; overflow:hidden;
  img{width: 100%;}
}

.hy-title{ margin:0 auto; width: 854px; padding:80px 0; position: relative; text-align: center;
  img{margin: 0 auto; width: 100%;}
}

.dis{position: absolute; left: 50%;}
.dis-1{ top: 350px; margin-left:-650px;}
.icon{position: absolute; width: 63px; height: 49px;left: -74px; top:-8px;  }
.icon_20{background: url("../images/icon_20.png");}
.icon_40{background: url("../images/icon_40.png");}
.icon_60{background: url("../images/icon_60.png");}
.icon_80{background: url("../images/icon_80.png");}
.icon_50{background: url("../images/icon_50.png");}


.sec-star{ position: relative;
  .evt-content{width: 1141px; padding-top: 110px;}
  .swipe-cake{width: 1093px; height: 571px; background: url("../images/recommend_cake.png") center no-repeat; background-size: 100%; position: relative; margin: 0 auto; border-radius: 5px; overflow: hidden;
    .star{position: absolute; z-index:2; top: 35px; right: 27px;}
  }
  .swipe-cake-price{ position: relative; width: 1049px; margin: 0 auto; padding:79px 0;
    .cake-t{ width: 440px; float: left;}
    .price{position: relative !important; top: 0 !important; float: right; width: 178px; text-align: center;
      .buy_btn_box{ top:66px; left: 12px;}
      h2{color: #0a6263; margin: 0 auto;
        span{color: #0a6263;}
        b{font-size: 16px;}
      }
      s{color: #458788;}
      ul.buy_btn_box{ width: 164px;}
      ul.buy_btn_box li{margin-right: 0; width: 164px;height: 46px;}
      .buy_btn{background: #59bfc1; color: #fff;  width: 164px; height: 46px; line-height: 46px; border-radius: 46px;}
    }
  }
}

.sec-cake{ position: relative; z-index: 1; padding-top:10px; padding-bottom:0;
  .hongbao{width: 955px; margin: 0 auto 80px;
    ul{
      li{margin-left: 0; float: left; position: relative;
        .btn-lq{position: absolute; bottom: 20px; left: 50%; margin-left: -94px; width: 188px; height: 39px; background: url("../images/btn-lq.png"); cursor: pointer; z-index: 2; }
      }
    }
  }
  .evt-content{width: 1141px;
    .row{position: relative; }
    .row{height: 520px;
      .cake{position: absolute;top:0; left:11px;}
    }
    .row1{
      .cake{position: absolute; top:0; left:70px;}
      .price{ top:140px; left: 650px;}
    }
    .row2{
      .cake{position: absolute; top:0; left: 585px;}
      .price{ top:140px; left: 250px;}
    }
    .row3{height: 550px;
      .cake{position: absolute; top:0; left:70px;}
      .price{ top:140px; left: 650px;}
    }
    .row4{
      .cake{position: absolute; top:0; left: 585px;}
      .price{ top:140px; left: 250px;}
    }


  }
}


.more{width: 144px;position: relative; margin: 0 auto; background: #cd686d; border-radius: 50px; text-align: center;
  span{ display: block; color: #fff; font-size: 20px; line-height:35px;}
}


.evt-footer{ z-index: 1; position: relative; background: url("../images/foot-bg.png") repeat;
  .evt-content{width: 1200px; color: #212121;}
    .evt-rules{width: 720px; margin: 0 auto; padding:100px 0 80px 20px;
      h2{ font-size: 18px;  font-weight: normal;  margin-bottom: 5px;  }
      p{ font-size:16px; line-height: 1.8em;  padding-left: 1.5em;  text-indent: -1.5em;  }
    }
}


/*快速点击数量加减时，或者禁止双击选中*/
span.num,.noselect{moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;  }

/*价格样式 通用*/

.price {position: absolute; width: 392px;text-align: left;  }
.price h2 {position: relative; margin:13px 0 0; font-size: 18px; font-weight: normal; line-height: 30px; color: #5c4c0d;text-align: left;  }
.price h2 i { font-size: 14px; font-style: normal; vertical-align: baseline;  }
.price h2 span {  font-size: 28px;  color: #5c4c0d;  }
.price s {font-size: 16px;  color: #5c4c0d;  font-weight: normal;  line-height: 26px;  text-decoration: sh;margin-left: 5px; }
.price b{font-weight: normal;}
.price em{font-style: normal;}
.price .price-title{margin-bottom: 50px !important;}

/*换购*/
.price .huangou { position: relative; width: 210px; font-size: 18px; color: #5c4c0d; margin: 10px auto; cursor: pointer; padding-left: 30px; text-align: left; }
.price .huangou .icnone { position: absolute; left: 0; top: 50%; margin-top: -11px; width: 22px; height: 22px; z-index: 1; }
.price .huangou .icon { position: absolute; left: 0; top: 50%; margin-top: -11px; width: 22px; height: 22px; z-index: 2;  }
.price .huangou {moz-user-select: -moz-none;-moz-user-select: none;-o-user-select: none;-khtml-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none; }


/*订购，加入购物清单*/
.price ul.buy_btn_box { overflow: hidden; width: 140px; margin:15px 0 0; float: left; }
.price ul.buy_btn_box.twoBtn { width: 280px; }
.price ul.buy_btn_box li { float: left; height: 40px; margin-right: 5px; }
.price ul.buy_btn_box li.fr { float: right; }
.price ul.buy_btn_box li span { display: block; width: 130px; background: #ebd679; border: none; color: #fff; cursor: pointer; height: 32px; line-height: 32px; font-size: 17px; text-align: center; border-radius: 15px; }


.bangshu{width: 161px; height: 30px; margin:15px 0 10px 10px; float: left; border: #5c4c0d 1px solid; border-radius: 17px;
  dd{float: left;}
  dt{float: left; width:100px; text-align: center; line-height: 30px;
    span{display: block; color: #5c4c0d; font-size: 15px;}
  }
}

/*加减按钮*/
.nopoint{ width: 20px; height: 20px; background: url("../images/in-a-1.png") center no-repeat; cursor: pointer;   border:5px solid transparent;  }
.nopoint.plus{background: url("../images/in-a-2.png") center no-repeat;}



/*彈窗*/
.Dialogbg-quan{  background-color: #000;  height: 100%;  left: 0;  opacity: 0.7;  position: fixed;  top: 0;  width: 100%; z-index: 200; display: none;-moz-opacity:.7;filter:alpha(opacity=70); }

.Dialog-quan{  box-shadow: 0 0 0 #999;  font-size: 14px; height:auto !important; padding: 1px; top: 50%; left: 50%;  margin: -180px auto 0 -200px !important;  position: fixed; z-index: 99999; display: none;
  .closes{ width: 30px; height: 30px; position: absolute; top:20px; right: 20px; cursor: pointer; z-index: 8; background: url("../images/close2.png") no-repeat;}
  .quan{position: relative;  border-radius: 10px; overflow: hidden; width: 507px; height: 316px; background: #fff;
    .card{ text-align: center; padding: 70px 20px;
      h2{font-size: 24px; line-height: 50px; }
      p{font-size: 18px; line-height: 30px;}
    }
    .go-use {display: block; position: absolute; bottom: 90px; left: 50%; margin-left: -78px; width:156px;  cursor: pointer;
      background:#ecca44; color: #fff; border-radius: 40px; line-height: 40px; text-align: center; font-size: 18px;
    }
  }
  .quan-2{
    .go-use{bottom: 50px;}
  }
}



@media (max-width: 1600px) {
  .sec-star .swipe-cake-price {  width: 860px; padding:77px 0;}
  .sec-star .swipe-cake-price .price{top: 44px;}
  .sec-star .swipe-cake{width: 880px; height:456px; margin: 0 auto;
    .star{ right: 27px;}
  }
  .hy-title{ padding:50px 0; }
}


