.evt-container{}

.swiper-container {  width: 100%;  margin-left: auto;  margin-right: auto; }

.swiper-slide {
  text-align: center; cursor: pointer;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.pagination {  position: absolute;  left: 0;  text-align: center;  bottom:5px;  width: 100%;  }
.arrow-left {
  background: url(../images/arrows.png) no-repeat left top;
  position: absolute;  left: 10px;  top: 50%;  margin-top: -15px;  width: 17px;  height: 30px;  z-index: 2; cursor: pointer;
}
.arrow-right {
  background: url(../images/arrows.png) no-repeat left bottom;
  position: absolute;  right: 10px;  top: 50%;  margin-top: -15px;  width: 17px;  height: 30px;  z-index: 2; cursor: pointer;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 5px;
  opacity: 0.8;
  cursor: pointer;
  border: 1px solid #eee;
  background: #aaa;
}
.swiper-visible-switch {  background: #aaa;  }
.swiper-active-switch {
background: #a5002f;
}
.slide-link{position: absolute; top:0; left: 5%; display: block; width: 90%; height: 100%; z-index: 100;}
.swiper-slide{position: relative;}

.oldie{
  .swiper-content{
    margin: 0 auto;
  }
}

/*banner*/
.swiper-container { height: 550px;}
.banner-slides{
  .swiper-content{
    height: 550px;
  }


    /*活动*/

  .slides-nino {
    .swiper-content{ margin-left: -110px;}
    .q1 {
      left: -97px;
      top: 108px;
    }
    .q2 {
      left: 357px;
      top: 73px;
    }
    .q3 {
      left: 358px;
      top: 85px;
    }
    .nino-rocket{
      position: absolute;
      left:-160px;
      top:-70px;
      width:400px;
      height:400px;
    }
    .q4 {
      left: 760px;
      top: 114px;  display: none;
      .txt{position: absolute; width: 218px;  top: 80px; left: 75px; color: #53322c; font-size: 14px; text-align: left;
        p{ margin-bottom: 0px;}
      }
    }
    .q5 {
      width: 330px; height: 440px;
      left: 776px;
      top: 100px;  z-index: 5;
    }
  }

    .slides-potato{
      .swiper-content{width: 1200px;}
      .cake{ top: 180px; left: 70px;}
      .title{ top: 40px; left: 410px;}
    }


  .slides-foodPack{
    .gao-line{top: 0px; left: -68px;}
    .title{ top: 167px; left: 50px;}
    .bu{ top: 53px; left: 89px;}
    .ren{ top: 0px; left: 520px;}
    .c-zu{ top: 90px; left: 465px;}
  }

    .slides-wansheng{
      .swiper-content{width: 1200px;}
      .w-title{ top: 119px; left: 80px;}
      .gui-tou{ top: 10px; left: 250px;}
      .tou{ top:120px; left:548px; }
      .floadMen{position:absolute; width: 117px; height: 158px; top:243px; left:auto; right: 0; background: url("../images/wansheng/floadMen.png") no-repeat; z-index: 101; }
    }

  .slides-shuang11{
    .swiper-content{width: 1200px;}
    .cake{ top: 0px; left: 240px;}
    .title{ top: 30px; left: 70px;}
  }


  .slides-yhcoffee{
    .swiper-content{width: 1200px;}
    .banner-c1{position: absolute; top: 30px; left: 0px;}
    .banner-c2{position: absolute; top: 24px; left: 512px;}
    .banner-cake{position: absolute; top: 246px; left: 0px;}
    .banner-girl{position: absolute; top: 144px; left: 720px;}
  }



  .slides-memberDay2{
    .swiper-content{width: 1200px;
      div{position: absolute;}
      }
    .b-cake{ top: 150px;  left: 120px; }
    .title{ top: 90px;  left: 604px;  }
    .youhui{ top: 159px;  left: 40px; }

    .lobo{ top: -50px; left: 165px; opacity: 0; }
    .lobo-gif{ top: -10px; left: 165px; display: none; }
    .lobo-ani{ -webkit-animation:lobo  2s  ease-in 0.5s forwards;
      animation:lobo  2s  ease-in 0.5s forwards;}
    .tuzi{ top: 110px; left: 774px; opacity: 0; }
    .tuzi-gif{ top: 110px; left: 740px; display: none; }
    .tuzi-ani{-webkit-animation:tuzi 1.5s  ease-in 2s forwards;
      animation:tuzi 1.5s  ease-in 2s forwards;}

    @-webkit-keyframes lobo{
      0%{
        opacity: 1;
        -webkit-transform: translate3d(0,-100%,0);
      }
      60%{opacity: 1;
        -webkit-transform: translate3d(0,-20%,0);
      }
      70%{opacity: 1;
        -webkit-transform: translate3d(0,-30%,0);
      }
      80%{opacity: 1;
        -webkit-transform: translate3d(0,-10%,0);
      }
      90%{opacity: 1;
        -webkit-transform: translate3d(0,-15%,0);
      }
      100%{opacity: 1;
        -webkit-transform: translate3d(0,0,0);
      }
    }

    @keyframes lobo{
      0%{
        opacity: 1;
        transform: translate3d(0,-100%,0);
      }
      60%{opacity: 1;
        transform: translate3d(0,-20%,0);
      }
      70%{opacity: 1;
        transform: translate3d(0,-30%,0);
      }
      80%{opacity: 1;
        transform: translate3d(0,-10%,0);
      }
      90%{opacity: 1;
        transform: translate3d(0,-15%,0);
      }
      100%{opacity: 1;
        transform: translate3d(0,0,0);
      }
    }


    @-webkit-keyframes tuzi{
      0%{
        opacity: 1;
        -webkit-transform: translate3d(0,20%,0);
      }
      60%{opacity: 1;
        -webkit-transform: translate3d(0,5%,0);
      }
      70%{opacity: 1;
        -webkit-transform: translate3d(0,8%,0);
      }
      80%{opacity: 1;
        -webkit-transform: translate3d(0,4%,0);
      }
      90%{opacity: 1;
        -webkit-transform: translate3d(0,5%,0);
      }
      100%{opacity: 1;
        -webkit-transform: translate3d(0,0,0);
      }
    }

    @keyframes tuzi{
      0%{
        opacity: 1;
        transform: translate3d(0,20%,0);
      }
      60%{opacity: 1;
        transform: translate3d(0,5%,0);
      }
      70%{opacity: 1;
        transform: translate3d(0,8%,0);
      }
      80%{opacity: 1;
        transform: translate3d(0,4%,0);
      }
      90%{opacity: 1;
        transform: translate3d(0,5%,0);
      }
      100%{opacity: 1;
        transform: translate3d(0,0,0);
      }
    }


  }


  .slides-bjshuang11{ position: relative;
    .fot{position: absolute; top: auto; bottom:0; left: 50%; width:1930px; height: 550px; margin-left: -960px; background: url("../images/bjshuang11/fot.png") bottom center repeat; background-size: 100%;}
    .swiper-content{width: 1000px;
      div{position: absolute;}
    }
    .cake{ top: auto; bottom: 0px; left: 760px;}
    .title{ top: 60px; left: 50%; margin-left: -375.5px;}

  }

  .slides-bafei{
    .swiper-content{width: 1200px;}
    div{position: absolute;}
    .cake{top: 146px; left: 850px;}
  }


  .slides-ChristmasDay{
    .swiper-content{width: 1200px;}
    .chri-w-l{position: absolute; top: 180px; left: 216px;}
    .chri-men{position: absolute; top: 27px; left:50%; margin-left: -196px;}
    .chri-w-r{position: absolute; top: 65px; left: 685px;}
    .chri-word{position: absolute; width: 341px; top: 385px; left:50%; margin-left: -184px;}
    .word{position: absolute; width: 1000px; top: 498px; left:50%; margin-left: -500px;
      span{ line-height: 15px; color: #fff; display: inline-block; font-size: 16px; padding: 0 35px; border-right:#fff 1px solid;text-align: center;}
    }
    .word2{position: absolute; width: 1200px; top: 498px; left:50%; margin-left: -600px;
      span{ line-height: 15px; color: #fff; display: inline-block; font-size: 16px; padding: 0 35px; border-right:#fff 1px solid;text-align: center;}
    }
  }


  .slides-newYear{
    .swiper-content{width: 1200px;
      div{position: absolute;}
    }

    .new-year-1{ top: 123px; left: 50%; width: 565px; margin-left: -282.5px;}
    .new-year-2{ top: 196px; left: 50%; width: 723px; margin-left: -361.5px;}
    .new-year-3{ top: 304px; left:50%; width: 396px; margin-left:-198px;}
    .b-cake{top: 73px;left:50%; width: 801px; margin-left: -400.5px;}
    .b-m{top: -100px;left: 28px;}
    .b-m2{top: 250px;left: 400px;}
  }


  .slides-memberDay-1yue{
    .swiper-content{width: 1200px;
      div{position: absolute;}
    }
    .banner-title{ top: 0; left: 50%; width: 1322px; margin-left: -661px !important;}
    .banner-l{ top: 0; left: 50%; margin-left: -1000px;  margin-left: -1000px !important;}
    .banner-r{ top: 0; left: 50%;  margin-left: 350px;  margin-left: 350px !important;}

  }

  .slides-new-people{
    .swiper-content{width: 1200px;
      div{position: absolute;}
    }
    .banner-title{ top: 107px; left: -10px;}
    .banner-cake{top: 0; left: 505px;}
    .banner-guang{ top: 0; left: 505px;}
  }

  .slides-caomei{
    .swiper-content{width: 1200px;
      div{position: absolute;}
    }
    .banner-cake{ top: 85px; left: 20px;}
    .banner-title{ top: 116px; left: 630px;}
    .banner-cake1{ bottom:-100px; left: 979px;}
    .banner-caomei{ top: 317px; left: -60px;}
  }

  .slides-shengbang-caomei{
    .swiper-content{width: 1200px;
      div{position: absolute;}
    }
    .banner-cake{ top:0; left:0;}
    .banner-title{ top: 24px; left: 470px;}
    .banner-xiong{ top:10px; left: 820px;}

  }


  .slides-memberDay-4yue{
    .swiper-content{width: 1200px;
      div{position: absolute;}
    }
    .banner-l{position: absolute; top: 120px; left: 50%; margin-left: -710px !important; }
    .banner-r{position: absolute; top: auto; bottom: -140px; left: 50%; margin-left: 240px !important;}
    .banner-title{position: absolute; top:123px; left: 50%; margin-left: -208px !important;}
  }

  .slides-memberDay-5yue{
    .swiper-content{width: 1200px;
      div{position: absolute;}
    }
    .banner-1{width: 256px; top: 0; left: 0;}
    .banner-2{width: 419px; top: 0; left:819px;}
    .banner-3{width: 472px; top: 90px; left: -80px;}
    .banner-4{width: 212px; top: 328px; left: 861px;}
    .banner-title{width: 478px; top: 161px; left: 401px;}
  }


  .slides-MotherDay{
    .swiper-content{width: 1200px;
      div{position: absolute;}
    }
    .icon{position: absolute; top: -10px; left: 50%; margin-left: 420px !important;}

  }


  .slides-chihuo{
    .swiper-content{width: 1200px;
      div{position: absolute;}
    }
    .banner-bg{ width:746px; height: 343px; top: 70px; left:230px; background: url("../images/chihuo/banner-bg.png");}
    .b-cake-1{ top: 238px; left:215px;}
    .b-cake-2{ top: 289px; left:494px;}
    .b-cake-3{ top: 260px; left:690px;}
    .m-logo{ top: 20px; left:473px;}
    .cake-title{ top: 97px; left:390px;  }
    .des-1{ top: 74px; left:36px;}
    .des-2{ top:0; left:956px;}
  }

  .slides-children-Day{
    .swiper-content{width: 1200px;
      div{position: absolute;}
      img{width: 100%;}
    }
    .banner{ top:20px; left: -84px;}
    .cake-sh{ width: 750px; top:40px; left: -84px;}
    .floats{ width: 100px; top:-10px; right: 0;  }

  }


  .slides-children-Day-bj{
    .swiper-content{width: 1200px;
      div{position: absolute;}
      img{width: 100%;}
    }
    .banner{ top:20px; left: -84px;}
    .cake-sh{ width: 630px; top:19px; left: 110px;}
    .floats{ width: 100px; top:-10px; right:0;  }
    .fade-swing{
      animation:swing 5s linear infinite;
      -moz-animation:swing 5s linear infinite;
      -webkit-animation:swing 5s linear infinite;
      -o-animation:swing 5s linear infinite
    }
    @-webkit-keyframes swing {
      10% {
        transform:rotate(15deg)
      }
      20% {
        transform:rotate(-10deg)
      }
      30% {
        transform:rotate(5deg)
      }
      40% {
        transform:rotate(-5deg)
      }
      100%,50% {
        transform:rotate(0)
      }
    }
    @-moz-keyframes swing {
      10% {
        transform:rotate(15deg)
      }
      20% {
        transform:rotate(-10deg)
      }
      30% {
        transform:rotate(5deg)
      }
      40% {
        transform:rotate(-5deg)
      }
      100%,50% {
        transform:rotate(0)
      }
    }
    @-o-keyframes swing {
      10% {
        transform:rotate(15deg)
      }
      20% {
        transform:rotate(-10deg)
      }
      30% {
        transform:rotate(5deg)
      }
      40% {
        transform:rotate(-5deg)
      }
      100%,50% {
        transform:rotate(0)
      }
    }
    @keyframes swing {
      10% {
        transform:rotate(15deg)
      }
      20% {
        transform:rotate(-10deg)
      }
      30% {
        transform:rotate(5deg)
      }
      40% {
        transform:rotate(-5deg)
      }
      100%,50% {
        transform:rotate(0)
      }
    }

  }


  .slides-fatherDay{
    .swiper-content{width: 1200px;
      div{position: absolute;}
    }
    .banner-title{top: 90px; left: 210px;}
    .dis-0{top:-50px; left: -350px;}
    .dis-0.newPosition{ left: -310px;}

    .dis-1{top:-10px; left: 1090px;}
    .dis-1.newPosition{left:1028px;}

    .dis-2{top: 370px; left: -147px;}
    .dis-2.newPosition{top: 354px; left: -67px;}

    .dis-3{top: 351px; left: 1086px;}
    .dis-3.newPosition{top: 351px; left: 990px;}

    .zhekou{top: 50px; left: 870px;}
    .zhekou.newPosition{ left: 820px;}

    .banner-gif{top:-20px; left: 150px;}
    .banner-gif.newPosition{left: 133px;}

  }


  .memberDay-7yue{
    .swiper-content{width: 1200px;
      div{position: absolute;}
      img{width: 100%;}
    }
    .banner-l{ top: 0; left: -240px;}
    .banner-r{ top: 0; right: -420px;}
    .banner-cake{ top: 119px; left: 119px;}
    .banner-title{ top: 133px; left: 534px;}
  }


  .memberDay-8yue{
    .swiper-content{width: 1200px;
      div{position: absolute;}
      img{width: 100%;}
    }
    .banner-1{top: 0; left: -250px;}
    .banner-2{top: 0; right: -200px;}
    .banner-3{bottom: 0; left: -200px;}
    .banner-4{bottom: 0; right: -100px;}
    .banner-t{top:110px; left: 50%; margin-left: -254px;}
  }

}


/*兼容小屏幕*/
@media  screen and (max-width: 1650px) {
  .slides-bafei{
    .cake{left: 700px !important;}
  }

}






/*浮动 1*/
.floater{position:fixed; top:100px; right:10px; z-index:11; width:300px;
  .floatImg{ position:relative; font-size:0;
    img{width: 100%;}
    a{width:100%; display:block; height:180px; position:absolute; top:0; left:0;}
  }
  .float-icon{ position: absolute; top: 0; left: 0; width:300px;}
  .float-container{width:300px; position:absolute; font-size:0;  top:180px;  left:0; display: block; }
}

/*浮动 2*/
.floaterIcon{position:fixed; top:110px; z-index:11;
  a{width:100%; display:block; height:100%; position:absolute; top:0; left:0;}
}




