.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num,.noselect{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.evt-container{ overflow: hidden; background:#2a3761; text-align: center; }

.sec-banner{position: relative; max-width: 1920px; z-index: 2; margin: 0 auto;
  img{width: 100%; display: block;}


}

.hy-title{display: inline-block; margin: 0 auto 50px; position: relative;z-index:1; }



.sec-1{  position: relative; height: 3179px; background: url("../images/main-bg.png") top no-repeat; z-index: 2;
  .evt-content{ width: 934px; padding-top: 1px;}
  .txt{ position: absolute; width: 525px;  top: -113px; left: 50%; margin-left: -262.5px; z-index:10;}
  .card{position: relative;
    img{width: 100%; display: block;}
  }
  .price{ width: 550px; margin: 0 auto;}
  .goubtn {position: absolute; bottom: 43px; left: 50%; margin-left: -75.5px;  width: 151px;  height: 44px; background: url("../images/buy-btn.png"); cursor: pointer;  z-index: 2; }
  p{font-size: 18px; text-align: center;color: #b8ab9a;}
  .card-1{ margin-top: 150px;}
  .card-2{ margin-top: 270px;}
  .card-3{ margin-top:0;}
  .card-4{ margin-top: 210px;}
}
.sec-2{  position: relative; height: 806px; margin-top: -170px; background: url("../images/card-bg.png") top no-repeat; z-index: 1;
  .evt-content{ width: 934px; padding-top: 1px;}
  .txt{ position: absolute; width: 525px; top: -113px;  left: 50%; margin-left: -262.5px; z-index:10;}
  .card-1{ margin-top: 240px;}
}

.sec-cake{  position: relative; height: 3217px; background: url("../images/main-cake.png") top no-repeat; z-index: 2;
  .evt-content{ width: 1000px;overflow: hidden;}
  ul{ margin-top: 155px; margin-left: -50px; height: 2770px;
    li{float: left; width: 365px; margin-left: 120px; margin-top: 120px;
      .price{ font-size:34px; margin-top:19px; color: #fff2c6; text-align: center;
        i{font-size:20px; font-style: normal;}
      }
      .goubtn{position: relative; margin:19px auto 0; width:151px; height:44px; background:url("../images/gobuy-btn.png"); background-size: 100%; cursor: pointer;}
    }
  }
  .more{ width: 193px; margin:200px auto 0; cursor: pointer;}
}


.evt-footer{ z-index: 1; text-align: left; background: url("../images/foot-bg.png") top no-repeat;
  position: relative; overflow: hidden;
  .evt-content{width: 1200px; color: #d0bdac;}
    .evt-rules{width: 900px; margin: 0 auto; padding:0 0 100px 0px;
      h2{ font-size: 18px;  font-weight: normal;  margin-bottom: 5px; margin-top: 50px; }
      p{ font-size:18px; line-height: 1.8em;  padding-left: 1.5em;  text-indent: -1.5em;  }
    }
}
.evt-footer.footer2{ background: url("../images/foot-bg2.png") top no-repeat;
  .evt-content .evt-rules{width: 995px;}
}


/*蛋糕选择弹窗*/

.Dialogbg-Select{ background-color: #000; height: 100%; left: 0; opacity: 0.8; position: fixed; top: 0; width: 100%; z-index: 200; display: none; -moz-opacity: .8; filter: alpha(opacity=80);
}

.Dialog-Select{
  background: #fff none repeat scroll 0 0; box-shadow: 0 0 0 #999; font-size:14px; width:520px; height:auto; margin-top: -210px; margin-left: -260px; left: 50%; padding: 0; position: fixed; top: 50%; z-index: 99999;border-radius:10px; display: none;
}
.s-closes{position: absolute; right: -30px; top: 8px; width: 17px; height: 17px; background: url("../images/close.png"); cursor:pointer;}
.Select{ position: relative; color: #000; height: 100%; text-align: left;
  .s-title{ height:96px; background: #f2f2f2; position: relative; border-top-left-radius:10px;  border-top-right-radius:10px;
    h2{ font-size: 18px; line-height: 30px; padding-left: 40px; padding-top: 20px; }
    b{font-size: 14px; color: #9a9a9a; font-weight: normal; padding-left: 40px;}
  }
  .s-bangshu{ padding-top: 30px;
    ul{ margin-left: 40px;
      li{ float: left; width:60px; height:60px; background: #f2f2f2; border-radius: 50%; text-align: center;  color: #4a4a4a; margin-right:30px; font-weight: bold; cursor: pointer; line-height:15px; font-size: 16px; display: flex; align-items: center; justify-content: space-around; flex-direction: column;
        i{font-size: 12px; font-style: normal;}
      }
      li.on{  background: #fff2c6; color: #2a345b;  }
      li.ie8{ padding-top: 15px;height:45px;
      }
    }
  }
  .d-tips{padding: 15px 40px; color: #4c4c4c; font-size: 12px;}
  .s-num{border-top: #ededed 1px solid; padding-left: 40px;
    b{display: inline-block; width:200px; margin:10px 0; line-height: 52px; float: left; font-size:16px; color: #737373; font-weight: normal;}
    .nums { display: inline-block; margin:15px 40px 0;  float: right; height:52px;  position: relative;  width:150px;  }
    .nums a { display: block; width:40px; height:40px;  position: absolute; top:2px;}
    .nums .minus { background: url("../images/btn-1.png") center no-repeat; background-size: 100%; left: 0;}
    .nums .plus { background: url("../images/btn-2.png") center no-repeat; background-size: 100%;  right: 0;}
    .nums input { background:none;  border: none;  display: block;  font-size:26px;  line-height:45px;  left:35px;   padding: 0;  position: absolute;  text-align: center;  top: 0;  width:80px; color: #000;  }
  }
  .s-prices{border-top: #ededed 1px solid; font-size: 22px; padding:0 40px;
    b{display: inline-block; width:200px; margin:0; line-height: 56px; float: left; font-size:16px; color: #737373; font-weight: normal;}
    p{display: block;line-height: 56px; text-align: right;}
    span{ font-size: 26px;}
    i{font-style: normal; font-size: 16px;}
    s{font-size: 18px; color: #aaa;}
  }
  .btns{ width: 100%; position: relative; bottom:0px; display: flex; height: 55px; line-height: 55px; flex-direction: row;  text-align: center; font-size: 18px; color: #000;
    div{ flex: 1; cursor: pointer; width:100%;}
    .go-car{background:#fff2c6; border-bottom-left-radius:10px; border-bottom-right-radius:10px; float: left; color: #2a345b; }
    .go-car.on{background:#fff2c6;}
    .go-car.ie8,.go-buy.ie8{width: 50%;}
    .go-buy{background:#fff2c6; border-bottom-left-radius:10px; border-bottom-right-radius:10px; float: left; color: #2a345b; }
    .go-buy.on{background: #ffe328;}
  }

}


@media (max-width: 1600px) {
  .sec-1 .txt,.sec-2 .txt{  top: -97px; }
}