.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

/*公共样式*/
.evt-container{ overflow: hidden; background:#ffa959; }
.evt-content{ width: 1200px; margin: 0 auto;
  img{display: block;}
}

.zoom{width: 100%; transition: all 0.4s; }
.zoom.on{ transform: scale(0.97);}
.scaleImg{ z-index: 1;
  img.scale{ transition: all 0.4s;}
}
.scaleImg.on{
  img.scale{transform: scale(1.05);}
}
h2,h3,h4,b,i,strong,samp{font-weight: normal;font-style: normal;}
i{font-size: 12px;}
.title{width: 250px; margin: 60px auto;}
.title-3{width:100%; padding: 45px 0; border: #cdcccc 2px dashed; text-align: center; cursor: pointer;}
.content{width: 1200px; margin: 0 auto;}
.zn-title{ text-align: center!important; position: relative; padding:55px 0;
  img{display: block; margin:0 auto!important; clear: both;}
}
.guize-btn{position: absolute; right: 0; bottom: 25px; margin-top: -15px; width: 88px; line-height: 30px; background: #ffffff; border-radius: 30px; font-size: 14px; text-align: center; color: #000; cursor: pointer; border: #bfbfbf 1px solid;
  .txtHtml,.txt{display: none;}
}

.star{position: absolute !important; z-index: 3;}
.star-1{top:200px; left: 30px; width:107px; height: 573px; background: url("../images/star-1.png") no-repeat; }
.star-2{top:200px; right: 30px; width:107px; height: 573px; background: url("../images/star-2.png") no-repeat; }


.buy-btns{position: absolute; bottom: 126px; left: 40px; z-index: 2;
  .buy-btn{ float: left; font-size: 16px; text-align: center; width: 150px; line-height: 44px; color: #000; background: #ffc559; border-radius: 44px; cursor: pointer; margin: 0 5px;}
  .buy-btn.on{background: #b9b8b7; color: #fff; }
}



.sec-banner{ position: relative; height: 812px;  z-index: 1; overflow: hidden; background:url("../images/banner.png") top center no-repeat;

}



.floater{  position: fixed; width: 92px; height: 194px; top: 200px;  right: 10px; z-index: 8; }


/*主体部分*/
.sec-main{ background:url("../images/bg.png"); padding-bottom: 100px;}
.main {position: relative; width: 1280px; margin:0 auto; background:#fff; overflow: hidden; z-index: 1;
  .evt-content {}
  .tab-bar{position: relative; width: 1280px; height: 100px; background:#fc542f; margin: 0 auto; z-index: 2;
    span{ display: block; width: 426.5px; height: 100px; float:left; }
    span:nth-of-type(1){ background: url("../images/tab-bar-1.png");}
    span:nth-of-type(2){ background: url("../images/tab-bar-2.png");}
    span:nth-of-type(3){ background: url("../images/tab-bar-3.png");}
    span:nth-of-type(1).cur{ background: url("../images/tab-bar-1-h.png");}
    span:nth-of-type(2).cur{ background: url("../images/tab-bar-2-h.png");}
    span:nth-of-type(3).cur{ background: url("../images/tab-bar-3-h.png");}

  }

  .sub-bar{ width: 1280px; margin: 0 auto;
    .sec-title{position: relative; padding: 60px 0 30px; text-align: center; margin-top: -3px; z-index: 1; display: none;
      ul{ margin:0 auto;
        li{ margin: 0 40px;  display: inline-block; cursor: pointer;}
      }
    }
  }


  .tab-box{ margin: 0 auto;
    .part{display: none; text-align: center;
    }
    .wx-code{width: 1280px; margin: 0 auto;
      img{width: 100%;}
    }
  }

  .xinpin{margin: 0 auto; width: 940px; position: relative;
    .buy-btns{position: absolute; left: 620px; bottom: 110px;}
  }
  .xinpin.mcake-2{margin-top: 20px !important;}


  /*满赠*/
  .man-zeng,.ymk,.shengbang-wrap,.shengbang-quan{ position: relative; width: 940px; padding:0; margin: 0 auto;
    .shengbang{ position: relative;}
    .btn-gobuy{ width: 151px; position: absolute; right: 63px; top: 228px; cursor: pointer;}
    .star-1{left: -136px;}
    .star-2{right: -136px;}
    .zn-title{ margin-bottom: 50px;}

  }
  .shengbang-quan{
    .icon{position: absolute; right:294px; top:252px; width: 83px; height: 82px; background: url("../images/icon-50.png") no-repeat; }
    .btn-gobuy{ width: 151px; position: absolute; left:50%; top: 525px; margin-left: -75px; cursor: pointer;}
    .progress-wrap{position: absolute; top:60px; left:50%; width:666px; margin-left: -333px;
      .shengbang-txt{width:666px; margin: 8px auto; color: #0db8ca;
        span{float: left; display: block; width: 156px; text-align: left; padding-left: 20px; }
        span:nth-of-type(1){width: 113px; padding-left: 20px;}
      }
      .progress{position: relative; background: #fea44e; border-radius:20px; height:20px;
        span{position: relative; background: #59e9f1; float: left; height:20px; line-height:20px; text-align: right;  border-radius:20px;}
        i{position: absolute; top: -2px; display: block; width: 25px; height: 25px; background: url("../images/point.png") no-repeat; margin-left: -22px; }
      }
    }
  }

  .shengbang{}
  /*折扣专场*/
  .sec-cakes{  position: relative; z-index: 2; padding-bottom: 1px; margin: 0 auto;
    .evt-content{ }
    div{position: relative;}
    div.guize-btn{position: absolute !important;}
    .cake{ position: relative; width: 940px; margin: 0 auto;
      ul{ margin-left: -10px;
        li{ width: 467px; height: 414px; margin-left: 5px; float: left; position: relative; background: #fff8e1; margin-bottom: 10px;
          img{margin-bottom: 20px; width: 100%;}
          .m-title{ position: absolute; top: 41px; left: 70px; font-size: 16px; text-align: left; color: #000;  font-weight: bold;}
          .m-subtitle{ position: absolute; top: 65px; left: 70px; font-size: 11px; text-align: left; color: #8a8a8a;}
          .m-car{ position: absolute; bottom: 29px; right: 54px;  width: 32px; height: 32px; background: url("../images/car.png") no-repeat; cursor: pointer;}
          .m-car.on{ background: url("../images/car-on.png") no-repeat;}

          .m-last{ position: absolute; top: 32px; right: 37px; font-size: 12px; text-align: left; color: #fff; background: #ff363d; line-height: 18px; border-radius: 18px; padding:0 10px;}

          .m-btn{ position: absolute; bottom: 34px; right: 30px; font-size: 16px; text-align: center; width: 100px; line-height: 30px; color: #000; background: #ffe328; border-radius: 30px; cursor: pointer; }
          .m-btn.on{background: #edd322;}

          .m-old-price{ position: absolute; bottom: 37px; left: 195px; font-size: 14px; text-align: left; color: #707070;  }
          .m-price{ position: absolute; bottom: 37px; left: 70px; font-size: 16px; text-align: left; color: #000;
            span{font-size: 16px;}
          }
        }
      }
    }
  }

  /*奖品*/
  .win-prize{position: relative; width: 940px; height: 490px; margin:0 auto;

    .swiper-slide1{background: #d9f7f9 url("../images/zp-1.png") right no-repeat;}
    .swiper-slide2{background: #d9f7f9 url("../images/zp-2.png") right no-repeat;}
    .swiper-slide3{background: #d9f7f9 url("../images/zp-3.png") right no-repeat;}
    .swiper-slide4{background: #d9f7f9 url("../images/zp-4.png") right no-repeat;}
    .swiper-slide5{background: #d9f7f9 url("../images/zp-5.png") right no-repeat;}

    .prize-nub{ position: absolute; width: 425px; top: 0; left: 0; z-index: 5;
      ul{ padding: 20px 20px 0 97px;
        li{ padding: 17px 10px; text-align: left; cursor: pointer; border-bottom: #b5b5b5 1px solid;
          b{ color: #623185; font-size: 18px;}
          p{ font-size: 14px; color: #8d8d8d;}
        }
        li.nobd{border: none;}
        li.on{
          p{color: #000;}
        }

      }
    }



    .buy-prize{ position: relative; width: 940px;
      .prizeImg{position: relative;  overflow: hidden; text-align: right; padding: 50px; display: none; }
      .prize-1{ background:#fff9ec; }
      .prize-2{ background:#ffeeed; }
      .prize-3{ background:#fff9ec; }
      .prize-4{ background:#ffeeed; }
      /*.prize-nub{ position: absolute; width: 400px; top: 0; left: 0; z-index: 5;
        ul{ padding: 20px 20px 0 97px;
          li{ padding: 22px 10px; text-align: left; cursor: pointer; border-bottom: #b5b5b5 1px solid;
            b{ color: #623185; font-size: 18px;}
            p{ font-size: 14px; color: #8d8d8d;}
          }
          li.nobd{border: none;}
          li.on{
            p{color: #000;}
          }

        }
      }*/
    }
  }

  /*榜单排名*/
  .paiming{position: relative; width: 940px; margin:0 auto; padding-bottom: 50px;  background: #daf8fa; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
    .bangList{
      .title-txt{position: relative; margin:0 100px; padding:20px 0 0 0;line-height: 30px; font-size: 24px; text-align: left; color: #000;}
      .bang-list{ margin:0 100px;
        ul{padding-bottom: 20px;
          li{ width: 324px; line-height: 40px; padding: 10px 15px; border-bottom: #b5b5b5 1px solid; float: left; margin-right: 30px; font-weight: bold;
            b{display: inline-block; color: #000; font-size: 16px; float: left; margin-right: 20px; font-weight: bold;}
            .userImg{ float: left;width: 57px; height: 57px; background: #e1e1e1; border-radius: 100%; margin-right: 20px;}
            span{display: inline-block; color: #000; font-size: 16px; float: left;}
            span.tel-phone{color: #000; font-size: 16px; float: left; width: 130px; overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
            span.price{float: right;
              i{ font-weight: bold;}
            }
          }
          li.odd{margin-right: 0;}

        }
      }
      .buy-btns{bottom: 60px;}
      .buy-btn{width: 180px;}
    }
    .min-height{ height: 146px;}
    .more{ position: absolute; bottom: 20px; left: 50%; width: 38px; height: 18px; margin-left: -19px; background: url("../images/more.png"); cursor: pointer; }
    .more.on{background: url("../images/more-2.png");}

  }
  .paiming{position: relative; width: 940px; margin:0 auto; padding-bottom: 50px;  background: #bfecf1; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
    .bangList{
      .title-txt{position: relative; margin:0 100px; padding:20px 0 0 0;line-height: 30px; font-size: 24px; text-align: left; color: #000;}
      .bang-list{ margin:0 100px;
        ul{padding-bottom: 20px;
          li{ width: 324px; line-height: 40px; padding: 10px 15px; border-bottom: #b5b5b5 1px solid; float: left; margin-right: 30px;
            b{display: inline-block; color: #000; font-size: 16px; float: left; margin-right: 20px;}
            .userImg{ float: left;width: 57px; height: 57px; background: #e1e1e1; border-radius: 100%; margin-right: 20px;}
            span{display: inline-block; color: #000; font-size: 16px; float: left;}
            span.tel-phone{color: #000; font-size: 16px; float: left; width: 130px; overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
            span.price{float: right;}
          }
          li.odd{margin-right: 0;}

        }
      }
      .buy-btns{bottom: 60px;}
      .buy-btn{width: 180px;}
    }
    .min-height{ height: 148px;}
    .more{ position: absolute; bottom: 20px; left: 50%; width: 38px; height: 18px; margin-left: -19px; background: url("../images/more.png"); cursor: pointer; }
  }
  .word{ width: 655px; margin: 25px auto;}
  .quan{text-align: center; margin:0 auto; width: 963px; overflow: hidden;
    .buy{position: absolute; top: 260px; left: 427px; cursor: pointer; }
  }


  .xinpin{margin: 0 auto; position: relative;  }

  .item{position: relative; width: 940px; background: #fff8e1; margin: 0 auto; height: 380px; text-align: left;
    .cake{position: absolute; top:50px; left: 190px;}
    .price{position: absolute; top: 136px; left: 535px;}
    .title{margin: 0 0 20px 0;}
    .buy-btns{position: relative; left: 0; bottom: 0;}
  }
  .item-2{
    .cake{ top:90px; left: 450px;}
    .price{ top:135px; left: 206px;}
  }

  .item-3{height: 450px;
    .cake{top:10px; left: 60px;}
    .price{top: 136px; left: 535px;}
  }
}


.evt-footer{position: relative; margin-top: 100px;
  .evt-content{color: #7f7f7f;}
    .evt-rules{position: relative; width: 939px; margin: 0 auto; padding:0 0 200px 0;
      h2{ font-size: 16px;  font-weight: normal;  margin-bottom: 5px;  }
      div{padding-left: 1.5em;  text-indent: -1.5em;}
      p{ font-size:16px; line-height: 2em;
        span{display: block; padding-left: 0.5em;  text-indent: -0.5em; }
      }
    }
}


.swiper-container { position: relative;  width: 100%;  height: 100%;  }
.swiper-slide {
  text-align: center; position: relative;  font-size: 18px;  background: #fff;  display: -webkit-box;  display: -ms-flexbox;
  display: -webkit-flex;  display: flex;  -webkit-box-pack: center;  -ms-flex-pack: center;
  -webkit-justify-content: center;  justify-content: center;  -webkit-box-align: center;  -ms-flex-align: center;
  -webkit-align-items: center;  align-items: center;
}
.pagination {
  position: absolute !important;
  left: 0;
  text-align: center;
  bottom:20px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: #fff;
  margin: 0 5px;
  opacity:1;
  cursor: pointer;
}
.swiper-active-switch {
  background: #626262;
  opacity:1;
}


