.evt-container{}

.swiper-container {  width: 100%;  margin-left: auto;  margin-right: auto; }

.swiper-slide {
  text-align: center; cursor: pointer;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.pagination {  position: absolute;  left: 0;  text-align: center;  bottom:5px;  width: 100%;  }
.arrow-left {
  background: url(../images/arrows.png) no-repeat left top;
  position: absolute;  left: 10px;  top: 50%;  margin-top: -15px;  width: 17px;  height: 30px;  z-index: 1001; cursor: pointer;
}
.arrow-right {
  background: url(../images/arrows.png) no-repeat left bottom;
  position: absolute;  right: 10px;  top: 50%;  margin-top: -15px;  width: 17px;  height: 30px;  z-index: 1001; cursor: pointer;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 5px;
  opacity: 0.8;
  cursor: pointer;
  border: 1px solid #eee;
  background: #aaa;
}
.swiper-visible-switch {  background: #aaa;  }
.swiper-active-switch {
background: #a5002f;
}
.slide-link{position: absolute; top:0; left:0; display: block; width: 100%; height: 100%; z-index: 100;}
.swiper-slide{position: relative;}

.oldie{
  .swiper-content{
    margin: 0 auto;
  }
}

/*banner*/
.swiper-container {width: 100%; max-height: 550px;}
.banner-slides{
  .swiper-content{
    height: 550px;
  }

    /*活动*/

  .happy-newyear{
    .swiper-content{width: 1200px;
      div{position: absolute;}
      img{width: 100%;}
    }
    .banner-n{width: 1037px; top:120px; left: 100px;}
    .banner-n.small{width: 800px; top:150px; left: 190px;} /*适配较小屏幕*/
  }


}


/*兼容小屏幕*/
@media  screen and (max-width: 1650px) {
  .slides-bafei{
    .cake{left: 700px !important;}
  }
  .lipin{right: -20px!important;}
}






/*浮动 1*/
.floater{position:fixed; top:100px; right:10px; z-index:11; width:300px;
  .floatImg{ position:relative; font-size:0;
    img{width: 100%;}
    a{width:100%; display:block; height:180px; position:absolute; top:0; left:0;}
  }
  .float-icon{ position: absolute; top: 0; left: 0; width:300px;}
  .float-container{width:300px; position:absolute; font-size:0;  top:180px;  left:0; display: block; }
}

/*浮动 2*/
.floaterIcon{position:fixed; top:110px; z-index:11;
  a{width:100%; display:block; height:100%; position:absolute; top:0; left:0;}
}




