.evt-content {
  /* addon css code goes here */
}

.evt-footer {
  position: relative;
  background-color: #fff;
  z-index: 10;
}

.evt-footer .footer-bd {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.evt-footer .evt-rules {
  padding-left: 138px;
  padding-top: 30px;
  color: #907e59;
}

.evt-footer .evt-rules h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 16px;
  line-height: 1.5;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
