.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.evt-container{ overflow: hidden; background: url("../images/bg.jpg") repeat;}
.sec-banner{
  background:url("../images/banner.jpg") center; z-index: 1;
  .evt-content{
    width: 1200px; height: 550px;
    .banner-title{ top:100px; left:174px;}

  }
}
.more{ width: 286px; margin: 50px auto;}

.sec-0{
  .evt-content{  width: 1200px; padding-top: 80px;}
  .row{ width: 688px; margin: 0 auto;}
  .row2{ margin-top: 60px;}
  .row3{ margin-top: 70px;}
}


.sec-1{  position: relative; z-index: 1; padding-bottom: 50px;
  .evt-content{
    width: 1200px;
    .row{position: relative;  }
    .price-title{margin-bottom:10px;}
    .row1{height: 512px;
      .cake{position: absolute;top:20px; left: 124px;}
      .price{ top:60px; left: 658px;}
    }
    .row2{height: 405px;
      .cake{position: absolute;top: 0px; left: 542px;}
      .price{ top:-23px; left: 190px;}
    }
    .row3{height: 509px;
      .cake{position: absolute;top: -20px; left: 100px;}
      .price{ top:75px; left: 658px;
        ul.price_p li {background:#e1a487 !important;}
        h2, h2 span,s,.price_num dl dt span{color: #c07153;}
        ul.price_p li.cur, .buy_btn_box span{background: #c07153 !important;}
      }

    }
    .row4{height: 535px;
      .cake{position: absolute;top: 10px; left:530px;}
      .price{ top:57px; left: 190px;
        ul.price_p li {background:#e1a487 !important;}
        h2, h2 span,s,.price_num dl dt span{color: #c07153;}
        ul.price_p li.cur, .buy_btn_box span{background: #c07153 !important;}
      }

    }

    .row5{height: 512px;
      .cake{position: absolute;top: 0; left: 105px;}
      .price{top:40px; left: 658px;
        ul.price_p li {background:#f1dba1 !important;}
        h2, h2 span,s,.price_num dl dt span{color: #e6c983;}
        ul.price_p li.cur, .buy_btn_box span{background: #e6c983 !important;}
      }
    }
    .row6{height: 405px;
      .cake{position: absolute;top: 0px; left: 480px;}
      .price{ top:50px; left: 190px;
        ul.price_p li {background:#f1dba1 !important;}
        h2, h2 span,s,.price_num dl dt span{color: #e6c983;}
        ul.price_p li.cur, .buy_btn_box span{background: #e6c983 !important;}
      }
    }

    .more{ width: 398px !important;}
    .price-select{position: absolute; top:535px; left:628px; width:400px; padding:0;
      .price-title{margin-bottom: 30px;}
      .price{padding-left: 40px; position: relative;
        .select-li{position: absolute; left: 0; top:-3px;
          li{width: 34px; height: 33px; background: url("../images/icon-select.png") 0 0 no-repeat; margin-bottom: 10px; cursor: pointer;}
          li.on{ background: url("../images/icon-select.png") -50px 0 no-repeat;}
        }
      }
      .go-btn{ width: 166px; height: 45px; background:#e5b1bb; margin-top: 30px; cursor: pointer;
        span{display: block; line-height: 45px; color: #fff; font-size: 26px; text-align: center;}
      }
    }

  }
}

.sec-2{  position: relative; z-index: 1;
  .evt-content{
    width: 1200px;
    .row{position: relative; }
    .row4{
      .title{ width: 856px; margin:60px auto;}
      .prolist{ width: 1130px; margin: 0 auto;
        ul{ margin-left: 20px;
          li{ width: 350px; margin-right: 20px; float: left;margin-bottom: 30px;
            img{ width: 350px;}
            .des{position: relative; padding:30px 10px 10px;width: 260px;margin: 0 auto;
              p{font-size: 18px;
                img{ width: 260px;margin: 0 auto;}
              }
              .cl{position: relative; margin: 10px auto; padding-left:13px; line-height: 30px;color: #ff7701;font-size: 24px;
                i{font-style: normal; font-size: 12px; line-height: 19px; position: absolute; bottom: 0px; left: 0;color: #ff7701;}
                span{ font-size: 24px; color: #ff7701; }
                s{color: #503700; margin-left: 5px;}
                em{font-style: normal;}

                .xs_num{width: 100px;float: right; margin-top: 3px;}
                .xs_num dl {  float: left;  }
                .xs_num dl dd {  background: #fff url("../images/in-l.png") repeat;  cursor: pointer;  float: left;  height: 24px;  width: 24px; }
                .xs_num dl dd.nopoint {  background: #fff url("../images/in-r.png") repeat scroll; }
                .xs_num dl dd.on {  background: #fff url("../images/in-l-h.png") repeat; }
                .xs_num dl dd.nopoint.on {  background: #fff url("../images/in-r-h.png") repeat scroll; }

                .xs_num dl dt {  float: left;  height: 22px; border: #cbcbcb 1px solid; margin: 0 5px;  }
                .xs_num dl dt span{ display: block; background: rgba(0, 0, 0, 0) none repeat scroll 0 0;  border: medium none;  color: #ff7701; line-height: 22px; font-size: 16px; text-align: center;  width: 36px;  }



              }

              .gobtn{ text-align: center; line-height:30px;  background:#e4d7b9; width: 120px; border-radius: 5px; cursor: pointer;
                span{font-size: 16px; color: #503700;}
              }
              .go-buy{float: left; }
              .go-car{float: right; }
            }
          }
        }
      }
    }



    /*磅数选择*/
    .select{position: absolute; right: 0; top:0; width: 77px;
      .js_bshu{ display: block; width: 100%; height: 30px; z-index: 2; font-size: 16px !important; line-height: 30px;  cursor: pointer; text-indent: 4px; color: #847146 !important;
        background: url("../images/sele-li.png") left no-repeat;
        em{font-style: normal;}
      }
      .js_bshu.on{ background: #d2d2d2;}
      dl.js_select{  position: absolute;width:74.5px;  top: 29px;  left: 50%;  text-align: left;  margin-left: -50%;  font-size: 18px;  background: #fffff7; border: #d8d8d8 1px solid; border-top: none;  z-index: 10; display: none;
        dd{ height: 22px; width:100%; text-indent: 10px;  line-height: 22px;  cursor: pointer;  color: #757575;  margin: 0; font-size: 16px;  background: #fffff7;  }
        strong{  font-size: 14px;  }
        dd.on{  color: #fff; background: #e4c27b; }
      }
    }


  }
}


/*价格*/
.price{ position: absolute;  width: 300px; text-align: center;
  h2{font-size: 18px; font-weight: normal; line-height: 30px; color: #9b4245;
    i{font-size: 14px; font-style: normal;vertical-align: super; }
    span{font-size: 28px; color: #9b4245; }
  }
  s{font-size: 16px; color: #9b4245; font-weight: normal; line-height: 26px; text-decoration: sh}
  ul.price_p{margin: 10px auto; color: #9b4245; width: 210px;}
  ul.price_p.short{ width: 100px;}
  ul.price_p li { cursor: pointer; width: 45px; float: left;  height: 45px;  line-height: 45px;  text-align: center;   background-color: #f7c2bc;  margin-right: 5px; border-radius: 50%; color: #fff;
  span{padding: 0 5px;}
  }
  ul.price_p li.cur {  background:#d48d95 !important; color: #fff !important;}
  ul.price_p li.hover {  background:#e9e9e9; color: #000; }

  .price_num{width: 140px; margin: 15px auto;}
  .price_num dl {  float: left;  }
  .price_num dl dd {  background: #fff url("../images/in-l.png") repeat;  cursor: pointer;  float: left;  height: 24px;  width: 24px; }
  .price_num dl dd.nopoint {  background: #fff url("../images/in-r.png") repeat scroll; }
  .price_num dl dd.on {  background: #fff url("../images/in-l-h.png") repeat; }
  .price_num dl dd.nopoint.on {  background: #fff url("../images/in-r-h.png") repeat scroll; }

  .price_num dl dt {  float: left;  height: 22px; border: #cbcbcb 1px solid; margin: 0 5px;  }
  .price_num dl dt span{ display: block; background: rgba(0, 0, 0, 0) none repeat scroll 0 0;  border: medium none;  color: #9b4245; line-height: 22px; font-size: 16px; text-align: center;  width: 76px;  }

  ul.buy_btn_box {  overflow: hidden; width: 275px; margin:10px auto; }
  ul.buy_btn_box li {  float: left;  height: 40px;margin-right: 5px; }
  ul.buy_btn_box li.fr{float: right;}
  ul.buy_btn_box li span { display: block; width: 130px; background: #e5b1bb; border:none; color: #fff; cursor: pointer; height: 40px; line-height: 40px; font-size: 17px;  text-align: center;  border-radius: 5px;  border-radius: 40px; }

}
.price.fr{text-align: right;
  h2,s{ text-align: right; }
  .price_p li{ float: right; margin-left: 10px; margin-right: 0;}
  .price_num dl{float: right;}
  .price_num dd{float: right;}
  .price_num dt{float: right;}
  .buy_btn_box li{float: right;}
}




.evt-footer{
  position: relative;  background:#faf6e9; width: 100%;
  .evt-content{width: 1200px;}
    .evt-rules{width: 960px; margin: 0 auto; padding:70px 0 60px 55px; color: #4a2c00;
      h2{ font-size: 24px;  font-weight: normal;  margin-bottom: 5px;  }
      p{ font-size:20px; line-height: 1.8em;  padding-left: 1.5em;  text-indent: -1.5em;  }
    }
}

.floater{  position: fixed; width: 145px; height: 145px; top: 600px;  z-index: 11; left: 50%; margin-left: 480px; cursor: pointer;
  .tips{ position: absolute; width: 50px; height: 50px; right:-5px; top: -5px; border-radius: 50%; background:url("../images/tips.png") center no-repeat; background-size: 100%; text-align: center; z-index: 12; cursor: Default;
    span{ font-size:18px; color: #fff; line-height: 50px;}
  }
}

