.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num,.noselect{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.evt-container{ overflow: hidden; background: #ade8ff;}

.sec-banner{max-width:1920px; margin: 0 auto; overflow:hidden; background: url("../images/banner.png") bottom center no-repeat; height: 767px;
  &.bj{background: url("../images/bj/banner.png") bottom center no-repeat;}
}

.hy-title{ margin:0 auto; width: 1014px; padding:70px 0 40px; position: relative; text-align: center;
  img{margin: 0 auto; width: 100%;}
}

.icon{position: absolute; width: 83px; height:88px; right:20px; top:0;  }
.icon_15{background: url("../images/icon-15.png") no-repeat;}
.icon_30{background: url("../images/icon-30.png") no-repeat;}
.buy-btn{ width: 166px; height: 41px; background: url("../images/go-btn.png") no-repeat; margin: 0 auto; cursor: pointer;}
.buy_btn{ width: 146px; height: 36px; background: url("../images/go-buy.png") no-repeat; margin: 0 auto; cursor: pointer;}
.sec-1{ position: relative; z-index: 2; height: 1423px; background: url("../images/sec-1.png") top center no-repeat; overflow: hidden;
  &.bj{height: 844px; background: url("../images/bj/sec-1.png") top center no-repeat;}
  .evt-content{text-align: center;}
  .doudou{ position: relative; width: 802px; padding-top:100px; margin:0 auto;
    .buy-btn{position: absolute; bottom: 50px; left: 50%; margin-left: -83px;}
  }
  .break{ padding-top: 120px;
    .break-content{position: absolute; width: 974px; bottom: 40px;left: 50%; margin-left: -487px;
      .item{float: left; width: 352px;
        &.item-1{ width: 353px;}
        &.item-2{ width: 274px;}
        &.item-3{ width: 340px;}
      }
    }
  }
  .snack{ padding-top: 120px;
    .select-wrap{position: absolute; width: 800px; height:25px; bottom: 143px; left: 50%; margin-left: -400px;
      i{position: absolute; left:12px; display: block; width:25px; height: 25px; background: url("../images/bj/select.png") no-repeat; cursor: pointer;
        &.cur{ background: url("../images/bj/select-on.png") no-repeat;}
      }
      .select-2{ left: 500px;}
    }
    .buy-btn{position: absolute;width: 142px; height: 36px; bottom: 30px; left: 50%; margin-left: -83px; background: url("../images/bj/go-btn.png") no-repeat;}
  }
}

.sec-cake{ position: relative; z-index: 1; height: 1576px;  background: url("../images/sec-2.png") center repeat-y;
  &.bj{ height: 1619px; background: url("../images/bj/sec-2.png") top center no-repeat;}
  .evt-content{width: 1052px;
    .row{position: relative; width: 523px; float: left; margin:0 auto 40px; overflow: hidden;
      .price{position: absolute; left: 0; bottom: 89px;}
    }
    .more{width: 101px; margin:0 auto;}
  }
}



.evt-footer{ z-index: 1; position: relative; height: 575px;  background: url("../images/sec-3.png") top center repeat-y;
  .evt-content{width: 1200px; color: #000;}
    .evt-rules{width: 866px; margin: 0 auto; padding:100px 0 140px 20px;
      h2{ font-size: 20px;  font-weight: normal;  margin-bottom: 5px;  }
      p{ font-size:18px; line-height: 1.8em;  padding-left: 1.5em;  text-indent: -1.5em;  }
      .p{padding-left: 30px;}
    }
}


/*快速点击数量加减时，或者禁止双击选中*/
span.num,.noselect{moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;  }

/*价格样式 通用*/

.price {position: relative; width: 523px;text-align: left;  }
.price h2 {position: relative; margin:16px auto; font-size: 18px; font-weight: normal; line-height: 30px; color: #010101;text-align: center;  }
.price h2 i { font-size: 14px; font-style: normal; vertical-align: baseline;  }
.price h2 span {  font-size: 28px; }
.price s {font-size: 16px;  font-weight: normal;  line-height: 26px;  text-decoration: sh; margin-left: 5px; color: #919191; }
.price b{font-weight: normal;}
.price em{font-style: normal;}
.price .price-title{ font-size: 30px; color: #d64244; margin: 20px auto 20px !important; text-align: center;}

/*换购*/
.price .huangou { position: relative; width: 210px; font-size: 18px; color: #5c4c0d; margin: 10px auto; cursor: pointer; padding-left: 30px; text-align: left; }
.price .huangou .icnone { position: absolute; left: 0; top: 50%; margin-top: -11px; width: 22px; height: 22px; z-index: 1; }
.price .huangou .icon { position: absolute; left: 0; top: 50%; margin-top: -11px; width: 22px; height: 22px; z-index: 2;  }
.price .huangou {moz-user-select: -moz-none;-moz-user-select: none;-o-user-select: none;-khtml-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none; }


/*订购，加入购物清单*/
.price ul.buy_btn_box { overflow: hidden; width: 175px; margin:5px auto; float: left; }
.buy_btn{float: left;}

.buy-btns{width: 305px; margin: 0 auto;}
.buy-btns.one{width: 148px;}
.bangshu{position: relative; width: 148px; height: 36px; margin:0 0 5px 10px; float: left; background:url("../images/bang.png");
  dt{float: left; width:148px; text-align: center; line-height: 34px;
    span{display: block; color: #fff; font-size: 14px;}
  }
  /*加减按钮*/
  .nopoint{position: absolute; top: -4px; left: -10px; width: 40px; height: 40px; cursor: pointer; background: url("../images/nopoint.png") no-repeat; background-size: 100%;}
  .nopoint.plus{left: auto; right: -10px;}

}




@media (max-width: 1800px) {

}

@media (max-width: 1600px) {

}

@media (max-width: 1400px) {

}
