@charset "UTF-8";
.floader {
  position: fixed;
  right: 120px;
  top: 395px;
  z-index: 10;
  -webkit-animation: bounceIn 1s 0s linear infinite alternate;
  animation: bounceIn 1s 0s linear infinite alternate;
}

.evt-container {
  overflow: hidden;
}

.cloud {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
}

.cloud-1 {
  top: 70px;
  z-index: 3;
  -webkit-animation: cloudAnimate-1 50s linear infinite;
  animation: cloudAnimate-1 50s linear infinite;
}

.cloud-2 {
  top: 125px;
  z-index: 4;
  -webkit-animation: cloudAnimate-2 52s linear infinite;
  animation: cloudAnimate-2 52s linear infinite;
}

.sec-1 {
  height: 1050px;
  z-index: 5;
}

.sec-1 .evt-content .venez {
  top: 42px;
  left: 352px;
  z-index: 1;
}

.sec-1 .evt-content .s-title {
  top: 160px;
  left: -90px;
  z-index: 5;
}

.sec-1 .evt-content .s-cake {
  top: 506px;
  left: 85px;
}

.sec-1 .evt-content .word-tips {
  top: 895px;
  left: 237px;
}

.sec-1 .evt-content .acrow {
  top: 987px;
  left: 490px;
}

.sec-2 .evt-content {
  height: 1624px;
  background: url("../images/line.png") 361px 432px no-repeat;
}

.sec-2 .goods {
  position: relative;
  height: 540px;
  cursor: pointer;
}

.sec-2 .goods:hover .cake {
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
}

.sec-2 .goods:hover .word {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.sec-2 .goods:nth-child(even):hover .cake {
  -webkit-transform: translateX(20%);
  transform: translateX(20%);
}

.sec-2 .word {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  /*兼容ie8及以下*/
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.sec-2 .goods-1 .cake {
  top: 50px;
  left: 108px;
  -webkit-transition: transform 200ms ease 0s;
  transition: transform 200ms ease 0s;
}

.sec-2 .goods-1 .word {
  top: 119px;
  left: 531px;
}

.sec-2 .goods-2 .cake {
  top: -36px;
  left: 423px;
  transition: transform 200ms ease 0s;
}

.sec-2 .goods-2 .word {
  top: 102px;
  left: 66px;
}

.sec-2 .goods-3 .cake {
  top: 72px;
  left: 164px;
  transition: transform 200ms ease 0s;
}

.sec-2 .goods-3 .word {
  top: 116px;
  left: 542px;
  z-index: 2;
}

.sec-2 .goods-3 .doudou {
  top: 255px;
  left: 588px;
  z-index: 1;
}

.sec-3 .evt-content {
  height: 650px;
}

.sec-3 .conductor {
  position: absolute;
  top: -229px;
  left: 0px;
}

.evt-footer {
  margin-top: -130px;
  position: relative;
  z-index: 1;
}

.evt-footer .evt-content {
  width: 1024px;
  height: 459px;
  background: url("../images/guize-bg.png") 0px 20px no-repeat;
}

.evt-footer .footer-bd {
  padding-top: 148px;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.evt-footer .evt-rules {
  padding-left: 120px;
  padding-top: 30px;
  color: #000;
}

.evt-footer .evt-rules h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.evt-footer .evt-rules p {
  font-size: 16px;
  line-height: 1.8;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

@-webkit-keyframes cloudAnimate-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
  }
  2% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
  }
}

@keyframes cloudAnimate-1 {
  0% {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }
  2% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes cloudAnimate-2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
  }
  2% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
  }
}

@keyframes cloudAnimate-2 {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  2% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: translate3d(0, -5%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 3%, 0);
  }
}

@keyframes bounceIn {
  0% {
    transform: translate3d(0, -5%, 0);
  }
  100% {
    transform: translate3d(0, 3%, 0);
  }
}
