@charset "UTF-8";
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/*数量加减时，禁止双击选中*/
span.num, .noselect {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.evt-container {
  overflow: hidden;
  background: url("../images/bg.png") repeat;
}

.sec-banner {
  background: url("../images/banner.png") center no-repeat;
  z-index: 1;
  height: 906px;
  overflow: hidden;
}

.sec-banner .evt-content {
  width: 1200px;
  margin: 0 auto;
  height: 500px;
}

.sec-banner .logos {
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: 325px;
}

.hy-title {
  width: 515px;
  margin: 86px auto 208px;
  position: relative;
  text-align: center;
}

.hy-title img {
  margin: 0 auto;
}

.buy-btn {
  position: absolute;
  width: 211px;
  height: 57px;
  background: url("../images/buy-btn.png") no-repeat;
  margin: 20px auto;
  cursor: pointer;
}

.sec-1 {
  height: 949px;
  background: url("../images/sec-1.png") center top no-repeat;
  overflow: hidden;
}

.sec-1 .evt-content {
  width: 1165px;
  margin: 0 auto;
}

.sec-1 .cake {
  margin: 50px auto;
}

.sec-1 .buy-btn {
  top: 565px;
  left: 214px;
}

.sec-2 {
  height: 1083px;
  background: url("../images/sec-2.png") center top no-repeat;
  overflow: hidden;
}

.sec-2 .evt-content {
  position: relative;
  width: 1165px;
}

.sec-2 .cake {
  padding: 75px 0;
}

.sec-2 .buy-btn {
  top: 681px;
  left: 674px;
}

.sec-3 {
  height: 2519px;
  padding-top: 1px;
  background: url("../images/sec-3.png") center top no-repeat;
}

.sec-3 .evt-content {
  position: relative;
  width: 1300px;
}

.sec-3 .cake {
  position: relative;
}

.sec-3 .cake1 {
  margin-bottom: 65px;
}

.sec-3 .cake2 {
  position: relative;
}

.sec-3 .cake2 .buy-btn {
  top: 245px;
  left: 345px;
}

.sec-3 .cake3 {
  position: relative;
}

.sec-3 .cake3 .buy-btn {
  top: 282px;
  left: 714px;
}

.sec-3 .buy-btn {
  top: 277px;
  left: 714px;
}

.evt-footer {
  z-index: 1;
  position: relative;
  height: 618px;
  background: url("../images/sec-foot.png") center top repeat;
  width: 100%;
  margin-top: -80px;
}

.evt-footer .evt-content {
  width: 1200px;
  color: #edbdac;
}

.evt-footer .code {
  width: 529px;
  margin: 180px auto 0;
}

.evt-footer .evt-rules {
  width: 960px;
  margin: 0 auto;
  padding: 170px 0 80px 55px;
}

.evt-footer .evt-rules h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 18px;
  line-height: 1.8em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

/*雪花飘落*/
.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 2000;
}

.snow-container .snow {
  position: absolute;
  background: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  background: url(../images/snow.png) no-repeat\9;
  opacity: 0.6;
}
