.evt-container{
  position: absolute;
  left:0;
  top:-633px;
  width:100%;
  background: #fcf5ee url(../images/bg.jpg);
}

.evt-content{
  height:4360px;
  .tp-title{
    left:185px;
    top:750px;
    .tp-heart{
      left:257px;
      top:240px;
    }
  }

  .sec1-p1{
    right:0;
    left:52px;
    top:1045px;

    .sec1-p11{
      left:-60px;
      top:0;
    }

    .sec1-p12{
      left:295px;
      top:30px;
    }

    .sec1-bg{
      left:110px;
      top:0;
    }

    .sec-dova{
      left:142px;
      top:60px;
    }

    .sec1-juanl{
      left:560px;
      top:80px;
      cursor: pointer;
      &.open{
        .juanl-hint{
          display: none;
        }
      }
    }

    .juanl-body{
      width:256px;
      height:53px;
      background: url(../images/juanl.png) no-repeat;
      -webkit-transition: height .3s ease-out;
      transition: height .3s ease-out;
    }

    .juanl-ft{
      width:256px;
      height:52px;
      background: url(../images/juanl-ft.png) no-repeat 85% 0;
    }

    .juanl-hint{
      position: absolute;
      left:118px;
      top:120px;
    }

  }/*end sec1-p1*/

  .sec1-p2{
    left: 472px;
    top:1478px;
  }

  .buy-btn{
    position: absolute;
    width:196px;
    height:50px;
    line-height: 100;
    overflow: hidden;
  }

  .sec1-p2-text{
    left: 14px;
    top: 1589px;

    .buy-btn{
      left:233px;
      top:166px;
    }
  }

  .sec1-p3{
    left:767px;
    top:1762px;
  }

  .paint-bg{
    left:230px;
    top:1862px;
  }

  .sec3-p1{
    left:110px;
    top:2210px;
  }

  .sec3-p2{
    left:0;
    top:2425px;
  }

  .sec3-text{
    top:2370px;
    left:528px;

    .buy-btn{
      left:132px;
      top:233px;
    }
  }

  .sec3-s1{
    top:2823px;
    left:230px;
  }

  .sec3-s2{
    top:2654px;
    left:458px;
  }

  .sec3-s3{
    top: 2738px;
    left: 680px;
  }

  .sec3-s4{
    top:3090px;
    left:573px;
  }

  .sec3-s5{
    top:3360px;
    left:610px;
  }

  .sec3-s6{
    top:3483px;
    left:710px;
  }

  .sec3-p3{
    top:2970px;
    left:218px;
  }

  .sec3-text2{
    top:3395px;
    left:145px;
    z-index: 10;

    .buy-btn{
      left:160px;
      top:170px;
    }
  }

  .sec3-p4{
    top: 3448px;
    left: 247px;
    z-index: 5;
  }

  .sec-ft{
    left:0;
    top:4076px;
    width:100%;
    height:125px;
    background: url(../images/ft-bg.jpg) no-repeat;
  }

  .sec-running{
    left: 500px;
    top: 2855px;
  }

  .sec-window{
    left:602px;
    top:2074px;
  }

  .sec-fly{
    top:1940px;
    left:360px;
  }

}

.evt-footer{
  position: relative;
  background-color: #fff;
  z-index: 10;

  .footer-bd{
    position: relative;
    width:1000px;
    margin:0 auto;
  }

  .evt-rules{
    padding-left:138px;
    padding-top:30px;
    color:#907e59;
    h2{
      font-size:18px;
      margin-bottom: 5px;
    }
    p{
      font-size:16px;
      line-height: 1.5;
      padding-left: 1.5em;
      text-indent: -1.5em;
    }
  }
}