.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num,.noselect{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.evt-container{ overflow: hidden; background:url("../images/bg.jpg") repeat; }

.sec-banner{
  background:url("../images/banner.png") center; z-index: 1; height: 550px; overflow: hidden;
  .evt-content{ width: 1200px; margin: 0 auto; height: 550px; }
  .banner-t{ position: absolute; top:177px; left: 50%; margin-left: -336.5px;}
}

.hy-title{width: 747px; margin: 0 auto 50px;position: relative;}
.sec-1{
  .evt-content{ width: 1200px;  padding:0 0 60px;}
  .hongbao{position: relative; margin:50px auto 20px; text-align: center;
    .hb{position: absolute; bottom:0; width: 133px; height: 43px; color: #fff; font-size: 22px; text-align: center; letter-spacing: 3px; line-height: 43px; cursor: pointer;}
    .hb1{left: 222px;}
    .hb2{left: 536px;}
    .hb3{left: 848px;}
    .hb.on{color: #a19d9d;}
  }
}


.sec-3{  position: relative; z-index: 1; padding-top: 20px; padding-bottom: 50px;
  .evt-content{
    width: 1200px;
    .row{position: relative; }
    .price-title{margin-bottom:10px;}
    .row1{height: 520px;
      .cake{position: absolute;top:80px; left:144px;}
      .price{ top:90px; left: 628px;
        ul.price_p li {background:#ffbdbc !important;}
        h2, h2 span,s,.price_num dl dt span,.huangou{color: #9c0c0d;}
        ul.price_p li.cur, .buy_btn_box span{background: #de9092 !important;}
        .reduce {  background:url("../images/reduce-1.png") repeat scroll; background-size: 100%;  }
        .nopoint{  background: url("../images/add-1.png") repeat scroll; background-size: 100%;  }
        .icon,.icnone{background: url("../images/icon-1.png"); }
        .icon.on{background: url("../images/icon-1-h.png");}
      }
    }
    .row2{height: 540px;
      .cake{position: absolute; top: 20px; left: 423px;}
      .price{ top:87px; left: 150px;
        ul.price_p li {background:#f5dc77 !important;}
        h2, h2 span,s,.price_num dl dt span,.huangou{color: #d1a724;}
        ul.price_p li.cur, .buy_btn_box span{background: #eccc4d !important;}
        .reduce {  background:url("../images/reduce-2.png") repeat scroll; background-size: 100%;  }
        .nopoint{  background: url("../images/add-2.png") repeat scroll; background-size: 100%;  }
        .icon,.icnone{background: url("../images/icon-2.png"); }
        .icon.on{background: url("../images/icon-2-h.png");}
      }
    }
    .row3{height: 450px;
      .cake{position: absolute;top:20px; left: 100px;}
      .price{ top:60px; left: 628px;
        ul.price_p li {background:#e691a3 !important;}
        h2, h2 span,s,.price_num dl dt span,.huangou{color: #c54160;}
        ul.price_p li.cur, .buy_btn_box span{background: #d8788d !important;}
        .reduce {  background:url("../images/reduce-3.png") repeat scroll; background-size: 100%;  }
        .nopoint{  background: url("../images/add-3.png") repeat scroll; background-size: 100%;  }
        .icon,.icnone{background: url("../images/icon-3.png"); }
        .icon.on{background: url("../images/icon-3-h.png");}
      }

    }
    .row4{height: 540px;
      .cake{position: absolute;top: 60px; left: 510px;}
      .price{ top:87px; left: 190px;
        ul.price_p li {background:#ffbdbc !important;}
        h2, h2 span,s,.price_num dl dt span,.huangou{color: #9c0c0d;}
        ul.price_p li.cur, .buy_btn_box span{background: #de9092 !important;}
        .reduce {  background:url("../images/reduce-4.png") repeat scroll; background-size: 100%;  }
        .nopoint{  background: url("../images/add-4.png") repeat scroll; background-size: 100%;  }
        .icon,.icnone{background: url("../images/icon-4.png"); }
        .icon.on{background: url("../images/icon-4-h.png");}
      }
    }

    .row5{height: 540px;
      .cake{position: absolute;top:20px; left: 94px;}
      .price{ top:60px; left: 628px;
        ul.price_p li {background:#f5dc77 !important;}
        h2, h2 span,s,.price_num dl dt span,.huangou{color: #d1a724;}
        ul.price_p li.cur, .buy_btn_box span{background: #d1a724 !important;}
        .reduce {  background:url("../images/reduce-5.png") repeat scroll; background-size: 100%;  }
        .nopoint{  background: url("../images/add-5.png") repeat scroll; background-size: 100%;  }
        .icon,.icnone{background: url("../images/icon-5.png"); }
        .icon.on{background: url("../images/icon-5-h.png");}
      }

    }
    .row6{height: 520px;
      .cake{position: absolute;top: 60px; left: 460px;}
      .price{ top:87px; left: 190px;
        ul.price_p li {background:#f4d9a5 !important;}
        h2, h2 span,s,.price_num dl dt span,.huangou{color: #ba8420;}
        ul.price_p li.cur, .buy_btn_box span{background: #ba8420 !important;}
        .reduce {  background:url("../images/reduce-6.png") repeat scroll; background-size: 100%;  }
        .nopoint{  background: url("../images/add-6.png") repeat scroll; background-size: 100%;  }
        .icon,.icnone{background: url("../images/icon-6.png"); }
        .icon.on{background: url("../images/icon-6-h.png");}
      }
    }

    .more{ width: 398px !important;}
    .price-select{position: absolute; top:535px; left:628px; width:400px; padding:0;
      .price-title{margin-bottom: 30px;}
      .price{padding-left: 40px; position: relative;
        .select-li{position: absolute; left: 0; top:-3px;
          li{width: 34px; height: 33px; background: url("../images/icon-select.png") 0 0 no-repeat; margin-bottom: 10px; cursor: pointer;}
          li.on{ background: url("../images/icon-select.png") -50px 0 no-repeat;}
        }
      }
      .go-btn{ width: 166px; height: 45px; background:#e5b1bb; margin-top: 30px; cursor: pointer;
        span{display: block; line-height: 45px; color: #fff; font-size: 26px; text-align: center;}
      }
    }

  }
}

.sec-4{position: relative; z-index: 2;
  .evt-content{  width: 1200px;  padding:10px 0 50px;}
  .more{width: 176px;position: relative; margin: 0 auto;}
}

.evt-footer{ z-index: 1;
  position: relative;  background:url("../images/foot-bg.jpg") repeat; width: 100%;
  .evt-content{width: 1200px; color: #5b5b5b;}
    .evt-rules{width: 710px; margin: 0 auto; padding:100px 0 100px 55px;
      h2{ font-size: 24px;  font-weight: normal;  margin-bottom: 5px;  }
      p{ font-size:18px; line-height: 1.8em;  padding-left: 1.5em;  text-indent: -1.5em;  }
    }
}

.price .huangou{width:215px !important;}


.floater{  position: fixed; width: 145px; height: 145px; top: 600px;  z-index: 11; left: 50%; margin-left: 520px; cursor: pointer;
  .tips{ position: absolute; width: 50px; height: 50px; right:-5px; top: -5px; border-radius: 50%; background:url("../images/tips.png") center no-repeat; background-size: 100%; text-align: center; z-index: 12; cursor: Default;
    span{ font-size:18px; color: #fff; line-height: 50px;}
  }
}



