@charset "UTF-8";
.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}

.arrow-left {
  background: url(../images/arrows.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
}

.arrow-right {
  background: url(../images/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 5px;
  opacity: 0.8;
  cursor: pointer;
  border: 1px solid #eee;
  background: #aaa;
}

.swiper-visible-switch {
  background: #aaa;
}

.swiper-active-switch {
  background: #a5002f;
}

.slide-link {
  position: absolute;
  top: 0;
  left: 5%;
  display: block;
  width: 90%;
  height: 100%;
  z-index: 100;
}

.swiper-slide {
  position: relative;
}

.oldie .swiper-content {
  margin: 0 auto;
}

/*banner*/
.swiper-container {
  height: 550px;
}

.banner-slides {
  /*活动*/
}

.banner-slides .swiper-content {
  height: 550px;
}

.banner-slides .slides-foodPack .gao-line {
  top: 0px;
  left: -68px;
}

.banner-slides .slides-foodPack .title {
  top: 167px;
  left: 50px;
}

.banner-slides .slides-foodPack .bu {
  top: 53px;
  left: 89px;
}

.banner-slides .slides-foodPack .ren {
  top: 0px;
  left: 520px;
}

.banner-slides .slides-foodPack .c-zu {
  top: 90px;
  left: 465px;
}

.banner-slides .memberDay-10yue .swiper-content {
  width: 1200px;
}

.banner-slides .memberDay-10yue .swiper-content div {
  position: absolute;
}

.banner-slides .memberDay-10yue .swiper-content img {
  width: 100%;
}

.banner-slides .memberDay-10yue .banner-t {
  top: 110px;
  left: 50%;
  margin-left: -316px !important;
}

.banner-slides .happy-newyear .swiper-content {
  width: 1200px;
}

.banner-slides .happy-newyear .swiper-content div {
  position: absolute;
}

.banner-slides .happy-newyear .swiper-content img {
  width: 100%;
}

.banner-slides .happy-newyear .banner-n {
  width: 1037px;
  top: 120px;
  left: 100px;
}

.banner-slides .qingren-Day .swiper-content {
  width: 1200px;
}

.banner-slides .qingren-Day .swiper-content div {
  position: absolute;
}

.banner-slides .qingren-Day .lipin {
  position: absolute;
  right: -200px;
  top: -5px;
}

.banner-slides .new-people .swiper-content {
  width: 1200px;
}

.banner-slides .new-people .swiper-content div {
  position: absolute;
}

.banner-slides .new-people .swiper-content img {
  width: 100%;
}

.banner-slides .new-people .banner-t {
  top: 225px;
  left: 50%;
  margin-left: -358.5px !important;
}

/*兼容小屏幕*/
@media screen and (max-width: 1650px) {
  .slides-bafei .cake {
    left: 700px !important;
  }
  .lipin {
    right: -20px !important;
  }
}

/*浮动 1*/
.floater {
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 11;
  width: 300px;
}

.floater .floatImg {
  position: relative;
  font-size: 0;
}

.floater .floatImg img {
  width: 100%;
}

.floater .floatImg a {
  width: 100%;
  display: block;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
}

.floater .float-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

.floater .float-container {
  width: 300px;
  position: absolute;
  font-size: 0;
  top: 180px;
  left: 0;
  display: block;
}

/*浮动 2*/
.floaterIcon {
  position: fixed;
  top: 110px;
  z-index: 11;
}

.floaterIcon a {
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
