@-webkit-keyframes alternate-fade {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
}

@keyframes alternate-fade {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
}

@-webkit-keyframes mask-motion {
  0% {
    background-position: -100px 0;
  }
  40% {
    background-position: 185px 0;
  }
  100% {
    background-position: 185px 0;
  }
}

body, ul, li, ol, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  list-style: none;
}

img {
  border: 0;
}

#evt_loading {
  position: relative;
  height: 600px;
}

#evt_spin {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft YaHei",Tahoma,Arial;
}

.evt-container {
  position: relative;
  display: none;
}

body {
  overflow-x: hidden;
}

.evt-content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.evt-container {
  width: 100%;
  background-color: #ffeff0;
}

.evt-content .secItem {
  position: absolute;
}

.evt-content .secItem .arrow {
  position: absolute;
}

.evt-content a {
  outline: none;
}

.section-banner {
  position: relative;
  height: 567px;
  z-index: 10;
  background: url(../images/banner-bg.jpg) repeat-x 50% 0;
}

.section-banner .wo-banner {
  left: 164px;
  top: 65px;
}

.section-banner .line1-lace {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 26px;
  margin-top: -5px;
  background: url(../images/line1-lace.png) repeat-x;
}

.section-main {
  background: url("../images/bg.jpg") repeat;
}

.section-main .evt-content {
  height: 787px;
}

.section-main .rose-cake {
  z-index: 2;
  left: -2px;
  top: -56px;
}

.section-main .picture {
  z-index: 1;
  left: 546px;
  top: 80px;
}

.section-main .w1 {
  left: 625px;
  top: 488px;
}

.section-main .gobuy {
  width: 120px;
  height: 143px;
  top: 586px;
  left: 625px;
}

.section-main .gobuy .select-item {
  z-index: 10;
  height: 27px;
}

.section-main .gobuy .select-item b {
  float: left;
  display: block;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  width: 69px;
  height: 27px;
  font-size: 18px;
  text-align: left;
  line-height: 27px;
  padding-left: 5px;
  color: #4e1b20;
  background: url(../images/bangshu.png) center center no-repeat;
}

.section-main .gobuy .select-item ul {
  position: absolute;
  width: 46px;
  top: 30px;
  left: 50%;
  text-align: left;
  margin-left: -58px;
  font-size: 18px;
  background: url(../images/bangshuli.png) repeat-y;
  display: none;
  z-index: 10;
}

.section-main .gobuy .select-item ul li {
  height: 30px;
  width: 41px;
  padding-left: 5px;
  line-height: 30px;
  cursor: pointer;
  color: #baa1a4;
}

.section-main .gobuy .select-item ul li strong {
  font-size: 14px;
}

.section-main .gobuy .select-item ul li.on {
  color: #4e1b20;
}

.section-main .gobuy .price {
  width: 100%;
  font-style: normal;
  display: block;
  font-size: 28px;
  margin-top: 5px;
  line-height: 24px;
  color: #be9992;
  z-index: 1;
  text-align: left;
  font-weight: bold;
}

.section-main .gobuy .price i {
  font-size: 16px;
  vertical-align: top;
  font-style: normal;
}

.section-main .gobuy .old-price {
  width: 100%;
  font-style: normal;
  display: block;
  font-size: 21px;
  line-height: 26px;
  color: #be9992;
  text-align: left;
  font-weight: bold;
}

.section-main .gobuy .old-price i {
  font-size: 12px;
  vertical-align: super;
  font-style: normal;
}

.section-main .gobuy .line-through {
  z-index: 1;
  display: block;
  top: 80px;
  left: -3px;
  width: 100%;
  height: 0;
  margin-top: -12px;
  border-bottom: #be9992 1px solid;
}

.old-price.old-ie {
  text-decoration: line-through !important;
}

.old-price.old-ie .line-through {
  display: none !important;
}

.section-main .gobuy .gobuy-btn {
  cursor: pointer;
  margin-top: 15px;
}

.select-item b strong {
  font-size: 14px;
  font-weight: bold;
}

.line2-lace {
  position: absolute;
  width: 100%;
  height: 26px;
  margin-top: -25px;
  background: url(../images/line2-lace.png) repeat-x;
}

.evt-footer {
  position: relative;
  z-index: 10;
}

.evt-footer {
  height: 299px;
  background-color: #fff;
}

.evt-footer .footer-bd {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.evt-footer .evt-rules {
  padding-top: 41px;
  padding-left: 65px;
  color: #000;
}

.evt-footer .evt-rules h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 18px;
  line-height: 2;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
