@charset "UTF-8";
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.word, span.num {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.evt-container {
  overflow: hidden;
  background: #fefff1;
}

.sec-banner {
  position: relative;
  z-index: 1;
}

.sec-banner .evt-content {
  width: 1100px;
  height: 700px;
}

.sec-banner .evt-content div {
  position: absolute;
}

.sec-banner .evt-content .banner-bg {
  top: 100px;
  left: 100px;
}

.sec-banner .evt-content .b-cake-1 {
  top: 300px;
  left: 70px;
}

.sec-banner .evt-content .b-cake-2 {
  top: 379px;
  left: 400px;
}

.sec-banner .evt-content .b-cake-3 {
  top: 318px;
  left: 652px;
}

.sec-banner .evt-content .m-logo {
  top: 30px;
  left: 393px;
}

.sec-banner .evt-content .cake-title {
  top: 139px;
  left: 309px;
}

.sec-banner .evt-content .des-1 {
  top: 100px;
  left: -116px;
}

.sec-banner .evt-content .des-2 {
  top: -20px;
  left: 970px;
}

.sec-fuli {
  position: relative;
  z-index: 1;
}

.sec-fuli .evt-content {
  width: 1100px;
  height: 669px;
}

.sec-fuli .evt-content div {
  position: absolute;
}

.sec-fuli .evt-content .fuli-title {
  top: 0;
  left: 195px;
}

.sec-fuli .evt-content .fuli-txt {
  top: 191px;
  left: 160px;
}

.sec-chihuo {
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.sec-chihuo .des-4 {
  position: absolute;
  top: 520px;
  left: -246px;
}

.sec-chihuo .des-5 {
  position: absolute;
  top: 1240px;
  right: -300px;
}

.sec-chihuo .des-3 {
  position: absolute;
  top: -150px;
  right: -150px;
  z-index: -1;
}

.sec-chihuo .des-7 {
  position: absolute;
  top: 512px;
  left: 104px;
}

.sec-chihuo .des-6 {
  position: absolute;
  top: 394px;
  left: 876px;
  z-index: -1;
}

.sec-chihuo .evt-content {
  padding-top: 1px;
  overfl: hidden;
  z-index: 2;
  width: 1100px;
  background: url("../images/chihuo-bg.png") no-repeat;
  border-radius: 10px;
  padding-bottom: 60px;
}

.sec-chihuo .evt-content .chihuo-title {
  top: -50px;
  left: 240px;
  border: 1px solid transparent;
}

.sec-chihuo .evt-content .chihuo-title .txt {
  bottom: -4px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #000;
}

.sec-chihuo .evt-content .chihuo-title .txt b {
  color: #fb6169;
}

.sec-chihuo .evt-content .chihuo-title .vote-txt {
  bottom: -60px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #000;
  background: url("../images/vote-bg.png") center no-repeat;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  overflow: hidden;
}

.sec-chihuo .evt-content .chihuo-title .vote-txt li {
  height: 48px;
}

.sec-chihuo .evt-content .chihuo-title .vote-txt em {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 10px;
}

.sec-chihuo .evt-content .chihuo-title .vote-txt img {
  width: 100%;
}

.sec-chihuo .evt-content .vote-cake {
  width: 920px;
  margin: 700px auto 0;
}

.sec-chihuo .evt-content .vote-cake .row {
  position: relative;
  width: 435px;
  height: 400px;
  float: left;
  background: #fff;
  border-radius: 10px;
  margin-top: 150px;
  margin-right: 40px;
}

.sec-chihuo .evt-content .vote-cake .row .mark {
  position: absolute;
  left: 0;
  top: 0;
  width: 73px;
  height: 73px;
  text-align: left;
  padding-left: 15px;
  line-height: 50px;
  color: #fff;
  font-size: 36px;
  border-radius: 10px 0 0 0;
  background: url("../images/mark-0.png") no-repeat;
}

.sec-chihuo .evt-content .vote-cake .row .mark-1 {
  background: url("../images/mark-1.png") no-repeat;
}

.sec-chihuo .evt-content .vote-cake .row .mark-2 {
  background: url("../images/mark-2.png") no-repeat;
}

.sec-chihuo .evt-content .vote-cake .row .mark-3 {
  background: url("../images/mark-3.png") no-repeat;
}

.sec-chihuo .evt-content .vote-cake .row .guan {
  position: absolute;
  left: 50%;
  top: -86px;
  margin-left: -106px;
  width: 89px;
  height: 81px;
}

.sec-chihuo .evt-content .vote-cake .row .guan-1 {
  background: url("../images/guan-1.png") no-repeat;
}

.sec-chihuo .evt-content .vote-cake .row .guan-2 {
  background: url("../images/guan-2.png") no-repeat;
}

.sec-chihuo .evt-content .vote-cake .row .guan-3 {
  background: url("../images/guan-3.png") no-repeat;
}

.sec-chihuo .evt-content .vote-cake .row .vote-btn {
  position: absolute;
  left: 50%;
  top: 50px;
  margin-left: 40px;
  width: 104px;
  height: 104px;
  background: url("../images/vote-btn-1.png") no-repeat;
  cursor: pointer;
}

.sec-chihuo .evt-content .vote-cake .row .vote-btn.hover {
  background: url("../images/vote-btn-2.png") no-repeat;
}

.sec-chihuo .evt-content .vote-cake .row .vote-btn.end {
  background: url("../images/vote-btn-3.png") no-repeat;
}

.sec-chihuo .evt-content .vote-cake .row .cake {
  position: absolute;
  top: -72px;
  left: 50%;
  width: 206px;
  margin-left: -103px;
}

.sec-chihuo .evt-content .vote-cake .row .cake img {
  width: 100%;
}

.sec-chihuo .evt-content .vote-cake .row .price {
  position: absolute;
  top: 210px;
  left: 50%;
  width: 380px;
  margin-left: -190px;
}

.sec-chihuo .evt-content .vote-cake .row.first-cake {
  position: absolute;
  top: 190px;
  left: 50%;
  margin-left: -217.5px;
}

.sec-chihuo .evt-content .vote-cake .row:nth-of-type(2n+1) {
  margin-right: 0;
}

.sec-chihuo .evt-content .vote-cake .row.noMargin {
  margin-right: 0;
}

.sec-ch-fuli {
  position: relative;
}

.sec-ch-fuli .evt-content {
  width: 1100px;
}

.sec-ch-fuli .evt-content .ch-fuli-title {
  position: relative;
  width: 577px;
  margin: 0 auto;
}

.sec-ch-fuli .evt-content .ch-fuli-quan {
  position: relative;
  width: 1066px;
  margin: 0 auto;
}

.sec-ch-fuli .evt-content .ch-fuli-quan .fuli-btn-1 {
  position: absolute;
  left: 150px;
  top: 120px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.sec-ch-fuli .evt-content .ch-fuli-quan .fuli-1-hover {
  position: absolute;
  left: 148px;
  top: 168px;
  display: none;
}

.sec-ch-fuli .evt-content .ch-fuli-quan .fuli-btn-2 {
  position: absolute;
  right: 150px;
  top: 120px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
}

.sec-ch-fuli .evt-content .ch-fuli-quan .fuli-2-hover {
  position: absolute;
  right: 134px;
  top: 168px;
  display: none;
}

.sec-ch-fuli .evt-content .ch-fuli-quan .DBlock {
  display: block;
}

.more {
  width: 402px;
  height: 116px;
  margin: 50px auto;
  background: url("../images/more.png");
  cursor: pointer;
}

.more.hover {
  background: url("../images/more-hover.png");
}

/*投票*/
.piao-num {
  position: absolute;
  top: 160px;
  left: 50%;
  width: 380px;
  margin-left: -190px;
  border-bottom: #ececec 1px solid;
  padding-bottom: 26px;
}

.piao-num .percent-wrap {
  position: relative;
  width: 140px;
  height: 5px;
  background: #ececec;
  border-radius: 5px;
  margin-left: 94px;
}

.piao-num .percent-wrap .percent {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: #da3636;
  border-radius: 5px;
}

.piao-num .percent-wrap .ptxt {
  position: absolute;
  top: -12px;
  left: 147px;
  font-size: 22px;
  width: 100px;
}

.piao-num .percent-wrap .ptxt i {
  color: #fc6267;
  font-style: normal;
}

/*价格*/
.price {
  position: absolute;
  width: 392px;
  text-align: center;
}

.price .price-title {
  margin-top: 10px;
}

.price h2 {
  font-size: 28px;
  font-weight: normal;
  line-height: 30px;
  color: #fc6267;
}

.price h2 i {
  font-size: 14px;
  font-style: normal;
  vertical-align: super;
}

.price h2 span {
  font-size: 28px;
  color: #fc6267;
}

.price h2 b {
  font-weight: normal;
}

.price h2 p {
  display: inline-block;
}

.price h2 .p-new {
  margin-right: 10px;
}

.price h2 .p-old {
  font-size: 16px;
  color: #888888;
  font-weight: normal;
  line-height: 26px;
  text-decoration: sh;
}

.price h2 .p-old.delete {
  text-decoration: line-through;
}

.price h2 .p-old.bigfont {
  font-size: 28px;
  font-weight: normal;
}

.price ul.price_p {
  margin: 20px auto;
  background: #ececec;
  color: #000;
  width: 220px;
  height: 23px;
  border-radius: 23px;
}

.price ul.price_p.short {
  width: 60px;
}

.price ul.price_p.short li {
  width: 100% !important;
}

.price ul.price_p.short2 {
  width: 100px;
}

.price ul.price_p li {
  cursor: pointer;
  width: 25%;
  float: left;
  line-height: 23px;
  text-align: center;
  background-color: #ececec;
  border-radius: 23px;
  color: #000;
  font-size: 15px;
}

.price ul.price_p li span {
  padding: 0 5px;
}

.price ul.price_p li.cur {
  background: #fc6267 !important;
  color: #fff !important;
}

.price ul.price_p li.hover {
  background: #fc6267;
  color: #fff;
}

.price .price_num {
  width: 124px;
  margin: 15px auto;
}

.price .price_num dl {
  float: left;
}

.price .price_num dl dd {
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.price .price_num dl dd.reduce {
  background: url("../images/reduce-1.png") repeat;
  background-size: 100%;
  float: left;
}

.price .price_num dl dd.add {
  background: url("../images/add-1.png") repeat scroll;
  background-size: 100%;
  float: right;
}

.price .price_num dl dt {
  float: left;
  height: 26px;
  margin: 0 5px;
}

.price .price_num dl dt span {
  display: block;
  width: 55px;
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #9b4245;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
}

.price ul.buy_btn_box {
  overflow: hidden;
  width: 138px;
  margin: 20px auto;
}

.price ul.buy_btn_box li {
  float: left;
  height: 40px;
  margin-right: 5px;
}

.price ul.buy_btn_box li.fr {
  float: right;
}

.price ul.buy_btn_box li span {
  display: block;
  width: 130px;
  background: #fc6267;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
  border-radius: 5px;
  border-radius: 40px;
}

.price ul.buy_btn_box li.hover span {
  background: #ff7d81;
}

/*右侧二维码*/
.CodeRight {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -201px;
  margin-left: 350px;
  z-index: 2;
  display: block;
}

.CodeRight .code-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 76px;
  height: 76px;
  margin-top: -66px;
  margin-left: -40px;
}

.CodeRight .code-url {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 16px;
  margin-top: 55px;
  margin-left: -50px;
  border: #b5b5b5 1px solid;
}

.CodeRight .code-url input {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  font-size: 10px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

/*优惠券 彈窗*/
.Dialogbg-tip {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none;
  -moz-opacity: .7;
  filter: alpha(opacity=70);
}

.Dialog-tip {
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 0 #999;
  font-size: 14px;
  width: 460px;
  height: 605px;
  margin: -302.5px  auto 0 -230px;
  padding: 0;
  z-index: 99999;
  display: none;
  border-radius: 15px;
  background: #f2f2f2;
}

.Dialog-tip .tip-wrap {
  display: none;
}

.Dialog-tip .tip-wrap .tip-header {
  text-align: center;
  padding: 30px 0;
  background: #fff;
  border-radius: 15px 15px 0 0;
}

.Dialog-tip .tip-wrap .tip-header img {
  margin: 20px auto;
}

.Dialog-tip .tip-wrap .tip-header h2 {
  font-size: 26px;
  line-height: 40px;
}

.Dialog-tip .tip-wrap .tip-header p {
  font-size: 13px;
  line-height: 30px;
}

.Dialog-tip .tip-wrap .tip-header p b {
  color: #ff636c;
}

.Dialog-tip .tip-wrap .tip-footer {
  background: #f2f2f2 url("../images/quan-line.jpg") top repeat-x;
  padding-top: 1px;
  text-align: center;
}

.Dialog-tip .tip-wrap .tip-footer .ewm {
  position: relative;
  width: 398px;
  margin: 20px auto 10px;
}

.Dialog-tip .tip-wrap .tip-footer .ewm .ewm-box {
  position: absolute;
  width: 187px;
  height: 182px;
  top: 23px;
  left: 107px;
}

.Dialog-tip .tip-wrap .tip-footer .p1 {
  font-size: 14px;
  color: #000;
}

.Dialog-tip .tip-wrap .tip-footer .p1 span {
  color: #fc6267;
}

.Dialog-tip .tip-wrap .tip-footer .p2 {
  font-size: 12px;
  color: #737373;
  line-height: 30px;
}

.Dialog-tip .tip-wrap .tip-footer .copy-link {
  width: 360px;
  margin: 10px auto 0;
}

.Dialog-tip .tip-wrap .tip-footer .copy-link input {
  width: 250px;
  border: #b5b5b5 1px solid;
  line-height: 20px;
  margin-left: 20px;
}

.Dialog-tip .tip-wrap .tip-footer .copy-link span {
  background: #e2e2e2;
  line-height: 20px;
  padding: 2px 10px;
  color: #000;
}

.Dialog-tip .tip-wrap .go-btn {
  position: absolute;
  bottom: -70px;
  width: 370px;
  left: 50%;
  margin-left: -185px;
}

.Dialog-tip .tip-wrap .go-btn span {
  display: block;
  width: 156px;
  height: 50px;
  border-radius: 50px;
  background: #ffffff;
  text-align: center;
  line-height: 50px;
  float: left;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.Dialog-tip .tip-wrap .go-btn .go-wait {
  float: right;
}

.Dialog-tip .tip-2 .tip-header img {
  margin: 0 auto;
}

.Dialog-tip .closes {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  z-index: 8;
  background: url("../images/close.png") no-repeat;
}

.evt-footer {
  position: relative;
  background: url("../images/foot-bg.png") center;
  width: 100%;
}

.evt-footer .evt-content {
  width: 900px;
}

.evt-footer .evt-rules {
  width: 1200px;
  margin: 0 auto;
  padding: 70px 0 60px 55px;
  color: #000;
}

.evt-footer .evt-rules h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 18px;
  line-height: 1.8em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
