@charset "UTF-8";
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/*数量加减时，禁止双击选中*/
span.num, .noselect {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.evt-container {
  overflow: hidden;
  background: url("../images/bg1.png?v=123") center bottom repeat;
}

.sec-banner {
  max-width: 1920px;
  max-height: 909px;
  height: 100%;
  background: url(../images/banner.png) center center/auto 100% no-repeat;
  background: url(../images/banner.png) center no-repeat\9;
  overflow: hidden;
}

.hy-title {
  margin: 0 auto;
  padding: 120px 0;
  position: relative;
  text-align: center;
}

.hy-title img {
  margin: 0 auto;
}

.dis {
  position: absolute;
  left: 50%;
}

.dis-1 {
  top: 350px;
  margin-left: -650px;
}

.sec-star {
  position: relative;
  margin-top: -300px;
}

.sec-star .evt-content {
  width: 1141px;
}

.sec-star .swipe-cake {
  width: 1049px;
  position: relative;
  height: 527px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 20px 20px  30px #d3e3f8;
  overflow: hidden;
}

.sec-star .swipe-cake .star {
  position: absolute;
  z-index: 2;
  top: 25px;
  right: 50px;
}

.sec-star .swipe-cake-price {
  position: relative;
  width: 1049px;
  margin: 0 auto;
  padding: 50px 0;
}

.sec-star .swipe-cake-price .cake-t {
  width: 524px;
  float: left;
}

.sec-star .swipe-cake-price .price {
  position: absolute;
  left: auto;
  top: 50px;
  right: 0;
  width: 164px;
  text-align: center;
}

.sec-star .swipe-cake-price .price .buy_btn_box {
  position: absolute;
  top: 66px;
  left: 12px;
}

.sec-star .swipe-cake-price .price h2 {
  color: #27538d;
}

.sec-star .swipe-cake-price .price h2 span {
  color: #27538d;
}

.sec-star .swipe-cake-price .price s {
  color: #27538d;
}

.sec-star .swipe-cake-price .price ul.buy_btn_box li {
  margin-right: 0;
}

.sec-star .swipe-cake-price .price .buy_btn {
  background: #ebb2b3;
  color: #fff;
}

.sec-survey {
  position: relative;
}

.sec-survey .evt-content {
  width: 1183px;
}

.sec-survey .pct-survey {
  width: 1191px;
  height: 423px;
  background: url("../images/wenda.png");
  padding-top: 1px;
}

.sec-survey .pct-survey .qt {
  position: absolute;
  top: 178px;
  left: 50%;
  margin-left: -485px;
  text-align: center;
  width: 970px;
  color: #000;
  display: none;
  z-index: 1;
}

.sec-survey .pct-survey .qt h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 10px;
}

.sec-survey .pct-survey .qt .options {
  margin: 0 auto;
}

.sec-survey .pct-survey .qt span {
  position: relative;
  width: 170px;
  text-align: left;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}

.sec-survey .pct-survey .qt span img {
  margin: 0;
  float: left;
}

.sec-survey .pct-survey .qt span .select {
  position: absolute;
  top: 17px;
  right: 20px;
  text-align: center;
  width: 20px;
  height: 18px;
  cursor: pointer;
}

.sec-survey .pct-survey .qt span .seld-1.on {
  background: url("../images/hook-1.png");
}

.sec-survey .pct-survey .qt span .seld-2.on {
  background: url("../images/hook-2.png");
}

.sec-survey .pct-survey .qt span .seld-3.on {
  background: url("../images/hook-3.png");
}

.sec-survey .pct-survey .qt span .seld-4.on {
  background: url("../images/hook-4.png");
}

.sec-survey .pct-survey .qt .next, .sec-survey .pct-survey .qt .submit {
  text-align: center;
  width: 156px;
  margin: 30px auto 0;
  cursor: pointer;
}

.sec-survey .pct-survey .a-shake {
  animation: shake 3s infinite;
}

.sec-survey .pct-survey input {
  position: absolute;
  left: 80px;
  top: 12px;
  width: 70px;
  height: 24px;
  color: #c9b852;
  font-size: 16px;
  background: none;
  border: none;
}

.sec-cake {
  position: relative;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 0;
}

.sec-cake .evt-content {
  width: 1141px;
}

.sec-cake .evt-content .row {
  position: relative;
}

.sec-cake .evt-content .row {
  height: 520px;
}

.sec-cake .evt-content .row .cake {
  position: absolute;
  top: 0;
  left: 11px;
}

.sec-cake .evt-content .row .price {
  top: 140px;
  left: 650px;
}

.sec-cake .evt-content .row .price .nopoint.minus {
  background: url("../images/in-a-1.png") center no-repeat;
}

.sec-cake .evt-content .row .price .nopoint.plus {
  background: url("../images/in-a-2.png") center no-repeat;
}

.sec-cake .evt-content .row2 .cake {
  position: absolute;
  top: 0;
  left: 525px;
}

.sec-cake .evt-content .row2 .price {
  top: 140px;
  left: 160px;
}

.sec-cake .evt-content .row3 .cake {
  position: absolute;
  top: -50px;
  left: -35px;
}

.sec-cake .evt-content .row3 .price {
  top: 130px;
  left: 650px;
}

.sec-cake .evt-content .row4 .cake {
  position: absolute;
  top: 0;
  left: 525px;
}

.sec-cake .evt-content .row4 .price {
  top: 100px;
  left: 160px;
}

.more {
  width: 144px;
  position: relative;
  margin: 0 auto;
  background: #cd686d;
  border-radius: 50px;
  text-align: center;
}

.more span {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 35px;
}

.evt-footer {
  z-index: 1;
  position: relative;
}

.evt-footer .evt-content {
  width: 1200px;
  color: #577295;
}

.evt-footer .evt-rules {
  width: 860px;
  margin: 0 auto;
  padding: 100px 0 80px 20px;
}

.evt-footer .evt-rules h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 18px;
  line-height: 1.8em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

/*快速点击数量加减时，或者禁止双击选中*/
span.num, .noselect {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*价格样式 通用*/
.price {
  position: absolute;
  width: 392px;
  text-align: left;
}

.price h2 {
  margin: 13px 0 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #5a84b9;
  text-align: left;
}

.price h2 i {
  font-size: 14px;
  font-style: normal;
  vertical-align: baseline;
}

.price h2 span {
  font-size: 28px;
  color: #5a84b9;
}

.price s {
  font-size: 16px;
  color: #000;
  font-weight: normal;
  line-height: 26px;
  text-decoration: sh;
  margin-left: 5px;
}

.price b {
  font-weight: normal;
}

.price em {
  font-style: normal;
}

.price .price-title {
  margin-bottom: 50px !important;
}

/*换购*/
.price .huangou {
  position: relative;
  width: 210px;
  font-size: 18px;
  color: #9b4245;
  margin: 10px auto;
  cursor: pointer;
  padding-left: 30px;
  text-align: left;
}

.price .huangou .icnone {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  z-index: 1;
}

.price .huangou .icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  z-index: 2;
}

.price .huangou {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*订购，加入购物清单*/
.price ul.buy_btn_box {
  overflow: hidden;
  width: 140px;
  margin: 15px 0 0;
  float: left;
}

.price ul.buy_btn_box.twoBtn {
  width: 280px;
}

.price ul.buy_btn_box li {
  float: left;
  height: 40px;
  margin-right: 5px;
}

.price ul.buy_btn_box li.fr {
  float: right;
}

.price ul.buy_btn_box li span {
  display: block;
  width: 130px;
  background: #aac7eb;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  font-size: 17px;
  text-align: center;
  border-radius: 15px;
}

.bangshu {
  width: 161px;
  height: 30px;
  margin: 15px 0 10px 10px;
  float: left;
  border: #5a84b9 1px solid;
  border-radius: 17px;
}

.bangshu dd {
  float: left;
}

.bangshu dt {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 30px;
}

.bangshu dt span {
  display: block;
  color: #5a84b9;
  font-size: 15px;
}

/*加减按钮*/
.nopoint {
  width: 20px;
  height: 20px;
  background: url("../images/in-a-1.png") center no-repeat;
  cursor: pointer;
  border: 5px solid transparent;
}

.nopoint.plus {
  background: url("../images/in-a-2.png") center no-repeat;
}

/*彈窗*/
.Dialogbg-quan {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none;
  -moz-opacity: .7;
  filter: alpha(opacity=70);
}

.Dialog-quan {
  box-shadow: 0 0 0 #999;
  font-size: 14px;
  height: auto !important;
  padding: 1px;
  top: 50%;
  left: 50%;
  margin: -180px auto 0 -200px !important;
  position: fixed;
  z-index: 99999;
  display: none;
}

.Dialog-quan .closes {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 8;
  background: url("../images/close2.png") no-repeat;
}

.Dialog-quan .quan {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.Dialog-quan .quan .go-use {
  display: block;
  position: absolute;
  bottom: 90px;
  left: 50%;
  margin-left: -78px;
  width: 156px;
  cursor: pointer;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  position: relative;
  font-size: 18px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.pagination {
  position: absolute !important;
  left: 0;
  text-align: center;
  bottom: 50px;
  width: 100%;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: #fff;
  margin: 0 5px;
  opacity: 1;
  cursor: pointer;
}

.swiper-active-switch {
  background: #626262;
  opacity: 1;
}

@media (max-width: 1600px) {
  .sec-banner {
    height: 500px;
  }
  .sec-star {
    margin-top: -220px;
  }
  .sec-star .swipe-cake-price .cake-t {
    width: 437px;
  }
  .sec-star .swipe-cake-price .cake-t img {
    width: 100%;
  }
  .sec-star .swipe-cake-price {
    width: 717px;
    padding: 50px 0;
  }
  .sec-star .swipe-cake-price .price {
    top: 44px;
  }
  .sec-star .swipe-cake {
    width: 717px;
    height: 360px;
    margin: 0 auto;
  }
  .sec-star .swipe-cake .star {
    right: 27px;
  }
  .hy-title {
    padding: 50px 0;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-10px) rotate(-5deg);
  }
  30% {
    transform: translateX(8px) rotate(3deg);
  }
  45% {
    transform: translateX(-6px) rotate(-3deg);
  }
  60% {
    transform: translateX(4px) rotate(2deg);
  }
  75% {
    transform: translateX(-2px) rotate(-1deg);
  }
  100% {
    transform: translateX(0);
  }
}
