.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.evt-container {
  overflow: hidden;
}

.sec-top {
  background: url("../images/top-bg.jpg") center;
  z-index: 1;
}

.sec-top .evt-content {
  width: 1000px;
  height: 621px;
}

.sec-top .evt-content .mym-a {
  width: 240px;
  height: 241px;
  top: 247px;
  left: 874px;
}

.sec-top .evt-content .mym-b {
  width: 118px;
  height: 109px;
  top: 68px;
  left: 909px;
}

.sec-top .evt-content .mym-c {
  width: 207px;
  height: 209px;
  top: 176px;
  left: -67px;
}

.sec-top .evt-content .title {
  top: 111px;
  left: 235px;
}

.sec-top .evt-content .cake-big {
  top: 280px;
  left: 88px;
}

.sec-top .evt-content .top-cm {
  top: 0;
  left: 100px;
}

.sec-top .evt-content .cake-small {
  width: 223px;
  height: 222px;
  top: 510px;
  left: -112px;
  background: url("../images/cake-small.png");
}

.sec-top .evt-content .cake-small.c-l-2 {
  left: -335px;
}

.sec-top .evt-content .cake-small.c-l-3 {
  left: -557px;
}

.sec-top .evt-content .cake-small.c-r-1 {
  left: 874px;
}

.sec-top .evt-content .cake-small.c-r-2 {
  left: 1096px;
}

.sec-top .evt-content .cake-small.c-r-3 {
  left: 1318px;
}

.main-top-bar {
  position: relative;
  width: 100%;
  margin-top: -25px;
  height: 38px;
  background: url("../images/bolang.png") repeat-x;
  z-index: 10;
}

.sec-main {
  background: url("../images/main-bg.jpg") repeat;
  z-index: 10;
  position: relative;
}

.sec-main .evt-content {
  width: 1000px;
  height: 1531px;
}

.sec-main .evt-content .cake-yuan {
  top: 126px;
  left: 276px;
}

.sec-main .evt-content .classic {
  top: 126px;
  left: -100px;
}

.sec-main .evt-content .qz {
  top: 187px;
  left: 658px;
}

.sec-main .evt-content .word-title {
  top: 762px;
  left: -158px;
}

.sec-main .evt-content .line-1 {
  top: 895px;
  left: -99px;
}

.sec-main .evt-content .line-2 {
  top: 1095px;
  left: -99px;
}

.sec-main .evt-content .mym {
  top: 833px;
  left: 712px;
}

.sec-main .evt-content .go-btn {
  width: 152px;
  height: 48px;
  background: url("../images/btn.png");
  top: 983px;
  left: 524px;
}

.sec-main .evt-content .go-btn a {
  display: block;
  width: 100%;
  height: 100%;
}

.sec-main .evt-content .go-btn.btn-1 {
  top: 1157px;
}

.evt-footer {
  position: relative;
  background: #4e3d40;
  z-index: 10;
  width: 100%;
}

.evt-footer .footer-left {
  position: relative;
  float: left;
  width: 45%;
  height: 340px;
  background: url("../images/footer-left_02.jpg") center;
  background-size: cover;
}

.evt-footer .footer-bd {
  float: left;
  position: relative;
  width: 55%;
  color: #fff;
}

.evt-footer .footer-bd .evt-rules {
  width: 70%;
  padding: 70px 0 15px 60px;
}

.evt-footer .footer-bd .evt-rules h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
}

.evt-footer .footer-bd .evt-rules p {
  font-size: 18px;
  line-height: 1.8em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.evt-footer .footer-bd .x-mym {
  position: absolute;
  top: -63px;
  right: 10%;
}
