@charset "UTF-8";
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/*数量加减时，禁止双击选中*/
span.num, .noselect {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.evt-container {
  overflow: hidden;
  background: url("../images/bg.jpg") repeat;
}

.sec-banner {
  background: url("../images/banner.png") center;
  z-index: 1;
  height: 536px;
  overflow: hidden;
}

.sec-banner .evt-content {
  width: 1200px;
  margin: 0 auto;
  height: 536px;
}

.sec-banner .banner-t {
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -336.5px;
}

.hy-title {
  width: 747px;
  margin: 0 auto 50px;
  position: relative;
}

.sec-1 {
  position: relative;
  padding-top: 100px;
}

.sec-1 .evt-content {
  width: 1200px;
}

.sec-1 .row {
  position: relative;
}

.sec-1 .row1 {
  height: 520px;
}

.sec-1 .row1 .cake {
  position: absolute;
  top: 20px;
  left: 100px;
}

.sec-1 .row1 .price {
  top: 120px;
  left: 628px;
}

.sec-1 .row1 .price ul.price_p li {
  background: #d8788d !important;
}

.sec-1 .row1 .price h2, .sec-1 .row1 .price h2 span, .sec-1 .row1 .price s, .sec-1 .row1 .price .price_num dl dt span, .sec-1 .row1 .price .huangou {
  color: #d8788d;
}

.sec-1 .row1 .price ul.price_p li.cur, .sec-1 .row1 .price .buy_btn_box span {
  background: #d8788d !important;
}

.sec-1 .row1 .price .reduce {
  background: url("../images/reduce-4.png") no-repeat scroll;
  background-size: 100%;
}

.sec-1 .row1 .price .nopoint {
  background: url("../images/add-4.png") no-repeat scroll;
  background-size: 100%;
}

.sec-1 .row2 {
  height: 540px;
}

.sec-1 .row2 .cake {
  position: absolute;
  top: 50px;
  left: 518px;
}

.sec-1 .row2 .price {
  top: 87px;
  left: 150px;
}

.sec-1 .row2 .price ul.price_p li {
  background: #77483a !important;
}

.sec-1 .row2 .price h2, .sec-1 .row2 .price h2 span, .sec-1 .row2 .price s, .sec-1 .row2 .price .price_num dl dt span, .sec-1 .row2 .price .huangou {
  color: #77483a;
}

.sec-1 .row2 .price ul.price_p li.cur, .sec-1 .row2 .price .buy_btn_box span {
  background: #77483a !important;
}

.sec-1 .row2 .price .reduce {
  background: url("../images/reduce-5.png") no-repeat scroll;
  background-size: 100%;
}

.sec-1 .row2 .price .nopoint {
  background: url("../images/add-5.png") no-repeat scroll;
  background-size: 100%;
}

.sec-2 {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 50px;
}

.sec-2 .evt-content {
  width: 1200px;
}

.sec-2 .evt-content .row {
  position: relative;
}

.sec-2 .evt-content .price-title {
  margin-bottom: 10px;
}

.sec-2 .evt-content .row1 {
  height: 520px;
}

.sec-2 .evt-content .row1 .cake {
  position: absolute;
  top: 20px;
  left: 570px;
}

.sec-2 .evt-content .row1 .price {
  top: 87px;
  left: 150px;
}

.sec-2 .evt-content .row1 .price ul.price_p li {
  background: #de9092 !important;
}

.sec-2 .evt-content .row1 .price h2, .sec-2 .evt-content .row1 .price h2 span, .sec-2 .evt-content .row1 .price s, .sec-2 .evt-content .row1 .price .price_num dl dt span, .sec-2 .evt-content .row1 .price .huangou {
  color: #b93c3c;
}

.sec-2 .evt-content .row1 .price ul.price_p li.cur, .sec-2 .evt-content .row1 .price .buy_btn_box span {
  background: #b93c3c !important;
}

.sec-2 .evt-content .row1 .price .reduce {
  background: url("../images/reduce-3.png") no-repeat scroll;
  background-size: 100%;
}

.sec-2 .evt-content .row1 .price .nopoint {
  background: url("../images/add-3.png") no-repeat scroll;
  background-size: 100%;
}

.sec-2 .evt-content .row2 {
  height: 540px;
}

.sec-2 .evt-content .row2 .cake {
  position: absolute;
  top: 20px;
  left: 144px;
}

.sec-2 .evt-content .row2 .price {
  top: 130px;
  left: 628px;
}

.sec-2 .evt-content .row2 .price ul.price_p li {
  background: #de9092 !important;
}

.sec-2 .evt-content .row2 .price h2, .sec-2 .evt-content .row2 .price h2 span, .sec-2 .evt-content .row2 .price s, .sec-2 .evt-content .row2 .price .price_num dl dt span, .sec-2 .evt-content .row2 .price .huangou {
  color: #b93c3c;
}

.sec-2 .evt-content .row2 .price ul.price_p li.cur, .sec-2 .evt-content .row2 .price .buy_btn_box span {
  background: #b93c3c !important;
}

.sec-2 .evt-content .row2 .price .reduce {
  background: url("../images/reduce-3.png") no-repeat scroll;
  background-size: 100%;
}

.sec-2 .evt-content .row2 .price .nopoint {
  background: url("../images/add-3.png") no-repeat scroll;
  background-size: 100%;
}

.sec-2 .evt-content .row3 {
  height: 450px;
}

.sec-2 .evt-content .row3 .cake {
  position: absolute;
  top: 20px;
  left: 511px;
}

.sec-2 .evt-content .row3 .price {
  top: 87px;
  left: 150px;
}

.sec-2 .evt-content .row3 .price ul.price_p li {
  background: #e3a47e !important;
}

.sec-2 .evt-content .row3 .price .buy_btn_box span {
  background: #c1764a !important;
}

.sec-2 .evt-content .row3 .price ul.price_p li.cur {
  background: #c1764a !important;
}

.sec-2 .evt-content .row3 .price h2, .sec-2 .evt-content .row3 .price h2 span, .sec-2 .evt-content .row3 .price s, .sec-2 .evt-content .row3 .price .price_num dl dt span, .sec-2 .evt-content .row3 .price .huangou {
  color: #c1764a;
}

.sec-2 .evt-content .row3 .price .reduce {
  background: url("../images/reduce-1.png") no-repeat scroll;
  background-size: 100%;
}

.sec-2 .evt-content .row3 .price .nopoint {
  background: url("../images/add-1.png") no-repeat scroll;
  background-size: 100%;
}

.sec-2 .evt-content .row4 {
  height: 540px;
}

.sec-2 .evt-content .row4 .cake {
  position: absolute;
  top: 20px;
  left: 144px;
}

.sec-2 .evt-content .row4 .price {
  top: 150px;
  left: 628px;
}

.sec-2 .evt-content .row4 .price ul.price_p li {
  background: #e3a47e !important;
}

.sec-2 .evt-content .row4 .price h2, .sec-2 .evt-content .row4 .price h2 span, .sec-2 .evt-content .row4 .price s, .sec-2 .evt-content .row4 .price .price_num dl dt span, .sec-2 .evt-content .row4 .price .huangou {
  color: #c1764a;
}

.sec-2 .evt-content .row4 .price ul.price_p li.cur, .sec-2 .evt-content .row4 .price .buy_btn_box span {
  background: #c1764a !important;
}

.sec-2 .evt-content .row4 .price .reduce {
  background: url("../images/reduce-1.png") no-repeat scroll;
  background-size: 100%;
}

.sec-2 .evt-content .row4 .price .nopoint {
  background: url("../images/add-1.png") no-repeat scroll;
  background-size: 100%;
}

.sec-2 .evt-content .more {
  width: 398px !important;
}

.sec-2 .evt-content .price-select {
  position: absolute;
  top: 535px;
  left: 628px;
  width: 400px;
  padding: 0;
}

.sec-2 .evt-content .price-select .price-title {
  margin-bottom: 30px;
}

.sec-2 .evt-content .price-select .price {
  padding-left: 40px;
  position: relative;
}

.sec-2 .evt-content .price-select .price .select-li {
  position: absolute;
  left: 0;
  top: -3px;
}

.sec-2 .evt-content .price-select .price .select-li li {
  width: 34px;
  height: 33px;
  background: url("../images/icon-select.png") 0 0 no-repeat;
  margin-bottom: 10px;
  cursor: pointer;
}

.sec-2 .evt-content .price-select .price .select-li li.on {
  background: url("../images/icon-select.png") -50px 0 no-repeat;
}

.sec-2 .evt-content .price-select .go-btn {
  width: 166px;
  height: 45px;
  background: #e5b1bb;
  margin-top: 30px;
  cursor: pointer;
}

.sec-2 .evt-content .price-select .go-btn span {
  display: block;
  line-height: 45px;
  color: #fff;
  font-size: 26px;
  text-align: center;
}

.sec-3 {
  position: relative;
  z-index: 2;
}

.sec-3 .evt-content {
  width: 1080px;
  padding: 10px 0 50px;
}

.sec-3 .select-li {
  left: 0;
  top: -3px;
}

.sec-3 .select-li li {
  width: 239px;
  margin: 10px 15px;
  float: left;
  text-align: center;
}

.sec-3 .select-li li .price-select {
  padding: 10px;
  font-size: 16px;
  color: #4f3706;
}

.sec-3 .select-li li .price-select b {
  font-size: 28px;
  color: #fd7723;
  font-weight: normal;
}

.sec-3 .select-li li .price-select i {
  font-size: 14px;
  font-style: normal;
}

.sec-3 .select-li li img {
  margin: 5px auto 0;
}

.sec-3 .select-li li .mun {
  width: 84px;
  margin: 0 auto 10px;
}

.sec-3 .select-li li .mun dd {
  float: left;
}

.sec-3 .select-li li .mun dt {
  float: left;
  width: 40px;
  text-align: center;
  line-height: 22px;
}

.sec-3 .select-li li .mun dt span {
  display: block;
  color: #594215;
}

.sec-3 .select-li li .mun .nopoint {
  width: 22px;
  height: 22px;
  background: url("../images/in-l.png") no-repeat;
  cursor: pointer;
}

.sec-3 .select-li li .mun .nopoint.add {
  background: url("../images/in-r.png") no-repeat;
}

.sec-3 .go-btn {
  width: 110px;
  background: #e4d6bb;
  color: #4f3706;
  border-radius: 45px;
  cursor: pointer;
  margin: 0 auto;
}

.sec-3 .go-btn span {
  display: block;
  line-height: 35px;
  border-radius: 45px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 4px;
}

.sec-4 {
  position: relative;
  z-index: 2;
}

.sec-4 .evt-content {
  width: 1200px;
  padding: 10px 0 50px;
}

.sec-4 .more {
  width: 176px;
  position: relative;
  margin: 0 auto;
  background: #e4c84f;
  border-radius: 50px;
  text-align: center;
}

.sec-4 .more span {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
}

.evt-footer {
  z-index: 1;
  position: relative;
  background: #f9e6e1;
  width: 100%;
}

.evt-footer .evt-content {
  width: 1200px;
  color: #555555;
}

.evt-footer .evt-rules {
  width: 710px;
  margin: 0 auto;
  padding: 100px 0 100px 55px;
}

.evt-footer .evt-rules h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 18px;
  line-height: 1.8em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.price .price-title {
  margin-bottom: 10px !important;
}

.price .huangou {
  width: 270px !important;
  font-size: 18px;
}

.floater {
  position: fixed;
  width: 145px;
  height: 459px;
  top: 600px;
  z-index: 11;
  left: 50%;
  margin-left: 520px;
  cursor: pointer;
}

.floater .tips {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -5px;
  top: -5px;
  border-radius: 50%;
  background: url("../images/tips.png") center no-repeat;
  background-size: 100%;
  text-align: center;
  z-index: 12;
  cursor: Default;
}

.floater .tips span {
  font-size: 18px;
  color: #fff;
  line-height: 50px;
}

.floater .fudai {
  margin-left: -15px;
  cursor: default;
}
