html,body{
    height:100%;
}
body{
    margin:0;
    background-color: #e1f3fc;
}

img{
    border:0;
}

#loading_wrap{
    position: relative;
    height:500px;
    background-color: #e1f3fc;
}

#loading_indicator{
    position: absolute;
    left:50%;
    top:50%;
    margin-top:-10px;
    margin-left:-100px;
    width:200px;
    text-align: center;
    font-size:18px;
    font-family: "Microsoft YaHei", Tahoma, Arial;
}

.mother-wrap{
    background-color: #e1f3fc;
    min-height: 100%;
    width:100%;
    overflow: hidden;
    display: none;
}

.mother-content{
    position: relative;
    width:1200px;
    height:1574px;
    margin:0 auto;
}

.mother-wrap img{
    display: block;
    max-width:100%;
    height:auto;
}

.mother-wrap .mother{
    position: absolute;
}

.mother-wrap .mother1{
    left:126px;
    top:54px;
}

.mother-wrap .mother2{
    right:300px;
    top:86px;
    z-index: 10;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.mother-wrap .mother3{
    right:200px;
    top:30px;
    z-index: 15;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.mother-wrap .mother4{
    right:0px;
    top:284px;
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s;
}

.mother-wrap .mother5{
    right:90px;
    top:270px;
    -webkit-animation-delay: 4.4s;
    animation-delay: 4.4s;
}

.mother-wrap .mother6{
    left:50px;
    top:358px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.mother-wrap .mother6 .mother-letter{
    position: absolute;
    width:80px;
    height:70px;
    left: 286px;
    top: 40px;
    cursor: pointer;
    z-index: 90;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mother-wrap .mother6 .player{
    position: absolute;
    left:43px;
    top:-4px;
}

.mother-wrap .mother6 .recorder{
    position: absolute;
    left:42px;
    top:-5px;
}

.mother-wrap .mother6 .recorder{
    display: none;
}

.mother-wrap .mother7{
    left:195px;
    top:750px;
    z-index: 80;
   /* -webkit-animation-delay: 5.4s;
    animation-delay: 5.4s;*/
}

.mother-wrap .mother7 .buy-btn{
    display: inline-block;
    width:223px;
    height:45px;
    margin-top:15px;
    background: url(../images/buy-btn.png) no-repeat;
}

.mother-wrap .mother7 .buy-btn.disabled{
    cursor: not-allowed;
    background-image: url(../images/buy-btn-disabled.png);
}

.mother-wrap .mother7 .arrow-hint{
    position: absolute;
    right:105%;
    top:-35px;
    -webkit-animation-delay:1s;
    animation-delay:1s;
}

.mother-wrap .mother8{
    left:50%;
    top:895px;
    margin-left:-444.5px;
}

.mother-wrap .mother8 .m8-prod{
    position: absolute;
    right:20px;
    top:0px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.mother-wrap .mother9{
    left:50%;
    top:1288px;
    margin-left:-385px;
}

.mother-rules{
    position: absolute;
    left:50%;
    width:534px;
    top:56px;
    margin-left:-267px;
}

.mother-rules{
    font-family: "Microsoft YaHei", Tahoma, Arial;
    color:#55514f;
}

.mother-rules h2{
    font-size:18px;
    font-weight: normal;
    margin-bottom: 10px;
}

.mother-rules p{
    font-size:14px;
    line-height: 2;
    margin: 0;
    padding-left:1.5em;
    text-indent: -1.5em;
}

[data-anim]{
    opacity: 0;
}

.slide-down-l{
    -webkit-animation: slide-down-l 1s ease both;
    animation: slide-down-l 1s ease both;
}

.slide-down-l2{
    -webkit-animation: slide-down-l2 1s ease both;
    animation: slide-down-l2 1s ease both;
}

.slide-down-r{
    -webkit-animation: slide-down-r 1s ease both;
    animation: slide-down-r 1s ease both;
}

.slide-down-r2{
    -webkit-animation: slide-down-r2 1s ease both;
    animation: slide-down-r2 1s ease both;
}

.slide-up-l{
    -webkit-animation: slide-up-l 1s ease both;
    animation: slide-up-l 1s ease both;
}

.slide-up-r{
    -webkit-animation: slide-up-r 1s ease both;
    animation: slide-up-r 1s ease both;
}

.rotate-r{
    -webkit-animation: rotate-r 1s ease both;
    animation: rotate-r 1s ease both;
}

.fade-down{
    -webkit-animation: fade-down 1.5s ease both;
    animation: fade-down 1.5s ease both;
}

.fade-in{
    -webkit-animation: fade-in .8s both;
    animation: fade-in .8s both;
}

@-webkit-keyframes slide-down-l {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-30%,-80%,0);
        transform: translate3d(-30%,-80%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0%,0%,0);
        transform: translate3d(0%,0%,0);
    }
}

@keyframes slide-down-l {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-30%,-80%,0);
        transform: translate3d(-30%,-80%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0%,0%,0);
        transform: translate3d(0%,0%,0);
    }
}

@-webkit-keyframes slide-down-l2 {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-40%,-40%,0);
        transform: translate3d(-40%,-40%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0%,0%,0);
        transform: translate3d(0%,0%,0);
    }
}

@keyframes slide-down-l2 {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-40%,-40%,0);
        transform: translate3d(-40%,-40%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0%,0%,0);
        transform: translate3d(0%,0%,0);
    }
}

@-webkit-keyframes slide-down-r {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(15%,-80%,0);
        transform: translate3d(15%,-80%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-down-r {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(15%,-80%,0);
        transform: translate3d(15%,-80%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes slide-down-r2 {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(60%,-50%,0);
        transform: translate3d(60%,-50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-down-r2 {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(60%,-50%,0);
        transform: translate3d(60%,-50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes slide-up-l {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-50%,50%,0);
        transform: translate3d(-50%,50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-up-l {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-50%,50%,0);
        transform: translate3d(-50%,50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes slide-up-r {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(50%,50%,0);
        transform: translate3d(50%,50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-up-r {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(50%,50%,0);
        transform: translate3d(50%,50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes rotate-r {
    0%, 100%{
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    0%{
        opacity: 0;
        -webkit-transform: translate3d(100%,50%,0) rotate3d(0,0,1,90deg);
        transform: translate3d(100%,50%,0) rotate3d(0,0,1,90deg);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0) rotate3d(0,0,1,0deg);
        transform: translate3d(0,0,0) rotate3d(0,0,1,0deg);
    }
}

@keyframes rotate-r {
    0%, 100%{
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    0%{
        opacity: 0;
        -webkit-transform: translate3d(100%,50%,0) rotate3d(0,0,1,90deg);
        transform: translate3d(100%,50%,0) rotate3d(0,0,1,90deg);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0) rotate3d(0,0,1,0deg);
        transform: translate3d(0,0,0) rotate3d(0,0,1,0deg);
    }
}

@-webkit-keyframes fade-down {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-2%,-10%,0);
        transform: translate3d(-2%,-10%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes fade-down {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-2%,-10%,0);
        transform: translate3d(-2%,-10%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}