@charset "UTF-8";
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/*数量加减时，禁止双击选中*/
span.num {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.evt-container {
  overflow: hidden;
  background: url("../images/bg.jpg");
  color: #000;
}

.sec-banner {
  height: 500px;
  background: url("../images/banner.jpg") center;
  z-index: 2;
}

h2, h3, h4, b, i, strong, samp {
  font-weight: normal;
  font-style: normal;
}

.rose {
  position: absolute;
  right: -100px;
  top: -200px;
}

.rose-1 {
  right: -100px;
  top: -200px;
}

.rose-2 {
  left: -100px;
  top: 800px;
}

.rose-3 {
  right: -100px;
  top: 1060px;
}

.rose-4 {
  left: -100px;
  top: 2580px;
}

.rose-5 {
  right: -100px;
  top: auto;
  bottom: -10px;
}

.title {
  margin: 50px auto;
}

.sec-1 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.sec-1 .evt-content {
  width: 1200px;
  text-align: center;
  padding: 60px 0;
}

.sec-1 .evt-content .card {
  margin: 0 auto;
}

.sec-1 .evt-content p {
  font-size: 14px;
  color: #a48052;
  line-height: 26px;
}

.sec-1 .evt-content h2 {
  margin: 30px auto 10px;
  font-size: 21px;
  font-weight: normal;
}

.sec-1 .evt-content h2 span {
  color: #000;
}

.sec-1 .evt-content h2 b {
  font-size: 35px;
}

.sec-1 .evt-content h2 s {
  color: #cca96f;
}

.sec-2 {
  position: relative;
  padding-bottom: 100px;
}

.sec-2 .evt-content {
  width: 1200px;
  text-align: center;
}

.sec-2 .row-cake {
  position: relative;
  overflow: hidden;
}

.sec-2 .row-cake ul {
  margin-left: -20px;
}

.sec-2 .row-cake ul li {
  position: relative;
  width: 342px;
  margin: 50px 0 0 50px;
  float: left;
}

.sec-2 .row-cake ul li .tag {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 5;
}

.sec-3 {
  background: url("../images/s-bg-3.jpg") center;
  height: 656px;
}

.sec-3 .evt-content {
  width: 1200px;
  text-align: center;
  padding: 100px 0 50px;
}

.sec-3 .evt-content .title {
  margin-top: 0;
}

.sec-3 .evt-content h2 {
  margin: 30px auto 10px;
  font-size: 21px;
  font-weight: normal;
  color: #464646;
}

.sec-3 .evt-content h2 span {
  color: #464646;
}

.sec-3 .evt-content h2 b {
  font-size: 35px;
  color: #ab2528;
}

.sec-3 .evt-content h2 s {
  color: #cca96f;
}

.sec-3 .evt-content .last {
  width: 214px;
  line-height: 35px;
  background: url("../images/last-bg.png");
  text-align: center;
  color: #ab2528;
  margin: 20px auto;
  font-size: 20px;
}

.sec-3 .evt-content .card {
  position: relative;
  width: 718px;
  margin: 0 auto;
}

.sec-3 .evt-content .buy {
  width: 127px;
  height: 165px;
  position: absolute;
  right: 0;
  top: 0;
}

.sec-4 {
  background: url("../images/s-bg-4.jpg") center;
}

.sec-4 .evt-content {
  width: 1200px;
  text-align: center;
  padding: 50px 0;
}

.sec-4 .evt-content .quan {
  position: relative;
  margin: 0 auto;
}

.sec-4 .evt-content .quan-txt {
  position: absolute;
  top: 154px;
  left: 650px;
}

.sec-4 .evt-content p {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}

.sec-4 .evt-content .p1 {
  color: #b58b49;
  font-size: 22px;
  line-height: 46px;
}

/*价格*/
.price {
  position: relative;
  width: 245px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 10px;
}

.price h3 {
  font-size: 24px;
  line-height: 40px;
}

.price h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  color: #ab2528;
  margin-top: 10px;
}

.price h2 i {
  font-size: 14px;
  font-style: normal;
  vertical-align: baseline;
}

.price h2 span {
  font-size: 30px;
  color: #ab2528;
}

.price s {
  font-size: 16px;
  color: #888888;
  font-weight: normal;
  line-height: 26px;
  text-decoration: sh;
}

.price .content {
  margin: 10px auto;
  border-top: #ab2528 1px solid;
  border-bottom: #ab2528 1px solid;
}

.price .price_num {
  width: 125px;
  margin: 10px auto 10px;
}

.price .price_num dl {
  float: left;
}

.price .price_num dl dd {
  background: #fff url("../images/in-l.png") center no-repeat;
  background-size: 100%;
  cursor: pointer;
  float: left;
  height: 22px;
  width: 22px;
}

.price .price_num dl dd.nopoint {
  background: #fff url("../images/in-r.png") center no-repeat;
  background-size: 100%;
}

.price .price_num dl dd.on {
  background: #fff url("../images/in-l-h.png") center no-repeat;
  background-size: 100%;
}

.price .price_num dl dd.nopoint.on {
  background: #fff url("../images/in-r-h.png") center no-repeat;
  background-size: 100%;
}

.price .price_num dl dt {
  float: left;
  height: 22px;
  margin: 0 5px;
}

.price .price_num dl dt b {
  float: left;
  line-height: 22px;
  font-size: 16px;
  color: #ab2528;
}

.price .price_num dl dt span {
  float: left;
  display: block;
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #ab2528;
  width: 22px;
  height: 22px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.price ul.buy_btn_box {
  overflow: hidden;
  width: 127px;
  margin: 0 auto;
}

.price ul.buy_btn_box li {
  margin: 0 auto;
  width: auto;
  cursor: pointer;
  border: none;
}

.price ul.buy_btn_box li span {
  display: block;
  width: 100%;
  background: none;
  color: #000;
  cursor: pointer;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
  border-radius: 5px;
}

.evt-footer {
  background: url("../images/foot-bg.jpg") repeat;
  position: relative;
  width: 100%;
}

.evt-footer .foot-img {
  position: absolute;
  width: 230px;
  top: 20px;
  right: 220px;
}

.evt-footer .foot-img img {
  width: 100%;
}

.evt-footer .evt-content {
  width: 1200px;
}

.evt-footer .evt-rules {
  width: 980px;
  margin: 0 auto;
  padding: 70px 0 50px;
  color: #000;
}

.evt-footer .evt-rules h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 18px;
  line-height: 1.8em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

/*蛋糕选择弹窗*/
.Dialogbg-Select {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none;
  -moz-opacity: .8;
  filter: alpha(opacity=80);
}

.Dialog-Select {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size: 14px;
  width: 520px;
  height: auto;
  margin-top: -210px;
  margin-left: -260px;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999;
  border-radius: 10px;
  display: none;
}

.s-closes {
  position: absolute;
  right: -30px;
  top: 8px;
  width: 17px;
  height: 17px;
  background: url("../images/close.png");
  cursor: pointer;
}

.Select {
  position: relative;
  color: #000;
  height: 100%;
}

.Select .s-title {
  height: 96px;
  background: #f2f2f2;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Select .s-title h2 {
  font-size: 18px;
  line-height: 30px;
  padding-left: 40px;
  padding-top: 20px;
}

.Select .s-title b {
  font-size: 14px;
  color: #9a9a9a;
  font-weight: normal;
  padding-left: 40px;
}

.Select .s-bangshu {
  padding-top: 30px;
}

.Select .s-bangshu ul {
  margin-left: 40px;
}

.Select .s-bangshu ul li {
  float: left;
  width: 60px;
  height: 60px;
  background: #f2f2f2;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: #4a4a4a;
  margin-right: 30px;
  font-weight: bold;
  cursor: pointer;
}

.Select .s-bangshu ul li.on {
  background: #de5c5f;
  color: #fff;
}

.Select .d-tips {
  padding: 15px 40px;
  color: #4c4c4c;
  font-size: 12px;
}

.Select .s-num {
  border-top: #ededed 1px solid;
  padding-left: 40px;
}

.Select .s-num b {
  display: inline-block;
  width: 200px;
  margin: 10px 0;
  line-height: 52px;
  float: left;
  font-size: 16px;
  color: #737373;
  font-weight: normal;
}

.Select .s-num .nums {
  display: inline-block;
  margin: 15px 40px 0;
  float: right;
  height: 52px;
  position: relative;
  width: 150px;
}

.Select .s-num .nums a {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2px;
}

.Select .s-num .nums .minus {
  background: url("../images/gobtn-1.png") center no-repeat;
  background-size: 100%;
  left: 0;
}

.Select .s-num .nums .plus {
  background: url("../images/gobtn-2.png") center no-repeat;
  background-size: 100%;
  right: 0;
}

.Select .s-num .nums input {
  background: none;
  border: none;
  display: block;
  font-size: 26px;
  height: 40px;
  left: 35px;
  line-height: 40px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 80px;
  color: #000;
}

.Select .s-prices {
  border-top: #ededed 1px solid;
  font-size: 22px;
  padding: 0 40px;
}

.Select .s-prices b {
  display: inline-block;
  width: 200px;
  margin: 0;
  line-height: 56px;
  float: left;
  font-size: 16px;
  color: #737373;
  font-weight: normal;
}

.Select .s-prices p {
  display: block;
  line-height: 56px;
  text-align: right;
}

.Select .s-prices span {
  font-size: 26px;
}

.Select .s-prices i {
  font-style: normal;
  font-size: 16px;
}

.Select .s-prices s {
  font-size: 18px;
  color: #aaa;
}

.Select .btns {
  width: 100%;
  position: relative;
  bottom: 0px;
  display: flex;
  height: 55px;
  line-height: 55px;
  flex-direction: row;
  text-align: center;
  font-size: 18px;
  color: #000;
}

.Select .btns div {
  flex: 1;
  cursor: pointer;
  width: 100%;
}

.Select .btns .go-car {
  background: #de5c5f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  float: left;
  color: #fff;
}

.Select .btns .go-car.on {
  background: #c33e41;
}

.Select .btns .go-buy {
  background: #de5c5f;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  float: left;
  color: #fff;
}

.Select .btns .go-buy.on {
  background: #c33e41;
}
