@charset "UTF-8";
/*大转盘*/
.zhuanpan-cover {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.8;
  -moz-opacity: .8;
  filter: alpha(opacity=80);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none;
}

.zhuanpan {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size: 14px;
  height: 310px;
  left: 50%;
  margin-left: -240px;
  margin-top: -155px;
  padding: 0;
  position: fixed;
  top: 50%;
  width: 480px;
  z-index: 99999;
  border-radius: 5px;
  display: none;
}

.closes {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
  z-index: 8;
}

.zhuanpanBg {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../images/zpbg.png") top no-repeat;
}

.zhuanpan-center {
  position: relative;
  width: 500px;
  margin: 0 auto;
  z-index: 1;
}

.zhuanpan-center .title {
  font-size: 18px;
  text-align: center;
  color: #000;
  line-height: 68px;
}

.zhuanpan-center .zp {
  position: relative;
  width: 506px;
  height: 648px;
  margin: 0 auto;
}

.zhuanpan-center .zp .zp-pan {
  position: relative;
  width: 506px;
  height: 506px;
  margin: 0 auto;
  z-index: 2;
}

.zhuanpan-center .zp .zhijia {
  position: relative;
  width: 342px;
  height: 93px;
  margin: -35px auto 0;
  z-index: 1;
}

.zhuanpan-center .zp .zhijia .txt {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
}

.zhuanpan-center .zp .zhijia .txt b {
  color: #ffe070;
}

.zhuanpan-center .zp .zp-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  margin-left: -65px;
  margin-top: -163px;
  z-index: 3;
  cursor: pointer;
}

.zhuanpan-center .zp p {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #186e88;
}

.zhuanpan .zhuanpan-award {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.zhuanpan .zhuanpan-award .award {
  position: absolute;
  width: 293px;
  height: 201px;
  top: 50%;
  left: 50%;
  margin-left: -146.5px;
  margin-top: -100.5px;
  display: none;
}

.zhuanpan .zhuanpan-award .award .txt {
  position: absolute;
  width: 172px;
  top: 0;
  right: 13px;
  text-align: right;
  color: #fff;
  font-size: 18px;
}

.zhuanpan .zhuanpan-award .award .txt span {
  font-size: 120px;
  font-weight: bold;
  line-height: 144px;
  font-family: "Microsoft YaHei", Tahoma, Arial;
}

.zhuanpan .zhuanpan-award .award .word {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.zhuanpan .zhuanpan-award .award .text {
  position: absolute;
  width: 100%;
  top: 16%;
  left: 50%;
  margin-left: -50%;
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.zhuanpan .zhuanpan-award .award .text span {
  font-size: 24px;
  color: #5fc0a1;
  vertical-align: middle;
}

.zhuanpan .zhuanpan-award .award .text b {
  font-size: 16px;
  font-weight: normal;
  color: #aaa;
  vertical-align: baseline !important;
}

.zhuanpan .zhuanpan-award .award .text p {
  font-size: 14px;
  color: #aaa;
}
