html,body{
    height:100%;
}

#evt_loading{
    position:relative;
    height:600px;
}

.loading-bd{
    position: relative;
    width:1000px;
    margin:0 auto;
    height:600px;
}

#loading_anim{
    position: absolute;
    left:280px;
    top:100px;
}

#evt_spin{
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-10px;
    margin-left:-100px;
    width:200px;
    text-align:center;
    font-size:18px;
    font-family:"Microsoft YaHei",Tahoma,Arial;
}

.spin-chd{
    top:500px !important;
}

.evt-contaner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    display: none;
}

.evt-contaner img{
    border:0;
   /* max-width:100%;*/
}

.evt-content{
    position: fixed;
    width:100%;
    height:100%;
}

.evt-views{
    position: relative;
}

.evt-section{
    position: relative;
    height:800px;
}

.evt-section .bd{
    position: relative;
    width:1000px;
    margin:0 auto;
    height:100%;
}

.evt-section.first .title{
    position: absolute;
    top:334px;
    left:307px;
    opacity: 0;
    filter:alpha(opacity=0);
    margin-top:90px;
}

.evt-section.first .title-text{
    position: absolute;
    top:479px;
    left:369px;
    opacity: 0;
    filter:alpha(opacity=0);
    margin-top:80px;
}

.evt-section.first .arrow{
    position: absolute;
    left:482px;
    top:598px;
}

.evt-section.first .arrow-text{
    position: absolute;
    left:420px;
    top:665px;
}

.evt-section.first .book{
    position: absolute;
    left:200px;
    top:-70px;
    width:666px;
}

.evt-section.second .house{
    position: absolute;
    left:220px;
    top:127px;
    z-index: 10;
}

.evt-section.second .mouse{
    position: absolute;
    left:325px;
    top:188px;
    z-index: 10;
}

.evt-section.second .bird{
    position: absolute;
    left:290px;
    top:-110px;
}

.evt-section.second .bg{
    z-index: 2;
}


.evt-section.second .man{
    position: absolute;
    left:-145px;
    top:160px;
    z-index: 10;
}

.evt-section.second .slogan{
    position: absolute;
    left:50%;
    bottom:22%;
    margin-left: -203.5px;
}

.evt-section.third .skating{
    position: absolute;
    top:202px;
    left:140px;
}

.evt-section.third .fish{
    position: absolute;
    top:295px;
    left:150px;
}

.evt-section.third .tree{
    position: absolute;
    left:620px;
    top:230px;
}

.evt-section.third .mouse{
    position: absolute;
    top:304px;
    left:835px;
}

.evt-section.third .bird{
    position: absolute;
    top:95px;
    left:630px;
}

.evt-section.third .slogan{
    position: absolute;
    left:50%;
    bottom:22%;
    margin-left: -123.5px;
}

.evt-section .bg{
    position: absolute;
    left:50%;
    top:0;
    margin-left:-960px;
   /* width:100%;
    height:100%;*/
}

/*.evt-section .bg img{
    width:100%;
}*/

#fourth_scene{
    top:-800px;
}

.evt-section.fourth .book{
    position: absolute;
    left: 230px;
    top: 20px;
}

.evt-section.fourth .book-text{
    position: absolute;
    left: 615px;
    top: 183px;
}

.evt-section.fourth .head{
    position: absolute;
    left:345px;
    top:300px;
    width:450px;
}

.evt-section.fourth .price{
    position: absolute;
    left:158px;
    top:507px;
}

.evt-section.fourth .buy-btn{
    display: block;
    width:150px;
    height:40px;
    margin-top:15px;
    background: url("http://edm.mcake.com/shuxy/2016/children/resource/assets/fourth/buy_btn.png") no-repeat;
}

.evt-section.fourth .buy-btn.disabled{
    cursor:default;
    background: url("http://edm.mcake.com/shuxy/2016/children/resource/assets/fourth/buy_btn_d.png") no-repeat;
}

.scene-wrap{
    position: relative;
    top:-400px;
    height:100%;
}

#first_scene{
    top:0;
}

#third_scene{
    top:-500px;
}

.big-man{
    position: absolute;
    left:50%;
    top:100%;
    margin-left:-370px;
    -webkit-transition: -webkit-transform .8s ease-out;
    transition: transform .8s ease-out;
    z-index: 210;
}

.snow-wrap{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 200;
}

/*============banner=============*/
#bn_container{
    background: url('../images/banner/bg.jpg') no-repeat 50% 0;
    overflow: hidden;
    display: none;
}

.wb-layout{
    position: relative;
    width:1000px;
    height:770px;
    margin:0 auto;
}

.wb-layout img{
    display: block;
}

.evt-cheese{
    position: absolute;
    left:514px;
    top:0px;
}

.evt-spoon{
    position: absolute;
    left:708px;
    top:0px;
}

.evt-cake{
    position: absolute;
    left:-100px;
    top:133px;
}

.evt-buy-info{
    position: absolute;
    left:540px;
    top:162px;
    text-align: right;
}

.evt-buy-info .buy-btn{
    display: inline-block;
    width:150px;
    height:40px;
    margin-top:15px;
    margin-right:22px;
    background: url(../images/banner/buy_btn.png) no-repeat;
}

.evt-buy-info .buy-btn.disabled{
    background: url(../images/banner/buy_btn_disabled.png) no-repeat;
}

.evt-book{
    position: absolute;
    left:350px;
    top:390px;
}

.evt-hint-text{
    position: absolute;
    left:52px;
    top:526px;
}

.mask-link{
    position: absolute;
    left:0;
    width:100%;
    top:0;
    height:100%;
}

/*==============animation================*/
[data-anim]{
    opacity:0;
    filter:alpha(opacity=0);
}

.slide-down-l{
    -webkit-animation: slide-down-l 1s ease both;
    animation: slide-down-l 1s ease both;
}

.slide-down-l2{
    -webkit-animation: slide-down-l2 1s ease both;
    animation: slide-down-l2 1s ease both;
}

.slide-down-r{
    -webkit-animation: slide-down-r 1s ease both;
    animation: slide-down-r 1s ease both;
}

.slide-down-r2{
    -webkit-animation: slide-down-r2 1s ease both;
    animation: slide-down-r2 1s ease both;
}

.slide-up{
    -webkit-animation: slide-up 1s ease both;
    animation: slide-up 1s ease both;
}

.slide-left{
    -webkit-animation: slide-left 1s ease both;
    animation: slide-left 1s ease both;
}

.slide-right{
    -webkit-animation: slide-right 1s ease both;
    animation: slide-right 1s ease both;
}

.slide-up-l{
    -webkit-animation: slide-up-l 1s ease both;
    animation: slide-up-l 1s ease both;
}

.slide-up-r{
    -webkit-animation: slide-up-r 1s ease both;
    animation: slide-up-r 1s ease both;
}

.rotate-r{
    -webkit-animation: rotate-r 1s ease both;
    animation: rotate-r 1s ease both;
}

.fade-down{
    -webkit-animation: fade-down 1.5s ease both;
    animation: fade-down 1.5s ease both;
}

.fade-in{
    -webkit-animation: fade-in .8s both;
    animation: fade-in .8s both;
}

@-webkit-keyframes slide-down-l {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-30%,-80%,0);
        transform: translate3d(-30%,-80%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0%,0%,0);
        transform: translate3d(0%,0%,0);
    }
}

@keyframes slide-down-l {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-30%,-80%,0);
        transform: translate3d(-30%,-80%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0%,0%,0);
        transform: translate3d(0%,0%,0);
    }
}

@-webkit-keyframes slide-down-l2 {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-40%,-40%,0);
        transform: translate3d(-40%,-40%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0%,0%,0);
        transform: translate3d(0%,0%,0);
    }
}

@keyframes slide-down-l2 {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-40%,-40%,0);
        transform: translate3d(-40%,-40%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0%,0%,0);
        transform: translate3d(0%,0%,0);
    }
}

@-webkit-keyframes slide-down-r {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(15%,-80%,0);
        transform: translate3d(15%,-80%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-down-r {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(15%,-80%,0);
        transform: translate3d(15%,-80%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes slide-down-r2 {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(60%,-50%,0);
        transform: translate3d(60%,-50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-down-r2 {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(60%,-50%,0);
        transform: translate3d(60%,-50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes slide-up {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0,50%,0);
        transform: translate3d(0,50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-up {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0,50%,0);
        transform: translate3d(0,50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes slide-left {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(50%,0,0);
        transform: translate3d(50%,0,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-left {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(50%,0,0);
        transform: translate3d(50%,0,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes slide-right {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-50%,0,0);
        transform: translate3d(-50%,0,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-right {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-50%,0,0);
        transform: translate3d(-50%,0,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes slide-up-l {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-50%,50%,0);
        transform: translate3d(-50%,50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-up-l {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-50%,50%,0);
        transform: translate3d(-50%,50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes slide-up-r {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(50%,50%,0);
        transform: translate3d(50%,50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-up-r {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(50%,50%,0);
        transform: translate3d(50%,50%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes rotate-r {
    0%, 100%{
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    0%{
        opacity: 0;
        -webkit-transform: translate3d(100%,50%,0) rotate3d(0,0,1,90deg);
        transform: translate3d(100%,50%,0) rotate3d(0,0,1,90deg);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0) rotate3d(0,0,1,0deg);
        transform: translate3d(0,0,0) rotate3d(0,0,1,0deg);
    }
}

@keyframes rotate-r {
    0%, 100%{
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    0%{
        opacity: 0;
        -webkit-transform: translate3d(100%,50%,0) rotate3d(0,0,1,90deg);
        transform: translate3d(100%,50%,0) rotate3d(0,0,1,90deg);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0) rotate3d(0,0,1,0deg);
        transform: translate3d(0,0,0) rotate3d(0,0,1,0deg);
    }
}

@-webkit-keyframes fade-down {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-2%,-10%,0);
        transform: translate3d(-2%,-10%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes fade-down {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-2%,-10%,0);
        transform: translate3d(-2%,-10%,0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}