@charset "UTF-8";
/* CSS Document */

.section-inner > * { position: absolute;}
.section-inner > i { display: block; width: 3.25em; left: 50%; bottom: 2em; opacity: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.ani i { opacity: 1; -webkit-animation: upAndDown .7s ease-in-out infinite alternate; animation: upAndDown .7s ease-in-out infinite alternate;}

#loadingPage { display: block; background: url(../images/loading_bg.png) repeat; z-index: 9;}
.loading { width: 3.32em; left: 2.5em; top: 50%; z-index: 2; -webkit-transform: translateY(-55%); transform: translateY(-55%);}
.loading-bar-s, .loading-bar { width: 60%; height: 1.21em; top: 50%; left: 4.9em; -webkit-transform: translateY(-55%); transform: translateY(-55%);  background-color: #fff; border: 1px solid #000; -webkit-border-radius: 3px; border-radius: 3px; padding: .15em;}
.loading-bar em { display: block; max-width: 100%; height: .71em; background-color: #00f1ff; border: 2px solid #000; -webkit-border-radius: 4px; border-radius: 4px;}
.loading-per-s, .loading-per { width: 3.86em; height: 1.21em; line-height: 1.11em; right: 2em; top: 50%; -webkit-transform: translateY(-55%); transform: translateY(-55%); text-align: center; color: #000; font-weight: bold; background-color: #00f1ff; border: 1px solid #000; -webkit-border-radius: 3px; border-radius: 3px;}
.loading-per span { font-size: .8em;}
.loading-bar-s, .loading-per-s { background-color: #000; left: 5.05em; top: 50.26%;}
.loading-per-s { left: auto; right: 1.9em;}
.loading-slight { width: 1.89em; right: 10.5em; top: 44%;}
.loading-tit { top: 54%; left: 50%; width: 8.64em; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

#prePage { display: none;}
#prePage.ani, #prePage.main { display: block;}
.pre-bg { width: 100%; height: 100%; background: url(../images/pre_bgs.jpg) no-repeat 0 center; -webkit-background-size: 800% 100%; background-size: 800% 100%;}
.ani .pre-bg { -webkit-animation: changeBg 2.8s steps(7) infinite; animation: changeBg 2.8s steps(7) infinite;}
.main1 .pre-bg { background: url(../images/pre_bg_m1.jpg) no-repeat 0 center #9fe1ff; -webkit-background-size: 100% auto; background-size: 100% auto;}
.main2 .pre-bg { background: url(../images/pre_bg_m2.jpg) no-repeat 0 center #9fe1ff; -webkit-background-size: 100% auto; background-size: 100% auto;} 
.pre-tit { width: 100%; left: 0; top: .5em;}
.pre-mouth { display: none; width: 17.78em; left: 50%; top: 50%; -webkit-transform: translate(-50%, -55%); transform: translate(-50%, -55%);}
.pre-dia { display: none;}
.pre-mua { width: 13.36em; -webkit-transform: translate(-50%,-50%) scale(.37,.37); transform: translate(-50%,-50%) scale(.37,.37); left: 45%; top: 50%;}
.pre-mua.step1 { -webkit-transform: translate(-50%,-50%) scale(.65,.65); transform: translate(-50%,-50%) scale(.65,.65); left: 14em; top: 16em;}
.pre-mua.step2 { -webkit-transform: translate(-50%,-50%) scale(1,1); transform: translate(-50%,-50%) scale(1,1); left: 7em; top: 13.8em;}
.pre-love { width: 15.53em; -webkit-transform: translate(-50%,-50%) scale(.37,.37); transform: translate(-50%,-50%) scale(.37,.37); left: 50%; top: 50%;}
.pre-love.step1 { -webkit-transform: translate(-50%,-50%) scale(.65,.65); transform: translate(-50%,-50%) scale(.6,.6); left: 14em; top: auto; bottom: 12em;}
.pre-love.step2 { -webkit-transform: translate(-50%,-50%) scale(1,1); transform: translate(-50%,-50%) scale(1,1); left: 7em; top: auto; bottom: 4.5em;}
.pre-meng { width: 11.25em; -webkit-transform: translate(50%,-50%) scale(.45,.45); transform: translate(50%,-50%) scale(.45,.45); right: 45%; top: 50%;}
.pre-meng.step1 { -webkit-transform: translate(50%,-50%) scale(.71,.71); transform: translate(50%,-50%) scale(.71,.71); right: 7em; top: 17em;}
.pre-meng.step2 { -webkit-transform: translate(50%,-50%) scale(1,1); transform: translate(50%,-50%) scale(1,1); right: 6em; top: 16em;}
.pre-my { width: 14.07em; -webkit-transform: translate(50%,50%) scale(.28,.28); transform: translate(50%,50%) scale(.28,.28); right: 40%; bottom: 45%;}
.pre-my.step1 { -webkit-transform: translate(50%,50%) scale(.75,.75); transform: translate(50%,50%) scale(.75,.75); right: 10em; bottom: 18em;}
.pre-my.step2 { -webkit-transform: translate(50%,50%) scale(1,.1); transform: translate(50%,50%) scale(1,1); right: 8em; bottom: 14em;}
.pre-power { width: 10em; -webkit-transform: translate(-50%,-50%) scale(.47,.47); transform: translate(-50%,-50%) scale(.47,.47); left: 50%; top: 50%;}
.pre-power.step1 { -webkit-transform: translate(-50%,-50%) rotate(-10deg) scale(.94,.94); transform: translate(-50%,-50%) rotate(-10deg) scale(.94,.94); left: 7em; top: 22em;}
.pre-power.step2 { -webkit-transform: translate(-50%,-50%) scale(1,1); transform: translate(-50%,-50%) scale(1,1); left: 5.5em; top: 21em;}
.pre-boom { display: none; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.pre-boom1 { width: 9.393em;}
.pre-boom2 { width: 19.535em;}
.pre-boom3 { width: 26.18em; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); left: auto; right: 0;}
.pre-boom4, .pre-boom5 { width: 100%;}
.pre-boom5 { height: 100%;}
.pre-boom5 img { height: 100%;}
.pre-btn { display: none;}
.pre-btn1 { width: 8.035em; left: 2.86em; bottom: 3.07em;}
.pre-btn2 { width: 8.18em; right: 4.43em; bottom: 3.07em;}
.music-btn { display: none; width: 3.3em; position: absolute; z-index: 2; right: 2em; top: 1em;}
.pre-dia.on, .pre-mouth.on, .pre-boom.on, .pre-btn.on, .music-btn.on { display: block;}

.rules-btn { display: block; left: 50%; bottom: 1em; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.rules-bg { width: 100%; height: 100%; background: url(../images/rules_bg.jpg) no-repeat 0 top #9fe1ff; -webkit-background-size: 100% auto; background-size: 100% auto;}
.rules-t, .rules-b { width: 23.07em; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.rules-t { top: 2em;}
.rules-b { top: 29em;}

#gamePage, #boxResult, #codePage { background: url(../images/game_bg.jpg) no-repeat center center #9fe1ff; -webkit-background-size: 100% auto; background-size: 100% auto;}
.game-tit { width: 86.1%; left: 50%; top: .7em; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.game-box-bg { width: 18.93em; left: 50%; top: 7.2em; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.game-box1 { width: 9.285em; left: 5em; top: 8.8em;}
.game-box2 { width: 8.89em; right: 3.9em; top: 14.7em;}
.game-box3 { width: 9.21em; left: 5.3em; top: 20.2em;}
.game-input { width: 19em; height: 3.93em; left: 50%; top: 31em; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.box-comment-input { top: 24em;}
.game-box-inner, .game-input-inner { position: relative; height: 100%;}
.game-input-inner >* { position: absolute;}
.game-box-s { display: block; position: absolute; width: 100%; left: 0; top: 0;}
.game-box.on .game-box-s, .game-box.active .game-box-s { display: none;}
.game-mouth { width: 4.07em; left:-1.2em;}
#gamePage h5 { width: 100%; text-align: center; top: 30em; font-size: 1em;}
.game-text { width: 17.21em; height: 2.4em; padding: 0 .5em 0 1em; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); border: .2em solid #000; background-color: #fff;}
.box-comment-input .game-text { border-width: .25em; padding: 0 .5em;}
.game-text input { width: 100%; height: 2em; line-height: 2em; font-size: 1em; border: none; padding: 0; text-align: center;}
.box-comment-input .game-text input { height: 1.9em; line-height: 1.9em;}
.game-text input:focus { outline: none;}
.game-text h6 { width: 5em; margin: 0 auto;}
.game-btn-creat { display: block; width: 11.32em; left: 50%; bottom: 2em; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.game-btn-creat.grayed{-webkit-filter:grayscale(1); filter:grayscale(1);}
.game-comment-tags { width: 20em; overflow: hidden; left: 50%; top: 27.8em; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.game-comment-tags em { display: block; float: left; width: 33.33333333%; padding: .1em .4em;}
.game-comment-tags em i { display: none;}
.box-bibi-tit { width: 9.036em; position: absolute; left: .5em; top: 2.65em; z-index: -1;}
.box-comment i { display: block; width: .93em; position: absolute; left: 1.1em; top: 2.5em;}

.win { display: none;}
.win.on { display: block;}
.win, .win-shadow { position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 3;}
.win-shadow { background-color: rgba(17,52,53,.5);}
.win-box { overflow: hidden; width: 21.5em; height: 7.75em; padding: 4.2em 3em 0; background: url(../images/game_win.png) no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; z-index: 4; position: absolute; margin: auto; left: 0; top: 0; right: 0; bottom: 0; -webkit-transform: translateY(-20%); transform: translateY(-20%);}
.win-box em { display: block; width: 4.54em; height: 2.11em;}
.win-box em.btn-confirm { float: left;}
.win-box em.btn-cancel { float: right;}

#boxResult h5 { width: 100%; top: 2em; text-align: center;}
#boxResult h5 span, #boxResult h5 em { font-size: 1.8em; color: #000; position: relative; z-index: 2; font-weight: bold;}
#boxResult h5 em { color: #fff; position: absolute; left: 50%; top: 0; -webkit-transform: translate(-47%,6%); transform: translate(-47%,6%); z-index: 1;}
.box-tit { width: 85.6%; left: 50%; top: 3.5em; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.box-result { width: 16.1em; left: 50%; top: 9em; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.box-result-friend { -webkit-transform: translateX(-38%); transform: translateX(-38%); z-index: 2;}
.box-result-inner { position: relative; width: 100%; height: 100%;}
.box-result-inner span { position: absolute; display: block; font-size: .8em; width: 7em; white-space: nowrap; text-align: center; right: 3em; bottom: 1.8em;}
.box-result-inner.box2 span{right: 10.5em; bottom: 1.65em;}
.box-result-inner.box3 span{right:11.5em; -webkit-transform: rotateZ(-5deg); bottom: 1.5em;}
.box-dia { width: 20.86em; left: 50%; top: 24em; -webkit-transform: translateX(-58%); transform: translateX(-58%);}
.box-dia-friend { width: 6.43em; left: 2.5em; top: 10.5em; z-index: 2;}
.box-dia-friend2 { width: 12.89em; left: 2em; top: 16em;}
#boxFriend3 { left: 3em; top: 12.3em;}
.box-dia-friend-inner { position: relative; text-align: center;}
#boxFriend3 p { position: absolute; text-align: center; width: 90%; left: 50%; top: 45%; font-size: 1.2em; font-weight: bold; line-height: 1.5em; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); word-break: break-all; word-wrap: break-word;}
.box-btn { display: block; width: 10.96em; bottom: 3em;}
.box-btn-share { left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); position: absolute;}
.box-btn-bibi{left:3em;}
.box-btn-get{right:3em;}
.box-btn-bibi,.box-btn-get{width:10em;}
.box-comment { width: 71%; left: 50%; top: 22em; -webkit-transform: translateX(-50%); transform: translateX(-50%); background-color: #fff; border: .5em solid #000; padding: 4em .5em .5em;}
.box-comment-list { border-radius: .5em; border: .2em solid #000; background-color: #f2f2f2; height: 8.286em; overflow-y: auto;}
.box-comment-list ul { padding: .8em .5em;}
.box-comment-list ul, .box-comment-list ul li { list-style: none;}
.box-comment-list ul li { -webkit-border-radius: .6em; border-radius: .6em; margin-top:1px; margin-bottom:1px; padding:2px 5px; position: relative; overflow: hidden;}
.box-comment-list ul li:after { display: table; clear: both;}
.box-comment-list ul li >* { display: block; float: left; font-size: .8em; white-space: nowrap; overflow: hidden; height: 1.5em; line-height: 1.5em;}
.box-comment-list ul li i { width: 1.5em; position: static;}
.box-comment-list ul li em { padding-left: .5em; max-width:4.5em;}
.box-comment-list ul li b { margin-left:.2em; margin-right:.2em; font-weight: normal;}
.box-comment-list ul li span {/* margin-left: 4.5em; float: none;*/height: auto; white-space: inherit; max-width: 12em; word-break: break-all; word-wrap: break-word; /*white-space: nowrap; overflow: hidden; text-overflow: ellipsis;*/}
.box-comment-list ul.has-btn li span{ max-width:7em; }
.box-comment-list ul li .cmt-btn{float:right; width:3.2em; height:1.6em; outline: none; border:none; background: url(../images/sel_btn.png) no-repeat; background-size: 100% auto;}
.box-comment-list ul li.selected{background-color: #ccc;}
.box-comment-list ul li.selected .cmt-btn{ background-image: url(../images/sel_btn_on.png);}
.box-btn-comment { width: 10.32em; left: 50%; bottom: 3em; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
#commentBtn { width: 10em;}
.box-btn-play, .box-btn-buy, .box-btn-bibi.share { width: 7.93em;}
.box-btn-play { left: 4em;}
.box-btn-buy { right: 4em;}
.complete-btn{right:3em;}
.box-btn-play.center{left:50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.code-tit, .code-img, .code-text, .fans-box, .fans-tip, .btn-get { left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.code-tit { width: 88%; top: 2em;}
.code-img { width: 17.7em; top: 7.7em;}
.code-text { width: 91.33%; top: 29.5em;}
.fans-box { width: 80.933%; top: 9em;}
.fans-tip { width: 77.333%; top: 20.5em;}
.btn-get { width: 7.93em; bottom: 3em;}

.win-shadow-share { background-color: rgba(0,0,0,.67);}
.win-share-point, .win-share-mouth, #shareImg { position: absolute; z-index: 3;}
.win-share-point { width: 8.25em; right: 2em; top: 2em;}
.win-share-mouth { width: 18.5em; left: 50%; top: 15.5em; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
#shareImg { width: 4.64em; left: 4.7em; top: 19.8em;}
#shareImg.step1 { left: 8.2em; top: 18.5em; -webkit-transform: rotate(-20deg); transform: rotate(-20deg);}
#shareImg.step2 { left: 11.2em; top: 17.2em; -webkit-transform: rotate(-27deg); transform: rotate(-27deg);}
#shareImg.step3 { left: 16.4em; top: 14.2em; -webkit-transform: rotate(-25deg); transform: rotate(-25deg);}
#shareImg.step4 { left: 18.2em; top: 12.8em; -webkit-transform: rotate(-16deg); transform: rotate(-16deg);}
#shareImg.step5 { left: 20.8em; top: 4.8em; -webkit-transform: rotate(0); transform: rotate(0);}
#shareImg.step6 { left: 22.9em; top: 0.5em; -webkit-transform: rotate(-7deg); transform: rotate(-7deg);}

.box-dia-friend-ext img:last-child{
	display: none;
}
.box-dia-friend.dada img,
.box-dia-friend2 img{
	display: block !important;
}
.state-last .box-dia-friend-ext img:first-child{
	display: none;
}

.state-last .box-dia-friend-ext img:last-child{
	display: block;
}

.box-dia-block{
	display: none;
}

.state-last .box-dia-block{
	display: block;
	width: 12em;
	left: 1.5em;
	top: 18.5em;
	z-index: 10;
}

.impress1, .impress2{
	position: absolute;
	max-width:5em;
	word-break: break-all;
	word-wrap: break-word;
	font-size:12px;
}

.box1 .impress1{
	left: 8em; /*6.8em*/;
	top: 4.5em; /*4.6em*/;
}

.box1 .impress2{
	left: 6em; /*5.5em*/;
	top: 11em; /*11em*/;
}

.box2 .impress1{
	left:5.6em;
	top: 5.8em;
}

.box2 .impress2{
	left: 8.5em;
	top: 12em;
}

.box3 .impress1{
	left: 2.5em;
	top: 4.5em;
}

.box3 .impress2{
	left: 8.5em; /*8.2em*/;
	top: 13em; /*12.3em*/;
}

.state-last .box1 .impress1{
	left:7em;
}

.page-myself .box-btn-comment,
.page-myself .box-btn-play,
.page-myself .box-dia-block{
	display: none !important;
}

.page-myself .box-btn-bibi,
.page-myself .box-btn-buy{
	display: block !important;
}

.page-myself .box-dia-friend-ext img:last-child{
	display: none;
}

.page-myself .box-dia-friend5{
	display: block !important;
}

@-webkit-keyframes changeBg {
	100% { background-position-x: 100%;}
}
@keyframes changeBg {
	100% { background-position-x: 100%;}
}
@-webkit-keyframes upAndDown {
	to { opacity: .5; bottom: 1em;}
}
@keyframes upAndDown {
	to { opacity: .5; bottom: 1em;}
}
@-webkit-keyframes rotateY {
	to { -webkit-transform: rotateY(180deg);}
}
@keyframes rotateY {
	to { -webkit-transform: rotateY(180deg); transform: rotateY(180deg);}
}
@-webkit-keyframes rotateYBack {
	to { -webkit-transform: rotateY(0deg);}
}
@keyframes rotateYBack {
	to { -webkit-transform: rotateY(0deg); transform: rotateY(0deg);}
}

@media(min-height: 650px){
	#loadingPage, #p1, #p2, #p3 { -webkit-background-size: 100% 100%; background-size: 100% 100%;}
}