.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.evt-container{ overflow: hidden; background:#fff; }
.evt-content{ width: 1200px; margin: 0 auto;  }
.sec-banner{ position: relative;
  z-index: 1;  overflow: hidden; height: 896px;
  .banner{ width: 100%; background:url("../images/banner.png") center; background-size: cover; height: 896px; overflow: hidden;}
  .banner.small{ height: 630px;}
  .banner-content{position: absolute; width: 100%; height:100%; top: 0; left: 0; z-index: 10; }
  .banner-word{position: absolute; top: 448px; left: 0;}
  .banner-word.small{top: 150px;}
  .banner-btn{position: absolute;top: 753px; left: 923px;}
  .banner-btn.small{top: 430px;}
}
/*小屏下的banner全屏*/
.sec-banner.small{ height: 550px;}

.sec-1{ position: relative;
  .evt-content{ width:100%;
    div{position: relative;}
  }


}

.title{width: 250px; margin: 60px auto;}
.title-3{width:100%; padding: 45px 0; border: #cdcccc 2px dashed; text-align: center; cursor: pointer;}
.content{width: 1200px; margin: 30px auto 0;}
.sec-2{  position: relative; z-index: 1; padding-bottom: 1px;
  .evt-content{
     padding-bottom: 80px;
  }
  div{position: relative;}
  .cakes{ margin-top: -80px; position: relative;
    ul{ margin-left: -28px;
      li{ width: 591px; height: 523px; margin-left: 23px; float: left; position: relative; margin-top: 80px;
        img{margin-bottom: 20px;}
        .m-title{ position: absolute; top: 40px; left: 40px; font-size: 16px; text-align: left; color: #000;}
        .m-car{ position: absolute; top: 40px; right: 40px; font-size: 16px; text-align: left; color: #000; width: 37px; height: 37px; background: url("../images/car.png") no-repeat; cursor: pointer;}
        .m-car.on{ background: url("../images/car-on.png") no-repeat;}
        .m-btn{ position: absolute; bottom: 40px; right: 40px; font-size: 18px; text-align: center; width: 150px; line-height: 40px; color: #fff; background: #3ac8e0; border-radius: 40px; cursor: pointer; }
        .m-btn.on{background: #1a8c9f;}
        .m-price{ position: absolute; bottom: 42px; left: 40px; font-size: 16px; text-align: left; color: #000;
          span{font-size: 24px;}
        }
      }
    }
  }
}

.zoom{width: 100%; transition: all 0.4s;}
.zoom.on{ transform: scale(0.97);}

.sec-3{position: relative; z-index: 2;
  .title{ margin: 80px auto; width: 508px;}
  .evt-content{ }

  .guize-content{border: #cdcccc 2px dashed;}
  .guize-more{ width: 141px; padding: 30px 100px; margin: 0 auto; cursor: pointer;}
  .guize{position: relative; width: 1200px; height: 687px; background: url("../images/guize.png") no-repeat; margin-top: 50px;
}

  .card{ position: relative; width: 1200px; height:310px; background: url("../images/card-duihuan.png") no-repeat; margin-bottom: 50px; padding-bottom: 100px;
    .duihuan-btn{position: absolute; bottom:40px; left: 230px; width: 150px; line-height: 40px; text-align:center; background:#3ac8e0; cursor: pointer; color: #fff;  border-radius: 40px; font-size: 16px;}
    .duihuan-btn.btn2{ left: 830px; }
    .duihuan-btn.on{background:#1a8c9f;  }
  }

  .card-guize{position: relative; width: 1200px; height: 868px; background: url("../images/card-guize.png") no-repeat; margin-top: 20px;}

  .gztxt-1,.gztxt-2,.gztxt-3,.gztxt-4{position: absolute; top: 160px; left: 650px; width: 810px;
    ul{
      li{line-height: 28px; background: url("../images/dot.png") 0 13px no-repeat; padding-left:16px; font-size: 16px;color: #000;}
      li.nobg{background: none;}
    }
  }
  .gztxt-2{top: 430px; left: 320px; right: auto; }
  .gztxt-3{top: 140px; left:310px;
    ul li{font-size: 14px;}
  }
  .gztxt-4{top: 414px; left:310px;
    ul li{font-size: 14px;}
  }

}

#card{ padding-bottom: 50px;}
.evt-footer{
  position: relative;  background:#fff; width: 100%;
  .evt-content{color: #5d5d5d;}
    .evt-rules{position: relative; width: 980px; margin: 0 auto; padding:100px 0 100px 55px;
      h2{ font-size: 24px;  font-weight: normal;  margin-bottom: 5px;  }
      p{ font-size:18px; line-height: 1.8em;  padding-left: 1.5em;  text-indent: -1.5em;  }
    }
}



/*蛋糕选择弹窗*/

.Dialogbg-Select{ background-color: #000; height: 100%; left: 0; opacity: 0.8; position: fixed; top: 0; width: 100%; z-index: 200; display: none; -moz-opacity: .8; filter: alpha(opacity=80);
}

.Dialog-Select{
  background: #fff none repeat scroll 0 0; box-shadow: 0 0 0 #999; font-size:14px; width:520px; height:480px; margin-top: -240px; margin-left: -260px; left: 50%; padding: 0; position: fixed; top: 50%; z-index: 99999;border-radius:20px; display: none;
}
.s-closes{position: absolute; right: -30px; top: 8px; width: 17px; height: 17px; background: url("../images/close.png"); cursor:pointer;}
.Select{ position: relative; color: #000; height: 100%;
  .s-title{ height:96px; background: #f2f2f2; position: relative; border-top-left-radius:10px;  border-top-right-radius:10px;
    h2{ font-size: 18px; line-height: 30px; padding-left: 40px; padding-top: 20px; }
    b{font-size: 14px; color: #9a9a9a; font-weight: normal; padding-left: 40px;}
  }
  .s-bangshu{ padding-top: 30px;
    ul{ margin-left: 40px;
      li{ float: left; width:60px; height: 60px; background: #f2f2f2; border-radius: 50%; text-align: center; line-height: 60px; font-size: 16px; color: #4a4a4a; margin-right:30px; font-weight: bold; cursor: pointer; }
      li.on{ background: #3ac8e0; color: #fff; }
    }
  }
  .d-tips{padding: 15px 40px; color: #4c4c4c; font-size: 12px;}
  .s-num{border-top: #ededed 1px solid; border-bottom: #ededed 1px solid; padding-left: 40px;
    b{display: inline-block; width:200px; margin:10px 0; line-height: 52px; float: left; font-size:16px; color: #737373; font-weight: normal;}
    .nums { display: inline-block; margin:15px 40px 0;  float: right; height:52px;  position: relative;  width:150px;  }
    .nums a { display: block; width:40px; height:40px;  position: absolute; top:2px;}
    .nums .minus { background: url("../images/btn-1.png") center no-repeat; background-size: 100%; left: 0;}
    .nums .plus { background: url("../images/btn-2.png") center no-repeat; background-size: 100%;  right: 0;}
    .nums input { background:none;  border: none;  color: #626262;  display: block;  font-size:26px;  height:40px;  left:35px;  line-height:40px;  padding: 0;  position: absolute;  text-align: center;  top: 0;  width:80px;  }
  }
  .s-prices{font-size: 22px; padding:0 40px; margin-top:35px;
    b{display: inline-block; width:200px; margin:0; line-height: 56px; float: left; font-size:16px; color: #737373; font-weight: normal;}
    p{display: block;line-height: 56px; text-align: right;}
    span{ font-size: 26px;}
    i{font-style: normal;}
  }
  .btns{ width: 100%; position: absolute; bottom:0px; display: flex; height: 55px; line-height: 55px; flex-direction: row;  text-align: center; font-size: 18px; color: #fff;
    div{ flex: 1; cursor: pointer; width: 50%;}
    .go-car{background: #ffe542; border-bottom-left-radius:10px; float: left; color: #4a4a4a; }
    .go-buy{background: #3ac8e0; border-bottom-right-radius:10px; float: left;}
    .go-buy.on{background: #1a8c9f;}
    .go-car.on{background: #d9be15;}

  }

}



/*小屏*/
@media (max-width: 1700px) {
}
