body, ul, li, ol, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  list-style: none;
}

img {
  border: 0;
}

#evt_loading {
  position: relative;
  height: 600px;
}

#evt_spin {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft YaHei",Tahoma,Arial;
}

.evt-container {
  position: relative;
  display: none;
}

body {
  overflow-x: hidden;
}

.evt-content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.evt-container {
  width: 100%;
  background-color: #f4f4f4;
}

.evt-content .secItem {
  position: absolute;
}

.evt-content .secItem .arrow {
  position: absolute;
}

.section-banner {
  height: 975px;
  background: url(../images/banner_bg.jpg) no-repeat 50% 0;
}

.section-banner .lg-title {
  position: absolute;
  left: -50px;
  top: -10px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.section-banner .lg-price {
  position: absolute;
  left: 153px;
  top: 514px;
}

.section-banner .lg-price .buy-link {
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 88px;
  height: 27px;
}

.section-banner .lighter {
  position: absolute;
  left: 442px;
  top: 430px;
}

.section-banner .banner-link {
  position: absolute;
  left: 300px;
  top: 400px;
  width: 500px;
  height: 370px;
  outline: none;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
}

.section-main {
  background: url(../images/main_bg.jpg);
}

.section-main .evt-content {
  height: 2640px;
}

.section-main .buy-btn .buy-link {
  position: absolute;
  width: 130px;
  height: 40px;
}

.section-main .q1 {
  left: 70px;
  top: -23px;
}

.section-main .q2 {
  left: 488px;
  top: 134px;
}

.section-main .q3 {
  left: 213px;
  top: 537px;
}

.section-main .q3 .buy-link {
  left: 20px;
  top: 5px;
}

.section-main .q4 {
  left: 460px;
  top: 410px;
}

.section-main .q5 {
  left: 260px;
  top: 694px;
}

.section-main .q6 {
  left: 555px;
  top: 992px;
}

.section-main .q6 .buy-link {
  left: 38px;
  top: 5px;
}

.section-main .q7 {
  left: 52px;
  top: 1022px;
}

.section-main .q8 {
  left: 323px;
  top: 1255px;
}

.section-main .q9 {
  left: 178px;
  top: 1576px;
}

.section-main .q9 .buy-link {
  left: 20px;
  top: 0;
  height: 50px;
}

.section-main .q10 {
  left: 367px;
  top: 1624px;
}

.section-main .q11 {
  left: 706px;
  top: 1530px;
}

.section-main .q12 {
  left: 730px;
  top: 2022px;
}

.section-main .q12 .buy-link {
  left: 20px;
  top: 2px;
  height: 50px;
}

.section-main .q13 {
  left: 237px;
  top: 2160px;
}

.section-main .q14 {
  left: 205px;
  top: 2050px;
}

.section-main .q15 {
  left: 66px;
  top: 2315px;
}

.section-main .q15 .buy-link {
  left: 20px;
  bottom: 3px;
  height: 50px;
}

.section-main .q16 {
  left: 599px;
  top: 2562px;
}

.section-main .footer-bg {
  bottom: 0px;
  left: 348px;
}

.mc-logo {
  position: absolute;
  right: 10px;
  top: 54px;
  width: 61px;
  height: 88px;
  background: url(../images/christ_logo.png) no-repeat;
}

.evt-footer {
  height: 300px;
  background-color: #e9eaee;
}

.evt-footer .footer-bd {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.evt-footer .evt-rules {
  padding-left: 138px;
  padding-top: 62px;
}

.evt-footer .evt-rules h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.evt-footer .evt-rules p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 2000;
}

.snow-container .snow {
  position: absolute;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  background: url(../images/snow.png) no-repeat\9;
}

:root .snow-container .snow {
  background: none\9;
}
