.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.evt-container {
  overflow: hidden;
  background: #fffafa;
}

.sec-banner {
  position: relative;
  width: 100%;
  height: 639px;
  background: url("../images/banner.png") center;
  z-index: 1;
}

.s-title {
  display: inline-block;
  padding: 70px 0;
  margin: 0 auto;
}

.sec-0 {
  position: relative;
  margin-top: -180px;
  z-index: 2;
}

.sec-0 .evt-content {
  width: 1220px;
  padding: 0 0 60px;
}

.sec-0 .hongbao {
  position: relative;
  margin: 0 auto 20px;
  text-align: center;
}

.sec-0 .hongbao .hb {
  position: absolute;
  bottom: 118px;
  width: 133px;
  height: 43px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 43px;
  cursor: pointer;
}

.sec-0 .hongbao .hb1 {
  left: 263px;
  color: #6865b2;
}

.sec-0 .hongbao .hb2 {
  left: 545px;
  color: #8c547e;
}

.sec-0 .hongbao .hb3 {
  left: 828px;
  color: #c66e7b;
}

.sec-0 .hongbao .hb.on {
  color: #a19d9d;
}

.sec-1 {
  position: relative;
  z-index: 1;
  padding-top: 10px;
}

.sec-1 .dis {
  position: absolute;
}

.sec-1 .dis-1 {
  top: 560px;
  left: 50%;
  margin-left: -690px;
}

.sec-1 .dis-2 {
  top: 1170px;
  left: 50%;
  margin-left: 470px;
}

.sec-1 .evt-content {
  width: 1121px;
  text-align: center;
  background: #fff;
  border: #efebe9 1px solid \8;
  box-shadow: 0 5px 20px #efebe9;
  padding-bottom: 50px;
}

.sec-1 .evt-content .item {
  position: relative;
  width: 1180px;
  height: 410px;
  text-align: left;
}

.sec-1 .evt-content .item .cake {
  position: absolute;
  top: 0;
  left: 10px;
}

.sec-1 .evt-content .item .price {
  position: absolute;
  top: 63px;
  left: 565px;
}

.sec-1 .evt-content .item .title {
  margin: 0 0 20px 0;
}

.sec-1 .evt-content .item .select {
  position: absolute;
  top: 115px;
  left: 360px;
}

.sec-1 .evt-content .item .select ul li {
  width: 36px;
  height: 35px;
  background: url("../images/gou-1-1.png");
  margin-bottom: 30px;
  cursor: pointer;
}

.sec-1 .evt-content .item .select ul li.on {
  background: url("../images/gou-1-2.png");
}

.sec-1 .evt-content .item-2 .cake {
  top: 40px;
  left: 560px;
}

.sec-1 .evt-content .item-2 .price {
  top: 63px;
  left: 176px;
}

.sec-1 .evt-content .item-2 .price ul li {
  background: url("../images/gou-2-1.png");
}

.sec-1 .evt-content .item-2 .price ul li.on {
  background: url("../images/gou-2-2.png");
}

.sec-1 .evt-content .item-2 .goubtn span {
  background: url("../images/go-buy-2.png") no-repeat;
}

.sec-1 .evt-content .item-3 .cake {
  top: 40px;
  left: 0;
}

.sec-1 .evt-content .item-3 .price {
  left: 595px;
}

.sec-1 .evt-content .item-3 .price ul li {
  background: url("../images/gou-3-1.png");
}

.sec-1 .evt-content .item-3 .price ul li.on {
  background: url("../images/gou-3-2.png");
}

.sec-1 .evt-content .item-3 .goubtn span {
  background: url("../images/go-buy-3.png") no-repeat;
}

.goubtn {
  padding: 20px 0;
}

.goubtn span {
  display: inline-block;
  width: 147px;
  height: 31px;
  margin: 0 10px 0 0;
  background: url("../images/go-buy-1.png") no-repeat;
}

.sec-footer {
  position: relative;
  background: #f1f9ff;
  z-index: 2;
  margin-top: 165px;
}

.sec-footer .evt-content {
  width: 1200px;
  padding: 100px 0;
  color: #000;
  text-align: center;
}

.sec-footer .evt-content .hd-guize {
  width: 835px;
  margin: 0 auto;
  text-align: left;
}

.sec-footer .evt-content h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 5px;
}

.sec-footer .evt-content p {
  font-size: 16px;
  line-height: 1.8em;
  padding-left: 1em;
  text-indent: -1em;
  margin-top: 5px;
}

.sec-footer .evt-content p span {
  display: block;
  padding-left: 0.5em;
  text-indent: -0.5em;
}

@media screen and (max-width: 1700px) {
  .sec-3 .evt-content {
    height: 440px;
  }
  .sec-3 .evt-content .price {
    top: 50px;
  }
  .sec-3 .evt-content .select {
    top: 275px;
  }
  .sec-3 .cake {
    width: 720px;
  }
  .sec-3 .cake img {
    width: 100%;
  }
}
