@charset "UTF-8";
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/*数量加减时，禁止双击选中*/
span.num {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*公共样式*/
.evt-container {
  overflow: hidden;
  background: #ffeef4;
}

.evt-content {
  width: 1200px;
  margin: 0 auto;
}

.zoom {
  width: 100%;
  transition: all 0.4s;
}

.zoom.on {
  transform: scale(0.97);
}

.scaleImg {
  z-index: 1;
}

.scaleImg img.scale {
  transition: all 0.4s;
}

.scaleImg.on img.scale {
  transform: scale(1.05);
}

h2, h3, h4, b, i, strong, samp {
  font-weight: normal;
  font-style: normal;
}

i {
  font-size: 12px;
}

.title {
  width: 250px;
  margin: 60px auto;
}

.title-3 {
  width: 100%;
  padding: 45px 0;
  border: #cdcccc 2px dashed;
  text-align: center;
  cursor: pointer;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.zn-title {
  text-align: center !important;
  position: relative;
  padding-top: 70px;
  padding-bottom: 50px;
}

.zn-title img {
  display: block;
  margin: 0 auto !important;
  clear: both;
}

.zn-title .hd-titme {
  font-size: 20px;
  line-height: 50px;
  color: #000;
}

.zn-title .hd-txt {
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

.buy-btns {
  position: absolute;
  bottom: 126px;
  left: 40px;
  z-index: 2;
}

.buy-btns .buy-btn {
  float: left;
  font-size: 16px;
  text-align: center;
  width: 150px;
  line-height: 44px;
  color: #000;
  background: #ffd7e4;
  border-radius: 44px;
  cursor: pointer;
  margin: 0 5px;
}

.buy-btns .buy-btn.on {
  background: #ed7da2;
}

.more {
  margin: 50px auto;
  width: 300px;
  background: #ffd7e4;
  text-align: center;
  line-height: 62px;
  border-radius: 62px;
}

.more span {
  font-size: 30px;
  color: #000;
  cursor: pointer;
  margin: 0 5px;
}

.more.on {
  background: #ed7da2;
}

.border-ie8 {
  border: #efefef 1px solid\0;
}

.sec-banner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: url("../images/sec-1.jpg") center;
}

.sec-banner .evt-content {
  height: 1306px;
}

.sec-banner .banner-l {
  position: absolute;
  top: 0;
  right: -400px;
}

.sec-banner .banner-car {
  position: absolute;
  top: 330px;
  left: -250px;
  z-index: 2;
}

.sec-banner .banner-word {
  position: absolute;
  top: 175px;
  left: 50px;
}

.sec-banner .qiang-quan {
  position: absolute;
  top: 584px;
  height: 650px;
  left: 50%;
  width: 1260px;
  margin-left: -630px;
  background: #fff;
  z-index: 1;
  text-align: center;
  box-shadow: 0 0 100px #f3d7e0;
  border-radius: 5px;
}

.sec-banner .qiang-quan .num-1 {
  margin: 40px auto;
}

.sec-banner .qiang-quan .qBtn {
  position: absolute;
  width: 145px;
  line-height: 37px;
  background: linear-gradient(to right, #8570ca, #9985db, #8570ca);
  border-radius: 37px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  background: #8570ca \0;
}

.sec-banner .qiang-quan .qBtn.end {
  background: #ccc;
  color: #000;
}

.sec-banner .qiang-quan .lastTime1 {
  position: absolute;
  top: 502px;
  left: 330px;
  font-size: 18px;
  color: #000;
}

.sec-banner .qiang-quan .qiang-btn {
  top: 540px;
  left: 325px;
}

.sec-banner .qiang-quan .lastTime2 {
  position: absolute;
  top: 502px;
  left: 808px;
  font-size: 18px;
  color: #000;
}

.sec-banner .qiang-quan .qiang-btn2 {
  top: 540px;
  left: 804px;
  background: linear-gradient(to right, #ecb126, #fec961, #ecb126);
  background: #ecb126 \0;
}

.sec-cakes {
  position: relative;
  z-index: 2;
  padding-bottom: 100px;
  background: url("../images/sec-2.jpg") top;
}

.sec-cakes div {
  position: relative;
}

.sec-cakes .cakes {
  margin-top: -30px;
  position: relative;
}

.sec-cakes .cakes ul {
  margin-left: -28px;
}

.sec-cakes .cakes ul li {
  width: 386px;
  height: 430px;
  margin-left: 23px;
  float: left;
  position: relative;
  margin-top: 45px;
  background: #fff;
  box-shadow: 0 0 100px #f3d7e0;
  border-radius: 5px;
}

.sec-cakes .cakes ul li img {
  margin-bottom: 20px;
  width: 100%;
}

.sec-cakes .cakes ul li .m-title {
  position: absolute;
  width: 100%;
  bottom: 130px;
  text-align: center;
  font-size: 18px;
  color: #000;
}

.sec-cakes .cakes ul li s {
  color: #4f4f4f;
  font-size: 14px;
}

.sec-cakes .cakes ul li .m-price {
  position: absolute;
  bottom: 75px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: #000;
}

.sec-cakes .cakes ul li .m-price span {
  font-size: 36px;
  color: #f9397c;
}

.sec-cakes .cakes ul li .m-car {
  position: absolute;
  bottom: 30px;
  left: 210px;
  font-size: 16px;
  text-align: center;
  width: 120px;
  line-height: 34px;
  color: #000;
  background: #ffc3d7;
  border-radius: 34px;
  cursor: pointer;
}

.sec-cakes .cakes ul li .m-car.on {
  background: #ed7da2;
}

.sec-cakes .cakes ul li .m-btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 16px;
  text-align: center;
  width: 120px;
  line-height: 34px;
  margin-left: -60px;
  color: #000;
  background: #ffc3d7;
  border-radius: 34px;
  cursor: pointer;
}

.sec-cakes .cakes ul li .m-btn.on {
  background: #ed7da2;
}

.sec-cakes .cakes ul li .lijian {
  position: absolute;
  right: 0;
  top: 259px;
}

.sec-cakes .cakes ul li .jf {
  position: absolute;
  bottom: 20px;
  left: 230px;
  font-size: 14px;
  text-align: center;
  color: #f9397c;
}

.sec-cakes .cakes ul li .zhekou {
  width: 70px;
  margin-bottom: 6px !important;
  vertical-align: bottom;
}

.sec-cakes.jifen {
  background: url("../images/sec-3.jpg") top;
}

.sec-cakes.xiaoshi {
  background: #ffe4ed;
}

.sec-cakes.xiaoshi .cakes {
  margin-top: 50px;
}

.sec-cakes.xiaoshi ul {
  margin-left: -28px;
  background: url("../images/s-bg.png") center top no-repeat;
  padding-bottom: 50px;
}

.sec-cakes.xiaoshi ul li {
  width: 240px;
  height: 330px;
  margin-left: 40px;
  margin-right: 20px;
  float: left;
  position: relative;
  margin-top: 45px;
  box-shadow: none;
  border-radius: 0;
}

.sec-cakes.xiaoshi ul .m-price {
  position: absolute;
  bottom: 75px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: #000;
}

.sec-cakes.xiaoshi ul .m-price span {
  font-size: 26px !important;
  color: #f9397c;
}

.sec-cakes.xiaoshi ul .m-price strong {
  font-size: 16px;
  color: #f9397c;
}

.sec-cakes.xiaoshi ul .m-car {
  bottom: 21px;
}

.sec-cakes.xiaoshi ul .m-btn {
  bottom: 21px;
}

.sec-xp {
  position: relative;
  z-index: 2;
}

.sec-xp .xincake {
  height: 450px;
  background: #fff;
}

.sec-xp .xp {
  padding-top: 50px;
  position: relative;
}

.sec-xp .xp .cake-xp {
  width: 623px;
  float: right;
  top: 50px;
  right: 50px;
  z-index: 5;
}

.sec-xp .xp .buy-price {
  position: absolute;
  width: 320px;
  text-align: center;
  bottom: 240px;
  left: 100px;
  font-size: 20px;
  color: #000;
}

.sec-xp .xp .buy-price span {
  font-size: 35px;
}

.sec-xp .xp .buy-btns {
  position: absolute;
  left: 116px;
  bottom: 150px;
}

.evt-footer {
  position: relative;
  background: url("../images/sec-foot.jpg");
  width: 100%;
}

.evt-footer .evt-content {
  color: #5d5d5d;
  text-align: center;
}

.evt-footer .dis-1 {
  position: absolute;
  top: 130px;
  left: -60px;
}

.evt-footer .dis-2 {
  position: absolute;
  top: 90px;
  right: -20px;
}

.evt-footer .ewm {
  margin: 10px auto;
}

.evt-footer .evt-rules {
  position: relative;
  width: 790px;
  margin: 0 auto;
  padding: 50px 0 100px 55px;
  text-align: left;
}

.evt-footer .evt-rules h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 18px;
  line-height: 1.8em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

/*蛋糕选择弹窗*/
.Dialogbg-Select {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none;
  -moz-opacity: .8;
  filter: alpha(opacity=80);
}

.Dialog-Select {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size: 14px;
  width: 520px;
  height: auto;
  margin-top: -210px;
  margin-left: -260px;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999;
  border-radius: 10px;
  display: none;
}

.s-closes {
  position: absolute;
  right: -30px;
  top: 8px;
  width: 17px;
  height: 17px;
  background: url("../images/close.png");
  cursor: pointer;
}

.Select {
  position: relative;
  color: #000;
  height: 100%;
}

.Select .s-title {
  height: 96px;
  background: #f2f2f2;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Select .s-title h2 {
  font-size: 18px;
  line-height: 30px;
  padding-left: 40px;
  padding-top: 20px;
}

.Select .s-title b {
  font-size: 14px;
  color: #9a9a9a;
  font-weight: normal;
  padding-left: 40px;
}

.Select .s-bangshu {
  padding-top: 30px;
}

.Select .s-bangshu ul {
  margin-left: 40px;
}

.Select .s-bangshu ul li {
  float: left;
  width: 60px;
  height: 60px;
  background: #f2f2f2;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: #4a4a4a;
  margin-right: 30px;
  font-weight: bold;
  cursor: pointer;
}

.Select .s-bangshu ul li.on {
  background: #ffc3d7;
}

.Select .d-tips {
  padding: 15px 40px;
  color: #4c4c4c;
  font-size: 12px;
}

.Select .s-num {
  border-top: #ededed 1px solid;
  padding-left: 40px;
}

.Select .s-num b {
  display: inline-block;
  width: 200px;
  margin: 10px 0;
  line-height: 52px;
  float: left;
  font-size: 16px;
  color: #737373;
  font-weight: normal;
}

.Select .s-num .nums {
  display: inline-block;
  margin: 15px 40px 0;
  float: right;
  height: 52px;
  position: relative;
  width: 150px;
}

.Select .s-num .nums a {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2px;
}

.Select .s-num .nums .minus {
  background: url("../images/btn-1.png") center no-repeat;
  background-size: 100%;
  left: 0;
}

.Select .s-num .nums .plus {
  background: url("../images/btn-2.png") center no-repeat;
  background-size: 100%;
  right: 0;
}

.Select .s-num .nums input {
  background: none;
  border: none;
  display: block;
  font-size: 26px;
  height: 40px;
  left: 35px;
  line-height: 40px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 80px;
  color: #000;
}

.Select .s-prices {
  border-top: #ededed 1px solid;
  font-size: 22px;
  padding: 0 40px;
}

.Select .s-prices b {
  display: inline-block;
  width: 200px;
  margin: 0;
  line-height: 56px;
  float: left;
  font-size: 16px;
  color: #737373;
  font-weight: normal;
}

.Select .s-prices p {
  display: block;
  line-height: 56px;
  text-align: right;
}

.Select .s-prices span {
  font-size: 26px;
}

.Select .s-prices i {
  font-style: normal;
  font-size: 16px;
}

.Select .s-prices s {
  font-size: 18px;
  color: #aaa;
}

.Select .btns {
  width: 100%;
  position: relative;
  bottom: 0px;
  display: flex;
  height: 55px;
  line-height: 55px;
  flex-direction: row;
  text-align: center;
  font-size: 18px;
  color: #000;
}

.Select .btns div {
  flex: 1;
  cursor: pointer;
  width: 100%;
}

.Select .btns .go-car {
  background: #ffc3d7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  float: left;
  color: #000;
}

.Select .btns .go-car.on {
  background: #ed7da2;
}

.Select .btns .go-buy {
  background: #ffc3d7;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  float: left;
}

.Select .btns .go-buy.on {
  background: #ed7da2;
}

/*活动规则彈窗*/
.Dialogbg-rules {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none;
  -moz-opacity: .8;
  filter: alpha(opacity=80);
}

.Dialog-rules {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size: 14px;
  width: 700px;
  height: 550px;
  left: 50%;
  margin: -275px 0 0 -350px;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999;
  display: none;
  border-radius: 5px;
}

.Dialog-rules .closes {
  width: 9px;
  height: 9px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 8;
  background: url("../images/close-1.png") no-repeat;
}

.Dialog-rules .rules {
  margin: 40px 20px 40px 30px;
  padding: 0 10px;
  height: 466px;
  color: #242424;
}

.Dialog-rules .rules .txt {
  width: 100%;
  height: 100%;
}

.Dialog-rules .rules h2 {
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 40px;
}

.Dialog-rules .rules h3 {
  font-size: 16px;
  line-height: 36px;
  font-weight: bold;
}

.Dialog-rules .rules p {
  padding-left: 20px;
  text-indent: -20px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 5px;
}

.Dialog-rules .txt.long {
  overflow-y: scroll;
}

/*优惠券 彈窗*/
.Dialogbg-tip {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none;
  -moz-opacity: .8;
  filter: alpha(opacity=80);
}

.Dialog-tip {
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 0 #999;
  font-size: 14px;
  width: 460px;
  margin: -270px  auto 0 -230px;
  padding: 0;
  z-index: 99999;
  display: none;
  border-radius: 15px;
  background: #fff;
}

.Dialog-tip .tip-wrap .tip-header {
  text-align: center;
  padding: 10px 0;
  background: #fff;
  border-radius: 15px 15px 0 0;
}

.Dialog-tip .tip-wrap .tip-header .jp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 50px auto 20px;
}

.Dialog-tip .tip-wrap .tip-header h2 {
  font-size: 34px;
  line-height: 60px;
  color: #f44053;
}

.Dialog-tip .tip-wrap .tip-header p {
  font-size: 13px;
  line-height: 30px;
  color: #000;
}

.Dialog-tip .tip-wrap .tip-header p b {
  color: #828282;
}

.Dialog-tip .tip-wrap .tip-header p span {
  font-size: 31px;
  color: #f44053;
  line-height: 50px;
}

.Dialog-tip .tip-wrap .tip-footer {
  border-top: #d0d0d0 1px solid;
  text-align: center;
  margin: 10px 20px;
  padding: 20px 0;
}

.Dialog-tip .tip-wrap .tip-footer p {
  font-size: 15px;
  color: #828282;
  line-height: 24px;
}

.Dialog-tip .tip-wrap .go-btn {
  position: absolute;
  bottom: -70px;
  width: 370px;
  left: 50%;
  margin-left: -185px;
}

.Dialog-tip .tip-wrap .go-btn span {
  display: block;
  width: 156px;
  height: 50px;
  border-radius: 50px;
  background: #ffffff;
  text-align: center;
  line-height: 50px;
  float: left;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.Dialog-tip .tip-wrap .go-btn .go-wait {
  float: right;
}

.Dialog-tip .tip-2 .tip-header img {
  margin: 0 auto;
}

.Dialog-tip .closesx {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: -50px;
  cursor: pointer;
  z-index: 8;
  background: url("../images/close.png") no-repeat;
}

@media screen and (max-width: 1400px) {
  .sec-banner {
    margin-top: -100px !important;
  }
  .banner-car {
    left: -50px !important;
  }
}
