.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num,.noselect{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.evt-container{ overflow: hidden; background:url("../images/bg.jpg") repeat; }

.sec-banner{
  background:url("../images/banner.png") center; z-index: 1; height: 549px; overflow: hidden;
  .evt-content{ width: 1200px; margin: 0 auto; height: 536px; }
  .banner-t{ position: absolute; top:120px; left: 50%; margin-left: -336.5px;}
}

.hy-title{width: 747px; margin: 0 auto 50px; position: relative;}
.sec-1{  position: relative; padding-top: 100px;
  .evt-content{ width: 1200px; }
  .row{position: relative; }
  .row1{height: 390px;
    .cake{position: absolute; top:0; left: 568px;}
    .price{ top:87px; left: 250px;
      h2, h2 span,s,.price_num dl dt span,.huangou{color: #a60d0e;}
      .buy_btn_box span{background: #dc6162 !important;}
      .buy_btn_box li.on span{background: #a60d0e !important;}
    }
  }
  .row2{height: 530px;
    .cake{position: absolute;top:20px; left:160px;}
    .price{ top:120px; left: 668px;
      h2, h2 span,s,.price_num dl dt span,.huangou{color: #d27700;}
      .buy_btn_box span{background: #cf9f61 !important;}
      .buy_btn_box li.on span{background: #d27700 !important;}
    }
  }
  .row3{height: 520px;
    .cake{position: absolute; top: 50px; left: 518px;}
    .price{ top:127px; left: 270px;
      h2, h2 span,s,.price_num dl dt span,.huangou{color: #bd8910;}
      ul.price_p li.cur, .buy_btn_box span{background: #cf9f61 !important;}
      .buy_btn_box li.on span{background: #bd8910 !important;}
    }
  }
}

.sec-3{position: relative; z-index: 2;
  .evt-content{  width: 1080px;  padding:10px 0 50px;}
  .select-li{left: 0; top:-3px;
    li{width: 239px; margin:10px 15px; float: left; text-align: center;
      .price-select{padding: 10px; font-size: 16px; color: #4f3706;
        b{font-size: 28px; color: #fd7723; font-weight: normal;}
        i{font-size: 14px; font-style: normal;}
      }
      img{margin:5px auto 0;}
      .mun{width: 84px; margin: 0 auto 10px;
        dd{float: left;}
        dt{float: left; width:40px; text-align: center; line-height: 22px;
          span{display: block; color: #594215;}
        }
        .nopoint{ width: 22px; height: 22px; background: url("../images/in-l.png") no-repeat; cursor: pointer;}
        .nopoint.add{background: url("../images/in-r.png") no-repeat;}
      }
    }
  }
  .go-btn{position: relative; width: 250px;  border-radius: 45px; cursor: pointer; margin: 0 auto;
    span{display: block; float: left; width: 110px; line-height: 35px;background: #e4d6bb; color: #4f3706;  border-radius: 45px; font-size: 15px; text-align: center; letter-spacing: 2px; margin: 0 5px;}
    span.on{background: #d6b980;}
  }
}



.evt-footer{ z-index: 1;
  position: relative;  background:url("../images/footer-bg.png") repeat;
  .evt-content{width: 1200px; color: #874821;}
    .evt-rules{width: 1020px; margin: 0 auto; padding:100px 0 100px 55px;
      h2{ font-size: 24px;  font-weight: normal;  margin-bottom: 5px;  }
      p{ font-size:18px; line-height: 1.8em;  padding-left: 1.5em;  text-indent: -1.5em;  }
    }
}
.price{text-align: left;}
.price .price-title{margin-bottom: 10px !important;}
.price .price-title{margin-bottom: 10px !important;}
.price ul.buy_btn_box{margin: 10px 0; width: 300px;}
.price ul.buy_btn_box li{height:30px;}

.floater{  position: fixed; width: 145px; height: 145px; top: 600px; z-index: 11; left: 50%; margin-left: 520px; cursor: pointer;
  .tips{ position: absolute; width: 50px; height: 50px; right:-5px; top: -5px; border-radius: 50%; background:url("../images/tips.png") center no-repeat; background-size: 100%; text-align: center; z-index: 12; cursor: Default;
    span{ font-size:18px; color: #fff; line-height: 50px;}
  }
}



