.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.evt-container {
  overflow: hidden;
}

.sec-top {
  background: url("../images/bg.png") center;
  z-index: 1;
}

.sec-top .evt-content {
  width: 1000px;
  height: 712px;
}

.sec-top .evt-content .ds-1 {
  top: -10px;
  left: -20px;
}

.sec-top .evt-content .ds-2 {
  top: 382px;
  left: 93px;
}

.sec-top .evt-content .ds-3 {
  top: 546px;
  left: 264px;
}

.sec-top .evt-content .ds-4 {
  top: 514px;
  left: -20px;
}

.sec-top .evt-content .cake-1 {
  top: 115px;
  left: 180px;
}

.sec-top .evt-content .yh {
  top: 150px;
  left: -55px;
}

.sec-top .evt-content .title {
  top: 100px;
  left: 643px;
}

.sec-main {
  position: relative;
  z-index: 1;
  background: url(../images/bg.jpg) repeat;
}

.sec-main .evt-content {
  width: 1000px;
  height: 1000px;
}

.sec-main .evt-content .cake-2 {
  top: 113px;
  left: -50px;
}

.sec-main .evt-content .logo {
  top: 143px;
  left: 607px;
}

.sec-main .evt-content .lv {
  top: 230px;
  left: 532px;
}

.sec-main .evt-content .select {
  position: absolute;
  top: 535px;
  left: 628px;
  width: 400px;
  padding: 0;
}

.sec-main .evt-content .select .radio {
  opacity: 0;
  display: none;
  height: 0;
}

.sec-main .evt-content .select label.label {
  background: url(../images/kugou.ico) left no-repeat;
  background-size: 8%;
  height: 30px;
  padding-left: 50px;
  margin: 10px auto;
  font-size: 5px;
  display: block;
  cursor: pointer;
}

.sec-main .evt-content .select label.label img {
  width: 90%;
}

.sec-main .evt-content .select input[type='radio'].radio:checked + .label {
  background: url(../images/qqplayer.ico) no-repeat;
  background-size: 8%;
  margin: 10px auto;
}

.sec-main .evt-content .go-btn {
  width: 200px;
  height: 63px;
  background: url("../images/btn.png");
  top: 667px;
  left: 702px;
  text-align: center;
}

.sec-main .evt-content .go-btn a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.sec-main .evt-content .go-btn span {
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 63px;
}

.main-top-bar {
  position: absolute;
  width: 1280px;
  height: 93px;
  background: url("../images/bolang.png");
  z-index: 10;
  top: -60px;
}

.evt-footer {
  position: relative;
  background: #f1f2b4;
  z-index: 10;
  width: 100%;
  margin-top: -80px;
}

.evt-footer .evt-content {
  width: 1280px;
}

.evt-footer .footer-left {
  position: relative;
  float: left;
  width: 451px;
  height: 372px;
  margin-left: 70px;
  margin-top: 20px;
}

.evt-footer .footer-bd {
  float: left;
  position: relative;
  width: 52%;
  color: #000;
  margin-left: 65px;
}

.evt-footer .footer-bd .evt-rules {
  padding: 90px 0 15px 60px;
  font-size: 20px;
  margin-left: 40px;
}

.evt-footer .footer-bd .evt-rules h2 {
  font-weight: normal;
  margin-bottom: 5px;
}

.evt-footer .footer-bd .evt-rules p {
  line-height: 1.8em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.evt-footer .footer-bd .x-mym {
  position: absolute;
  top: -63px;
  right: 10%;
}
