/* line 17, ../sass/style.scss */
.c-btn {
  display: inline-block;
  padding: 4px 8px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-decoration: none !important;
  background-color: #b0916a;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
/* line 29, ../sass/style.scss */
.c-btn:hover {
  background-color: #977850;
}

/* line 34, ../sass/style.scss */
.c-btn-large {
  padding: 10px 20px;
}

/* line 38, ../sass/style.scss */
.c-btn.block {
  display: block;
}

/* line 42, ../sass/style.scss */
.evt-content {
  width: 1000px;
  margin: 0 auto;
}

/* line 47, ../sass/style.scss */
.carsel-wrap {
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
/* line 52, ../sass/style.scss */
.carsel-wrap .c-arrow-left,
.carsel-wrap .c-arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 28px;
  height: 59px;
}
/* line 60, ../sass/style.scss */
.carsel-wrap .c-arrow-left {
  left: 25px;
  background: url(../images/carsel-left.png) no-repeat;
}
/* line 64, ../sass/style.scss */
.carsel-wrap .c-arrow-right {
  right: 25px;
  background: url(../images/carsel-right.png) no-repeat;
}

/* line 71, ../sass/style.scss */
.carsel-header {
  margin-bottom: 12px;
  height: 56px;
  background: url(../images/carsel-tit.png) no-repeat 50% 0;
}
/* line 76, ../sass/style.scss */
.carsel-header h2 {
  visibility: hidden;
}

/* line 81, ../sass/style.scss */
.carsel-layout {
  position: relative;
  float: left;
  padding-left: 68px;
  padding-right: 68px;
}

/* line 88, ../sass/style.scss */
.carsel-container {
  position: relative;
  width: 646px;
  margin: 0 auto;
  padding: 22px 0;
  overflow: hidden;
}
/* line 95, ../sass/style.scss */
.carsel-container .carsel-scroller {
  position: relative;
  width: 5000px;
}
/* line 100, ../sass/style.scss */
.carsel-container .carsel-item {
  position: relative;
  float: left;
  text-align: center;
  margin-right: 25px;
  padding-bottom: 45px;
  width: 199px;
  height: 263px;
  background: url(../images/product-bg.png) no-repeat;
}
/* line 110, ../sass/style.scss */
.carsel-container .carsel-item .product-img {
  width: 152px;
  height: 152px;
  margin: 18px auto;
  overflow: hidden;
  background-color: #b4b4b4;
}
/* line 117, ../sass/style.scss */
.carsel-container .carsel-item .product-img img {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 124, ../sass/style.scss */
.carsel-container .carsel-item.on {
  background: url(../images/product-bg-on.png) no-repeat;
}
/* line 128, ../sass/style.scss */
.carsel-container .carsel-item p {
  color: #666;
  font-weight: bold;
}
/* line 133, ../sass/style.scss */
.carsel-container .carsel-item h3 {
  margin: 5px 0 0;
  color: #7fc7f0;
  font-weight: normal;
  font-size: 16px;
}
/* line 140, ../sass/style.scss */
.weight-selection {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  text-align: center;
}
/* line 147, ../sass/style.scss */
.weight-selection .weight-item {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
  background: url(../images/weight-bg.png) no-repeat;
}
/* line 159, ../sass/style.scss */
.weight-selection .weight-item.on b {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 28px;
  height: 28px;
  margin-right: -5px;
  background: url(../images/ok.png) no-repeat;
}
/* line 170, ../sass/style.scss */
.weight-selection .w-split {
  display: inline-block;
  width: 2px;
  height: 30px;
  overflow: hidden;
  font-size: 0;
  background-color: #84c1d7;
  margin: 0 10px;
  vertical-align: middle;
}

/* line 185, ../sass/style.scss */
.carsel-side {
  float: left;
}
/* line 188, ../sass/style.scss */
.carsel-side .carsel-combine {
  float: left;
  width: 18px;
  height: 20px;
  margin-top: 165px;
  background: url(../images/pod-combine.png) no-repeat;
}
/* line 196, ../sass/style.scss */
.carsel-side .carsel-selected {
  float: left;
  width: 198px;
  height: 291px;
  text-align: center;
  background: url(../images/product-bg2.png) no-repeat;
}
/* line 203, ../sass/style.scss */
.carsel-side .carsel-selected .product-img {
  width: 120px;
  height: 120px;
  margin: 88px auto 8px;
  overflow: hidden;
  background-color: #b4b4b4;
}
/* line 210, ../sass/style.scss */
.carsel-side .carsel-selected .product-img img {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 217, ../sass/style.scss */
.carsel-side .carsel-selected p {
  color: #666;
  font-weight: bold;
}
/* line 222, ../sass/style.scss */
.carsel-side .carsel-selected h3 {
  margin: 5px 0 0;
  color: #7fc7f0;
  font-weight: normal;
  font-size: 16px;
}

/* line 231, ../sass/style.scss */
.exchange-price {
  width: 360px;
  margin: 0 auto;
  padding: 50px 0 100px;
  overflow: hidden;
  *zoom: 1;
}
/* line 238, ../sass/style.scss */
.exchange-price .exp-left {
  float: left;
  margin-right: 25px;
}
/* line 243, ../sass/style.scss */
.exchange-price .exp1 {
  font-size: 18px;
  text-decoration: line-through;
  color: #666;
}
/* line 249, ../sass/style.scss */
.exchange-price .exp2 {
  font-size: 22px;
  color: #c6985e;
  font-weight: bold;
}
/* line 255, ../sass/style.scss */
.exchange-price .exchange-btn {
  display: inline-block;
  width: 193px;
  height: 52px;
  background: url(../images/exchange-btn.png) no-repeat;
  text-indent: -9999px;
}

/* line 264, ../sass/style.scss */
.evt-container {
  position: relative;
  margin-top: -100px;
  padding-top: 1192px;
  background: #ecf3f7 url(../images/tp_magbg.jpg) no-repeat 50% 22px;
}

/* line 271, ../sass/style.scss */
.evt-footer {
  background-color: #f5f5f5;
  padding: 45px 0 80px;
}
/* line 275, ../sass/style.scss */
.evt-footer-bd {
  width: 1000px;
  margin: 0 auto;
}
/* line 280, ../sass/style.scss */
.evt-footer .evt-rules {
  margin-left: 132px;
}
/* line 283, ../sass/style.scss */
.evt-footer .evt-rules h2 {
  margin: 0 0 10px;
  font-size: 18px;
}
/* line 288, ../sass/style.scss */
.evt-footer .evt-rules p {
  font-size: 16px;
  color: #333;
  text-indent: -1.5em;
  padding-left: 1.5em;
  margin-bottom: 10px;
}
