@charset "UTF-8";
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/*数量加减时，禁止双击选中*/
span.num, .noselect {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.evt-container {
  overflow: hidden;
  background: url("../images/bg.jpg") repeat;
}

.sec-banner {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.sec-banner img {
  width: 100%;
  display: block;
}

.hy-title {
  margin: 0 auto;
  width: 778px;
  padding: 60px 0;
  position: relative;
  text-align: center;
}

.hy-title img {
  margin: 0 auto;
  width: 100%;
}

.buy_btns {
  position: absolute;
  width: 148px;
  top: 460px;
  left: 160px;
  background: #c99d70;
  border-radius: 40px;
}

.buy_btns span {
  display: block;
  line-height: 40px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.buy_btns.end {
  background: #ababab;
}

.icon {
  position: absolute;
  width: 80px;
  height: 65px;
  left: -82px;
  top: -19px;
}

.icon_20 {
  background: url("../images/icon_20.png");
}

.icon_40 {
  background: url("../images/icon_40.png");
}

.icon_60 {
  background: url("../images/icon_60.png");
}

.icon_80 {
  background: url("../images/icon_80.png");
}

.icon_50 {
  background: url("../images/icon_50.png");
}

.jf {
  position: absolute;
  width: 92px;
  height: 25px;
  left: 65px;
  top: -1px;
}

.jf_20 {
  background: url("../images/jf-200.png");
}

.jf_40 {
  background: url("../images/jf-400.png");
}

.jf_60 {
  background: url("../images/jf-600.png");
}

.jf_80 {
  background: url("../images/jf-800.png");
}

.sec-cake {
  position: relative;
  z-index: 1;
  height: 2852px;
  background: url("../images/main-bg.jpg") center no-repeat;
  overflow: hidden;
}

.sec-cake .evt-content {
  width: 1141px;
}

.sec-cake .evt-content .hongbao {
  position: relative;
  margin: 100px auto;
  width: 943px;
}

.sec-cake .evt-content .get2 {
  left: 660px;
}

.sec-cake .evt-content .row {
  position: relative;
}

.sec-cake .evt-content .row {
  height: 500px;
}

.sec-cake .evt-content .row .cake {
  position: absolute;
  top: 0;
  left: 11px;
}

.sec-cake .evt-content .row1 .cake {
  position: absolute;
  top: 50px;
  left: 80px;
}

.sec-cake .evt-content .row1 .price {
  top: 230px;
  left: 670px;
}

.sec-cake .evt-content .row2 .cake {
  position: absolute;
  top: 50px;
  left: 562px;
}

.sec-cake .evt-content .row2 .jf {
  left: 130px;
}

.sec-cake .evt-content .row2 .price {
  top: 180px;
  left: 180px;
}

.sec-cake .evt-content .row3 .cake {
  position: absolute;
  top: 0;
  left: 70px;
}

.sec-cake .evt-content .row3 .jf {
  left: 130px;
}

.sec-cake .evt-content .row3 .price {
  top: 150px;
  left: 690px;
}

.sec-cake .evt-content .row4 .cake {
  position: absolute;
  top: 0;
  left: 565px;
}

.sec-cake .evt-content .row4 .jf {
  left: 130px;
}

.sec-cake .evt-content .row4 .price {
  top: 150px;
  left: 180px;
}

.sec-tusi {
  height: 844px;
  padding: 20px;
  background: url("../images/tusi-bg.jpg") center no-repeat;
  overflow: hidden;
}

.sec-tusi .tusi {
  position: relative;
  margin: 0 auto;
  width: 1013px;
}

.sec-tusi .btn1 {
  top: 630px;
  left: 166px;
}

.sec-tusi .btn2 {
  top: 630px;
  left: 690px;
}

.more {
  width: 144px;
  position: relative;
  margin: 0 auto;
  background: #cd686d;
  border-radius: 50px;
  text-align: center;
}

.more span {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 35px;
}

.evt-footer {
  z-index: 1;
  position: relative;
  background: url("../images/foot-bg.png") repeat;
}

.evt-footer .evt-content {
  width: 1200px;
  color: #623f00;
}

.evt-footer .evt-rules {
  width: 870px;
  margin: 0 auto;
  padding: 20px 0 100px 20px;
}

.evt-footer .evt-rules h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 18px;
  line-height: 1.8em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

/*快速点击数量加减时，或者禁止双击选中*/
span.num, .noselect {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*价格样式 通用*/
.price {
  position: absolute;
  width: 392px;
  text-align: left;
}

.price h2 {
  position: relative;
  margin: 13px 0 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #393c3f;
  text-align: left;
}

.price h2 i {
  font-size: 14px;
  font-style: normal;
  vertical-align: baseline;
}

.price h2 span {
  font-size: 34px;
  color: #393c3f;
}

.price s {
  font-size: 16px;
  color: #888785;
  font-weight: normal;
  line-height: 26px;
  text-decoration: sh;
  margin-left: 5px;
}

.price b {
  font-weight: normal;
}

.price em {
  font-style: normal;
}

.price .price-title {
  margin-bottom: 70px !important;
}

/*换购*/
.price .huangou {
  position: relative;
  width: 210px;
  font-size: 18px;
  color: #5c4c0d;
  margin: 10px auto;
  cursor: pointer;
  padding-left: 30px;
  text-align: left;
}

.price .huangou .icnone {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  z-index: 1;
}

.price .huangou .icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  z-index: 2;
}

.price .huangou {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*订购，加入购物清单*/
.price ul.buy_btn_box {
  overflow: hidden;
  width: 169px;
  margin: 15px 0 0;
  float: left;
}

.price ul.buy_btn_box.twoBtn {
  width: 280px;
}

.price ul.buy_btn_box li {
  float: left;
  height: 62px;
  margin-right: 5px;
}

.price ul.buy_btn_box li.fr {
  float: left;
}

.price ul.buy_btn_box li span {
  display: block;
  width: 150px;
  background: #c99d70;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  border-radius: 40px;
}

.bangshu {
  width: 173px;
  height: 40px;
  margin: 15px 0 10px 10px;
  float: left;
  background: #c99d70;
  border-radius: 40px;
}

.bangshu dd {
  float: left;
}

.bangshu dt {
  float: left;
  width: 90px;
  text-align: center;
  line-height: 40px;
}

.bangshu dt span {
  display: block;
  color: #fff;
  font-size: 14px;
}

/*加减按钮*/
.nopoint {
  width: 20px;
  height: 20px;
  margin: 4px 0 0 10px;
  background: url("../images/in-a-1.png") center no-repeat;
  cursor: pointer;
  border: 5px solid transparent;
}

.nopoint.plus {
  background: url("../images/in-a-2.png") center no-repeat;
  margin: 4px 5px 0 0;
}
