body,ul,li,ol,h1,h2,h3,h4,h5,h6,p{margin:0;}
ul,ol{list-style: none;}
img{border:0;}

#evt_loading{
    position:relative;
    height:600px;
}

#evt_spin{
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-10px;
    margin-left:-100px;
    width:200px;
    text-align:center;
    font-size:18px;
    font-family:"Microsoft YaHei",Tahoma,Arial;
}

.evt-container{
    position: absolute;
    left:0;
    top:0;
    right:0;
    overflow: hidden;
    display: none;
}

body{
  overflow-x:hidden;
}

@font-face {
  font-family: 'Yellow Sun';
  src: url('../fonts/dk-lemon-yellow-sun-webfont.woff2') format('woff2'),
  url('../fonts/dk-lemon-yellow-sun-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.evt-content{
    position: relative;
    width:1000px;
    margin:0 auto;
}


.evt-container{
  position: relative;
  width:100%;
  background: #f0f0f0 url(../images/g_bg.jpg);
}

.evt-content{
    .secItem {
      position: absolute;
      .arrow {
        position: absolute;
      }
    }
}


.section-primary{
  position: relative;
  height:560px;
  .layer{
    position: absolute;
    width:100%;
    left:0;
    top:0;
  }
  .grid-bg{
    left:50%;
    top:162px;
    margin-left:-573px;
  }
  .bash-bg{
    top:16px;
    left:110px;
  }
  .q1{
    left:46px;
    top:-88px;
  }
  .q2{
    left:212px;
    top:355px;
  }
  .q3{
    left:544px;
    top:262px;
  }
  .slogan{
    left:560px;
    top:162px;
  }
  .cheese_ani{
    width:334px;
    height:406px;
    left:180px;
    top:-80px;
    .sugar{
      position: absolute;
      left:50px;
      bottom: -10px;
    }
  }
  .hand{
    right:-60px;
    top:-99px;
  }
}

.secondary-bg{
  position: absolute;
  left:50%;
  top:414px;
  width:1920px;
  height:664px;
  margin-left:-960px;
  background: url(../images/center_bg.jpg) no-repeat;
}

.section-secondary{
  position: relative;
  height:410px;
  .fun-qrcode{
    left:208px;
    top:80px;
    .qr-cat{
      position: absolute;
      top:-78px;
      left:-55px;
    }
    .puren{
      position: absolute;
      right:-110px;
      top:-90px;
    }
  }
  .sub-text{
    left:462px;
    top:29px;
  }
}

.section-third{
  position: relative;
  height:700px;
  .cheese-title{
    left:140px;
    top:63px;
  }
  .q1{
    left:135px;
    top:215px;
  }
  .q2{
    left:463px;
    top:119px;
  }
  .q4{
    left:50px;
    top:-120px;
  }
  .q5{
    left:566px;
    top:320px;
    .arrow{
      position: absolute;
      right:25px;
      top:-74px;
    }
  }
  .q6{
    right:134px;
    top:168px;
  }
  .buy-actions{
    position: absolute;
    width:693px;
    height:241px;
    left:90px;
    top:455px;
    background: url(../images/base_bg2.png) no-repeat;

    .price{
      position: absolute;
      left:82px;
      top:67px;
    }

    .action-wp{
      position: absolute;
      left:216px;
      top:63px;
    }
    .count-text{
      display: inline-block;
      width:39px;
      height:22px;
      margin-right:16px;
      vertical-align: middle;
      background: url(../images/num_text.png) no-repeat;
    }
    .deserve-btn{
      display: block;
      width:177px;
      height:56px;
      background: url(../images/reserve_btn.png) no-repeat;
      cursor: pointer;
      line-height: 100;
      overflow: hidden;
      margin-top:12px;
    }
    @at-root .cart-num-actions{
      display: inline-block;
      span{
        display: inline-block;
        vertical-align: middle;
      }
      .dec-btn, .inc-btn{
        width:40px;
        height:30px;
        line-height: 100;
        overflow: hidden;
        cursor: pointer;
      }
      .dec-btn{
        background: url(../images/dec_btn.png) no-repeat;
      }
      .inc-btn{
        background: url(../images/inc_btn.png) no-repeat;
      }
      .cart-num{
        line-height: 30px;
        padding:0 8px;
        color:#3b3b3a;
        font-family: "Yellow Sun", "Microsoft Yahei", Tahoma, Arial;
        font-size:18px;
        font-weight: bold;
      }
    }

    .arrow{
      position: absolute;
      left:397px;
      top:-26px;
    }
  }
}

.section-fourth{
  .pd-banner {
    width:628px;
    height:352px;
    margin-top: -30px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    overflow: hidden;
  }
  .pd-window-title{
    height:70px;
    text-align: center;
    margin-top:10px;
    margin-bottom: 45px;
  }
  .pd-combine-list{
    position: relative;
    width:874px;
    margin:0 auto;
    overflow: hidden;
    *zoom:1;
  }
  .pd-item{
    float:left;
    width:198px;
    padding-top:10px;
    margin-right:10px;
    text-align: center;
    background: url(../images/pd_item_border.png) no-repeat;
    .pd-item-inner{
      width:151px;
      height:246px;
      padding:7px;
      margin:0 auto;
      background-color: #fffaed;
    }
    .pd-img{
      width:151px;
      height:151px;
      overflow: hidden;
      img{
        display: block;
        width:100%;
        height:auto;
      }
    }
    .pd-name{
      margin-top:10px;
      text-align: center;
      .fr_name, .zh_name{
        display: block;
        width:100%;
        font-size:15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 10px;
      }
      .fr_name{
        margin-bottom: 5px;
        color:#f3c05e;
        font-size:18px;
        font-family: "Yellow Sun", "Microsoft Yahei", Tahoma, Arial;
        text-transform: uppercase;
      }
    }
    .pd-price{
      display: inline-block;
      width:88px;
      height:38px;
      text-align: center;
      line-height: 40px;
      margin-top:18px;
      font-size:14px;
      font-weight: bold;
      font-family: "Yellow Sun", "Microsoft Yahei", Tahoma, Arial;
      color:#3b3b3a;
      background: url(../images/price_bg.png) no-repeat;

      em{
        font-style: normal;
        font-size:26px;
        margin-left:-3px;
        vertical-align: bottom;
      }
    }
    &.actived{
      background: url(../images/pd_item_border_h.png) no-repeat;
      .pd-price{
        background: url(../images/price_bg_h.png) no-repeat;
      }
    }
  }
  .pd-plus{
    float: left;
    width:32px;
    height:36px;
    margin:102px 10px 0 0;
    background: url(../images/combine_plus.png) no-repeat;
  }
  .exchange-btn{
    display: block;
    width:180px;
    height:56px;
    margin:40px auto 0;
    line-height: 100;
    overflow: hidden;
    background: url(../images/exchange_btn.png) no-repeat;
  }
}


.evt-footer{
    background: url(../images/footer_bg.jpg) no-repeat 50% 0;
    height:417px;
    .footer-bd{
      position: relative;
      width:1000px;
      margin:0 auto;

      .footer-cat{
        position: absolute;
        right:183px;
        top:-5px;
      }
    }

  .evt-rules{
    padding-left:118px;
    padding-top:193px;
    h2{
      font-size:18px;
      margin-bottom: 5px;
      color:#333;
    }
    p{
      font-size:16px;
      line-height: 1.5;
      color:#333;
      padding-left: 1.5em;
      text-indent: -1.5em;
    }
  }
}
