.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num,.noselect{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

h2,h3,h4,b,i,strong,samp{font-weight: normal;font-style: normal;}
i{font-size: 12px;}

.evt-container{ overflow: hidden; background: #c1ecff;}
.go-btn{width: 149px; height: 50px; background: url("../images/buy-1.png") no-repeat; margin: 0 auto; cursor: pointer; }
.sec-banner{max-width:1920px; margin: 0 auto; overflow:hidden; background: url("../images/banner.png") bottom center no-repeat; height: 811px;
  .evt-content{ width: 1280px;}
  .banner-t{  width: 1087px; margin: 20px auto 0;}

}

.sec-iceCream{ background:url("../images/sec-1.png") top center no-repeat; height: 1469px; overflow: hidden;
  .evt-content{ width: 1219px;
    .swipe-cake{width: 1199px; height: 424px; margin:70px auto 0;
      .s-price{width: 367px; margin: 26px auto;}
    }
  }
}

.hy-title{ margin:0 auto; width: 747px; padding:150px 0 80px; position: relative; text-align: center;
  img{margin: 0 auto; width: 100%;}
}

.icon{position: absolute; width: 136px; height:130px; top:32px; }
.icon_15{background: url("../images/icon_15.png");}
.icon_30{background: url("../images/icon_30.png");}

.sec-cake{ position: relative; z-index: 1;background: url("../images/sec-2.png") top center no-repeat; height: 2834px; overflow: hidden;
  .evt-content{width: 1309px;
    .row{position: relative; }
    .row1{ height: 636px; background: url("../images/shanghai/cake-1.png") center no-repeat;
      .icon{ left:76px; }
      .price{ top:140px; left: 738px;}
    }
    .row2{height: 636px; background: url("../images/shanghai/cake-2.png") center no-repeat;
      .icon{ top: 53px; right: 79px;}
      .price{ top:140px; left: 234px;}
    }
    .row3{height: 636px; background: url("../images/shanghai/cake-3.png") center no-repeat;
      .icon{top: 94px;  left:102px; }
      .price{ top:180px; left: 738px;}
    }
    .row4{height: 636px; background: url("../images/shanghai/cake-4.png") center no-repeat;
      .icon{top: 107px; right: 79px;}
      .price{ top:180px;  left: 234px;}
    }
  }
  &.cake-bj{
    .evt-content{width: 1286px;}
    .row1{ height: 522px; background: url("../images/beijing/cake-1.png") center no-repeat;
      .icon{ top:-4px; left:76px; }
      .price{ top:80px; left: 738px;}
    }
    .row2{height: 621px; background: url("../images/beijing/cake-2.png") center no-repeat;
      .icon{ top: 99px; right: 79px;}
      .price{ top:140px; left: 234px;}
    }
    .row3{height: 594px; background: url("../images/beijing/cake-3.png") center no-repeat;
      .icon{top: 94px; left:79px; }
      .price{ top:140px; left: 738px;}
    }
    .row4{height: 537px; background: url("../images/beijing/cake-4.png") center no-repeat;
      .icon{top: 107px; right: 98px;}
      .price{ top:180px; left: 234px;}
    }
  }
}

.sec-zp{position: relative; z-index: 1;background: url("../images/sec-3.png") top center no-repeat; height: 1065px; overflow: hidden;
  .zp{width: 1115px; margin:400px auto 0;}
}

.evt-footer{position: relative; z-index: 1;background: url("../images/sec-4.png") top center no-repeat; height: 700px; overflow: hidden;
  .evt-content{width: 1200px; color: #000;}
    .foot-zp{position: absolute; top: 90px; right: 300px;}
    .evt-rules{width: 770px; margin: 0 auto; padding:130px 0 100px 55px;
      h2{ font-size: 18px;  font-weight: normal;  margin-bottom: 5px;  }
      p{ font-size:18px; line-height: 2em;  padding-left: 1.5em;  text-indent: -1.5em;  }
    }
}


/*快速点击数量加减时，或者禁止双击选中*/
span.num,.noselect{moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;  }

/*价格样式 通用*/

.price {position: absolute; width: 392px;text-align: left; }
.price .price-title{margin-bottom: 30px !important;}
.price h2 {position: relative; margin:13px 0 0; font-size: 20px; font-weight: normal; line-height: 30px; color: #008dcc;text-align: left;  }
.price h2 i { font-size: 20px; font-style: normal; vertical-align: baseline; color: #008dcc;  }
.price h2 span {  font-size: 40px; color: #008dcc;  }
.price s { display: block; font-size: 20px;font-weight: normal;  line-height: 37px;  text-decoration: sh; color: #a2c5d4; }
.price b{font-weight: normal;}
.price em{font-style: normal;}


/*换购*/
.price .huangou { position: relative; width: 210px; font-size: 18px; color: #5c4c0d; margin: 10px auto; cursor: pointer; padding-left: 30px; text-align: left; }
.price .huangou .icnone { position: absolute; left: 0; top: 50%; margin-top: -11px; width: 22px; height: 22px; z-index: 1; }
.price .huangou .icon { position: absolute; left: 0; top: 50%; margin-top: -11px; width: 22px; height: 22px; z-index: 2;  }
.price .huangou {moz-user-select: -moz-none;-moz-user-select: none; -o-user-select: none;-khtml-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none; }


/*订购，加入购物清单*/
.price ul.buy_btn_box { overflow: hidden; width: 169px; margin:30px 0 0; float: left; }
.price ul.buy_btn_box.twoBtn { width: 280px; }
.price ul.buy_btn_box li { float: left; height: 62px; margin-right: 5px; }
.price ul.buy_btn_box li.fr { float: left; }
.price ul.buy_btn_box li span { display: block; width: 150px; background:#008dcc; border: #008dcc 2px solid; color: #fff; cursor: pointer; height: 40px; line-height: 40px; font-size: 20px; text-align: center; border-radius: 40px; letter-spacing: 4px; }


.bangshu{width: 170px; height: 40px; margin:30px 0 10px 10px; float: left;  border: #008dcc 2px solid; border-radius: 40px;
  dd{float: left;}
  dt{float: left; width:90px; text-align: center; line-height: 40px;
    span{display: block; color: #008dcc; font-size: 18px;}
  }
}

/*加减按钮*/
.nopoint{ width: 20px; height: 20px; margin: 4px 0 0 10px; background: url("../images/in-a-1.png") center no-repeat; cursor: pointer;   border:5px solid transparent;  }
.nopoint.plus{background: url("../images/in-a-2.png") center no-repeat; margin: 4px 5px 0 0;}






@media (max-width: 1600px) {
  .sec-banner{ background: url("../images/banner.png") bottom center no-repeat; height: 566px;
    .evt-content{ width: 1280px;}
    .banner-t{  width: 810px; margin: 10px auto 0;
      img{width: 100%;}
    }

  }

  .sec-iceCream{ height: 1230px; overflow: hidden;
    .evt-content{ width: 1219px;
      .swipe-cake{width: 1199px; height: 424px; margin:70px auto 0;
        .img-big{width: 950px; margin: 0 auto;
          img{width: 100%;}
        }
        .s-price{width: 367px; margin: 26px auto;}
      }
    }
  }


  .hy-title {  padding: 50px 0 50px; }
}


