/* line 24, ../sass/carsel.scss */
.c-btn {
  display: inline-block;
  padding: 4px 8px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-decoration: none !important;
  background-color: #b0916a;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
/* line 36, ../sass/carsel.scss */
.c-btn:hover {
  background-color: #977850;
}

/* line 41, ../sass/carsel.scss */
.c-btn-large {
  padding: 10px 20px;
}

/* line 45, ../sass/carsel.scss */
.c-btn.block {
  display: block;
}

/* line 49, ../sass/carsel.scss */
.carsel-wrap {
  position: relative;
}
/* line 52, ../sass/carsel.scss */
.carsel-wrap .c-arrow-left,
.carsel-wrap .c-arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  width: 16px;
  height: 28px;
}
/* line 60, ../sass/carsel.scss */
.carsel-wrap .c-arrow-left {
  left: 25px;
  background: url(../images/arrow-left.png) no-repeat;
}
/* line 63, ../sass/carsel.scss */
.carsel-wrap .c-arrow-left:hover {
  background-image: url(../images/arrow-left-hover.png);
}
/* line 67, ../sass/carsel.scss */
.carsel-wrap .c-arrow-right {
  right: 25px;
  background: url(../images/arrow-right.png) no-repeat;
}
/* line 70, ../sass/carsel.scss */
.carsel-wrap .c-arrow-right:hover {
  background: url(../images/arrow-right-hover.png) no-repeat;
}
/* line 75, ../sass/carsel.scss */
.carsel-wrap .promote-text {
  color: #b0916a;
  font-size: 14px;
  margin-bottom: 10px;
}
/* line 79, ../sass/carsel.scss */
.carsel-wrap .promote-text em {
  color: #a5002f;
  font-style: normal;
}

/* line 87, ../sass/carsel.scss */
.carsel-rec {
  background-color: #f2f6f7;
}

/* line 91, ../sass/carsel.scss */
.carsel-header {
  position: relative;
  height: 60px;
  border-bottom: 1px solid #d9e8ec;
}
/* line 96, ../sass/carsel.scss */
.carsel-header .carsel-action {
  float: right;
  margin-top: 12px;
}
/* line 100, ../sass/carsel.scss */
.carsel-header .carsel-action .c-hint {
  font-size: 14px;
  color: #a5002f;
  vertical-align: middle;
}
/* line 107, ../sass/carsel.scss */
.carsel-header .carsel-action .c-btn-large b {
  margin-left: 5px;
  display: inline-block;
  line-height: 23px;
  height: 18px;
  font-family: Arial !important;
  overflow: hidden;
  vertical-align: middle;
}
/* line 116, ../sass/carsel.scss */
.carsel-header .carsel-action .c-btn-large.open b {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* line 123, ../sass/carsel.scss */
.carsel-container {
  position: relative;
  width: 1078px;
  height: 212px;
  margin: 0 auto;
  padding: 22px 0;
  overflow: hidden;
}
/* line 131, ../sass/carsel.scss */
.carsel-container .carsel-scroller {
  position: relative;
  width: 5000px;
}
/* line 136, ../sass/carsel.scss */
.carsel-container .carsel-item {
  float: left;
  text-align: center;
  margin-right: 127px;
}
/* line 141, ../sass/carsel.scss */
.carsel-container .carsel-item .product-img {
  width: 114px;
  height: 114px;
  overflow: hidden;
}
/* line 145, ../sass/carsel.scss */
.carsel-container .carsel-item .product-img img {
  display: block;
  width: 114px;
  height: auto;
}
/* line 152, ../sass/carsel.scss */
.carsel-container .carsel-item h3 {
  font-size: 13px;
  font-weight: normal;
  color: #767676;
  margin: 8px 0;
}
/* line 159, ../sass/carsel.scss */
.carsel-container .carsel-item .price {
  margin: 8px 0;
  color: #a5002f;
  font-size: 12px;
}
/* line 165, ../sass/carsel.scss */
.carsel-container .carsel-item .last-price {
  margin: 0 0 8px;
  color: #767676;
  font-size: 12px;
  text-decoration: line-through;
}

/* line 175, ../sass/carsel.scss */
.cart-extra {
  padding: 20px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 179, ../sass/carsel.scss */
.cart-extra .extra-heading {
  float: left;
  font-size: 14px;
  color: #b0916a;
  padding: 0 15px 0 25px;
  margin-top: 35px;
}
/* line 186, ../sass/carsel.scss */
.cart-extra .extra-list {
  float: left;
}
/* line 189, ../sass/carsel.scss */
.cart-extra .extra-item {
  float: left;
  min-width: 150px;
  _width: 150px;
  margin-right: 40px;
}
/* line 195, ../sass/carsel.scss */
.cart-extra .extra-item .extra-img {
  float: left;
  width: 60px;
  height: 60px;
  padding: 8px;
  margin-right: 10px;
  overflow: hidden;
  border: 1px solid transparent;
  cursor: pointer;
}
/* line 205, ../sass/carsel.scss */
.cart-extra .extra-item .extra-img img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 211, ../sass/carsel.scss */
.cart-extra .extra-item p {
  margin: 0;
  font-size: 12px;
  color: #767676;
  line-height: 1.5;
}
/* line 217, ../sass/carsel.scss */
.cart-extra .extra-item .ex-name {
  margin-top: 23px;
}
/* line 222, ../sass/carsel.scss */
.cart-extra .extra-item.selected .extra-img {
  border-color: #b0916a;
}
