#blankdiv{display:block; position:absolute; width:100%; height:1680px; top:100px; left:0;}
#evt_container{width:100%; position:fixed; left:0; top:100px; background:#e2c2ca; font-size:0; overflow:hidden;
  img{width:100%;}
  a{display:block;}
}
#evt_loading,#evt_content{width:100%; height:100%; position:absolute; top:0; left:0; }
#evt_loading{z-index:20;
  .bg-left,.bg-right{width:960px; position:absolute; top:0;}
  .bg-left{right:50%;}
  .bg-right{left:50%;}
  .title{width:247px; position:absolute; left:50%; top:50%; margin:-50px 0 0 -123px;}
  .percent{display:block; width:100%; position:absolute; text-align:center; left:0; top:50%; margin:-10px 0 0 0; font-size:18px; color:#bd7384;}
}

#evt_content{z-index:10;
  .section{position:absolute; top:0; left:0; width:100%; height:840px; background:url(../images/lv2/content-bg.jpg) 50% 0;
    div,a{display:block; margin:0 auto;}
    .text1{width:334px; margin-top:66px;}
    .img1{width:774px; margin-top:14px;}
    .text2{width:334px; margin-top:66px;}
    .img2{width:780px; margin-top:36px;}
  }
  .flower{width:1000px; height:100%; position:absolute; top:0; left:50%; margin-left:-500px;
    img{position:absolute;}
    .f1 img{width:125px; top:103px; left:994px;}
    .f2 img{width:130px; top:-21px; left:708px;}
    .f3 img{width:79px; top:361px; left:866px;}
    .f4 img{width:166px; top:321px; left:42px;}
    .f5 img{width:92px; top:97px; left:44px;}
    .f6 img{width:28px; top:292px; left:149px;}
    .f7 img{width:27px; top:447px; left:500px;}
    .f8 img{width:20px; top:195px; left:846px;}
    .f9 img{width:24px; top:436px; left:773px;}
    .f10 img{width:22px; top:72px; left:280px;}
    .f11 img{width:22px; top:164px; left:394px;}
    .f12 img{width:14px; top:82px; left:572px;}
  }
  .fixed-bottom{position:absolute; bottom:0; width:100%; left:0; height:280px;
    div,a{display:block; margin:0 auto;}
    p{color:#ffffff; font-size:12px;}
    .product{width:162px;}
    .price{width:92px; margin-top:8px;}
    .buybtn{width:160px; height:40px; background:url(../images/lv2/buybtn.png); margin-top:14px;}
    .buybtn.disable{background:url(../images/lv2/buybtn-disable.png); cursor:default;}
    .rtitle{width:70px; text-align:center; margin:5px auto 0 auto; cursor:pointer;
      i{display:block; width:5px; height:5px; background:url(../images/lv2/icon.png); margin:5px auto 0 auto;}
    }
    .rule{width:730px; margin:0 auto 10px auto;
      p{line-height:16px;}
    }
  }
}