@charset "UTF-8";
.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}

.arrow-left {
  background: url(../images/arrows.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
}

.arrow-right {
  background: url(../images/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 5px;
  opacity: 0.8;
  cursor: pointer;
  border: 1px solid #eee;
  background: #aaa;
}

.swiper-visible-switch {
  background: #aaa;
}

.swiper-active-switch {
  background: #a5002f;
}

.slide-link {
  position: absolute;
  top: 0;
  left: 5%;
  display: block;
  width: 90%;
  height: 100%;
  z-index: 100;
}

.swiper-slide {
  position: relative;
}

.oldie .swiper-content {
  margin: 0 auto;
}

/*banner*/
.swiper-container {
  height: 550px;
}

.banner-slides {
  /*活动*/
}

.banner-slides .swiper-content {
  height: 550px;
}

.banner-slides .slides-potato .swiper-content {
  width: 1200px;
}

.banner-slides .slides-potato .cake {
  top: 180px;
  left: 70px;
}

.banner-slides .slides-potato .title {
  top: 40px;
  left: 410px;
}

.banner-slides .slides-wansheng .swiper-content {
  width: 1200px;
}

.banner-slides .slides-wansheng .w-title {
  top: 119px;
  left: 80px;
}

.banner-slides .slides-wansheng .gui-tou {
  top: 10px;
  left: 250px;
}

.banner-slides .slides-wansheng .tou {
  top: 120px;
  left: 548px;
}

.banner-slides .slides-wansheng .floadMen {
  position: absolute;
  width: 117px;
  height: 158px;
  top: 243px;
  left: auto;
  right: 0;
  background: url("../images/wansheng/floadMen.png") no-repeat;
  z-index: 101;
}

.banner-slides .slides-shuang11 .swiper-content {
  width: 1200px;
}

.banner-slides .slides-shuang11 .cake {
  top: 0px;
  left: 240px;
}

.banner-slides .slides-shuang11 .title {
  top: 30px;
  left: 70px;
}

/*浮动 1*/
.floater {
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 11;
  width: 300px;
}

.floater .floatImg {
  position: relative;
  font-size: 0;
}

.floater .floatImg img {
  width: 100%;
}

.floater .floatImg a {
  width: 100%;
  display: block;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
}

.floater .float-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

.floater .float-container {
  width: 300px;
  position: absolute;
  font-size: 0;
  top: 180px;
  left: 0;
  display: block;
}

/*浮动 2*/
.icon {
  position: fixed;
  top: 110px;
  z-index: 11;
}

.icon a {
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
