.evt-container{
  background: url("../images/banner/bg.jpg") repeat;
}
.evt-content{
  /* addon css code goes here */
    height: 550px;
  .clod-1{ top:0; left: -30px;}
  .clod-2{ top:0; left: 687px;}
  .title{ top: 10px; left: 264px;}
  .basket{ top: 390px; left: 40px;}
  .cake{ top:305px; left: 266px;}
  .caomei_a{  top: 172px; left: 562px;}
  .caomei_b{ top: 119px; left: 38px;}

}