.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.evt-container{ overflow: hidden; background:url("../images/bg.jpg"); }
.evt-content{ width: 1200px; margin: 0 auto;  }
.sec-banner{ position: relative;
  z-index: 1;  overflow: hidden; height: 840px;
  .banner-title{position: absolute; top:-50px; left:25px;}

}


.title{width: 295px; margin: 60px auto;}


.sec-2{  position: relative; z-index: 1;

  div{position: relative;}
  .cakes{width: 1354px; margin: 0 auto;
    ul{ margin-left: -75px;
      li{ position: relative; height: 750px;}
    }
    .m-btn{position: absolute; top: 436px; left: 170px; width: 137px; height:42px;  background: url("../images/buy-btn.png"); cursor: pointer;}
  }
}

.sec-3{  position: relative; margin-top: -80px;
  .quan{width: 594px; margin: 0 auto; position: relative;
    .lingqu{position: absolute; width: 158px; height: 158px; top: 10px; right: 58px; background: url("../images/liqu-btn.png"); cursor: pointer; }
    .lingqu.on{ background: url("../images/liqu-btn-2.png");}
  }
}
.evt-footer{ position: relative; width: 100%; margin-top: 80px;
  .evt-content{color: #8a796d; padding-bottom: 100px;}
    .evt-rules{position: relative; width: 1100px; margin: 0 auto; padding:50px 50px 50px; background: #f9f6f3; border: #46413e 1px dashed;
      h2{ font-size: 24px;  font-weight: normal;  margin-bottom: 5px;  }
      p{ font-size:18px; line-height: 1.8em; padding-left: 1.5em;  text-indent: -1.5em;  }
      span{display: block; text-indent:0px; margin-left: 1px;}
    }
}


/*蛋糕选择弹窗*/

.Dialogbg-Select{ background-color: #000; height: 100%; left: 0; opacity: 0.8; position: fixed; top: 0; width: 100%; z-index: 200; display: none; -moz-opacity: .8; filter: alpha(opacity=80);
}

.Dialog-Select{
  background: #fff none repeat scroll 0 0; box-shadow: 0 0 0 #999; font-size:14px; width:520px; height:480px; margin-top: -240px; margin-left: -260px; left: 50%; padding: 0; position: fixed; top: 50%; z-index: 99999;border-radius:10px; display: none;
}
.s-closes{position: absolute; right: -30px; top: 8px; width: 17px; height: 17px; background: url("../images/close.png"); cursor:pointer;}
.Select{ position: relative; color: #000; height: 100%;
  .s-title{ height:96px; background: #f2f2f2; position: relative; border-top-left-radius:10px;  border-top-right-radius:10px;
    h2{ font-size: 18px; line-height: 30px; padding-left: 40px; padding-top: 20px; }
    b{font-size: 14px; color: #9a9a9a; font-weight: normal; padding-left: 40px;}
  }
  .s-bangshu{ padding-top: 30px;
    ul{ margin-left: 40px;
      li{ float: left; width:60px; height: 60px; background: #f2f2f2; border-radius: 50%; text-align: center; line-height: 60px; font-size: 16px; color: #4a4a4a; margin-right:30px; font-weight: bold; cursor: pointer; }
      li.on{ background: #ab927d; color: #fff; }
    }
  }
  .d-tips{padding: 15px 40px; color: #4c4c4c; font-size: 12px;}
  .s-num{border-top: #ededed 1px solid; border-bottom: #ededed 1px solid; padding-left: 40px;
    b{display: inline-block; width:200px; margin:10px 0; line-height: 52px; float: left; font-size:16px; color: #737373; font-weight: normal;}
    .nums { display: inline-block; margin:15px 40px 0;  float: right; height:52px;  position: relative;  width:150px;  }
    .nums a { display: block; width:40px; height:40px;  position: absolute; top:2px;}
    .nums .minus { background: url("../images/btn-1.png") center no-repeat; background-size: 100%; left: 0;}
    .nums .plus { background: url("../images/btn-2.png") center no-repeat; background-size: 100%;  right: 0;}
    .nums input { background:none;  border: none;  color: #626262;  display: block;  font-size:26px;  height:40px;  left:35px;  line-height:40px;  padding: 0;  position: absolute;  text-align: center;  top: 0;  width:80px;  }
  }
  .s-prices{font-size: 22px; padding:0 40px; margin-top:35px;
    b{display: inline-block; width:80px; margin:0; line-height: 56px; float: left; font-size:16px; color: #737373; font-weight: normal;}
    p{display: block;line-height: 56px; text-align: right;}
    span{ font-size: 30px;}
    i{font-style: normal;}
    s{color: #aaa; font-size: 20px;}
  }
  .btns{ width: 100%; position: absolute; bottom:0px; display: flex; height: 55px; line-height: 55px; flex-direction: row;  text-align: center; font-size: 18px; color: #fff;
    div{ flex: 1; cursor: pointer; width: 50%;}
    .go-car{background: #ffe542; border-bottom-left-radius:10px; border-bottom-right-radius:10px;  float: left; color: #4a4a4a; }
    .go-buy{ width: 100%; background: #ab927d; border-bottom-right-radius:10px; border-bottom-left-radius:10px; float: left;}
    .go-buy.on{background: #997d65;}
    .go-car.on{background: #d9be15;}

  }

}



/*小屏*/
@media (max-width: 1700px) {
}
