.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.evt-container {
  overflow: hidden;
}

.evt-container .btns {
  width: 207px;
  height: 67px;
  background: #f19ec2;
  top: 982px;
  left: 130px;
  text-align: center;
  border-radius: 1px;
  cursor: pointer;
}

.evt-container .btns span {
  display: block;
  color: #fff;
  font-size: 22px;
  line-height: 67px;
}

.sec-banner {
  position: relative;
  height: 603px;
  background: url("../images/banner.png") center;
}

.sec-banner .banner-txt {
  position: absolute;
  top: 220px;
  left: 50%;
  margin-left: -453.5px;
}

.sec-card {
  height: 1057px;
  background: url("../images/card.png") center;
}

.sec-card .evt-content {
  width: 1258px;
  margin: 0 auto;
}

.sec-card .card {
  width: 1258px;
  margin: 0 auto;
}

.sec-card .btn-lq {
  position: absolute;
  top: 210px;
  left: 200px;
  width: 263px;
  height: 50px;
  cursor: pointer;
  background: url("../images/buy-btn.png") center;
}

.sec-quan {
  height: 2470px;
  background: url("../images/sec-quan.png") center;
  overflow: hidden;
}

.sec-quan .evt-content {
  width: 1258px;
  margin: 0 auto;
}

.sec-quan .quan {
  width: 1258px;
  margin: 10px auto 0;
}

.sec-footer {
  background: url("../images/sec-foot.png") repeat;
  color: #fbc694;
}

.sec-footer .kt-btn {
  width: 632px;
  margin: 0 auto;
  text-align: center;
}

.sec-footer .kt {
  cursor: pointer;
  width: 360px;
  margin: 30px auto 0;
}

.sec-footer .evt-content {
  width: 1280px;
}

.sec-footer .evt-content .more {
  position: absolute;
  right: 82px;
  bottom: 56px;
  width: 130px;
  height: 130px;
}

.sec-footer .evt-content .hd-guize {
  width: 1177px;
  margin: 0 auto;
  padding: 100px 0;
}

.sec-footer .evt-content h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 15px;
}

.sec-footer .evt-content p {
  font-size: 18px;
  line-height: 1.8em;
  padding-left: 30px;
  text-indent: -30px;
  margin-top: 5px;
}

.sec-footer .evt-content p b {
  font-weight: normal;
  font-size: 20px;
  color: #000;
}

.sec-footer .evt-content p.p {
  padding-left: 14px;
  text-indent: -13px;
}
