.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
body{background: #000 !important;}
.loadings{ position:relative;  height:100%; background: #000; display: none;
  .evt-content{width: 1280px;}
}



.evt-container{ overflow: hidden; background:#000;}
.evt-content{ width: 1200px; border-top: none;}
.sec-top{
  background:#000 url("../images/bg.jpg") top center no-repeat; z-index: 1;
  .evt-content{ height: 949px;
    .b-title{ top: 75px; left: 50%; margin-left: -265px;}
    .gui-tou{ top: 313px; left: 50%; margin-left: -788.5px;}
    .tou{ top:479px; left:200px;}
    .floadMen{ width: 158px; height: 335px; top:0; right:0; left:auto; background: url("../images/floadMen.png") no-repeat; }
    .floadMen.hover{ background: url("../images/floadMen-hover.png") no-repeat; }


  }
}

.wbtn{cursor: pointer;}

.sec-row1{  position: relative; z-index: 1;
  .line{position:absolute; top:980px; left:50%; margin-left: -956px;}
  .evt-content{
    width: 1200px; height: 1539px;
    .cake{ top: 63px; left: 46px;}
    .word{ top: 167px; left: 753px;}
    .guihun{ top:474px; left:535px;}
    .menpiao{ top:690px; left:326px;}
    .mens{width:84px; height: 83px; top:783px; left:577px;}
    .price{ width: 320px; height: 320px; top: 350px; left: 870px;
      div{position: relative;}
      .price-title{ width: 211px; margin: 0 auto;
        .new-pirce{position: absolute; top:20px; left:116px; color: #fff;
          span{font-size: 35px; line-height: 50px; font-weight: bold;}
        }
        .old-pirce{position: absolute; top:69px; left:116px; color: #b3b3b3;
          s{font-size: 26px; line-height: 50px; font-weight: bold;}
        }
      }
      .num-content{ width: 181px; margin: 20px auto 0;
        .nums{ margin: 22px auto;}
        .mins,.add{ float: left; width: 54px; height: 42px; background: url("../images/mins.png") no-repeat; cursor: pointer;}
        .add{background: url("../images/add.png") no-repeat;}
        .num{ float: left; width: 30px;margin: 0 20px; line-height: 42px; color: #fff; font-size: 30px; text-align: center;}
        .go-btn{ width: 181px; height: 45px; margin: 0 auto; background: url("../images/go-btn.png") no-repeat;}
        .go-btn.hover{ background: url("../images/go-btn-hover.png") no-repeat;}
      }

    }

  }
}

.sec-row2{  position: relative; z-index: 1;
  .evt-content{
    width: 1200px; height: 1128px;
    .gui-1{top: 80px; left: 0;}
    .gui-2{top: 238px; left:auto; right: 10px;}
    .duihua{ top: 87px; left:50%; margin-left: -411.5px;}
    .cake{ top: 304px; left:370px;}
    .pic{ top: 304px; left:50%; margin-left: -404.5px;}
    .go{ width: 378px; height: 65px; top: 1150px; left: 50%; margin: -189px; background: url("../images/go.png") no-repeat;}
    .go.hover{ background: url("../images/go-hover.png") no-repeat;}
  }
}

.evt-footer{
  position: relative;  z-index: 10; width: 100%; background: url("../images/foot-bg.png") center no-repeat;
  .evt-content{width: 1200px; padding: 100px 0;}
  .huodong{width: 620px; margin: 0 auto; color: #fff;
    h2{ font-size: 28px;  font-weight: normal;  margin-bottom: 5px;  }
    p{ font-size: 16px; line-height: 1.8em;  padding-left: 1.5em;  text-indent: -1.5em; color: #d3d3d3; }
  }

}



