.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num,.noselect{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.evt-container{ overflow: hidden; background:url("../images/bg.jpg") repeat; text-align: center; }

.sec-banner{  overflow: hidden;
img{width: 100%;}
}

.hy-title{display: inline-block; margin: 0 auto 50px; position: relative; }
.goubtn{ padding: 20px 0;
  span{display: inline-block; width: 125px; height:30px; margin: 0 10px 0 0; background: url("../images/gobuy.png") no-repeat; }
}


.sec-1{  position: relative; padding: 83px 0;
  .dis{position: absolute;}
  .dis-1{top: 100px; left: -80px;}
  .dis-2{top: 300px; right: -335px;}
  .evt-content{ width: 1200px; }
  .row{ width: 980px; height: 445px; margin: 0 auto; position: relative; background: #fcf2a9; border-radius: 10px; overflow: hidden; }
  .row1{
    .cake{position: absolute; top:0; left:0; width: 484px; height: 445px; }
    .price{position: absolute; top:60px; left:569px;}
    .content{position: relative; }
    .lastnum{position: absolute; top:203px; left:90px;
      span{display: block; width: 107px; height: 33px; background:url("../images/lastnum.png"); color: #f55b2d; line-height: 33px; font-size:18px; letter-spacing: 4px; }
    }
    .gobuy{position: absolute; top:260px; left:0;
      span{background: #f55b2d; color: #fff; padding:3px 25px; line-height: 24px; font-size:18px; border-radius: 4px;}
    }
  }

}

.sec-3{  position: relative; z-index: 2;
  .evt-content{ width: 1200px; padding: 80px 0;
    .buzhou{display: inline-block; margin: 0 auto;}
  }
}



.evt-footer{ z-index: 1; text-align: left;
  position: relative;  background:url("../images/foot-bg.jpg") repeat;
  .evt-content{width: 1200px; color: #6a6a6a;}
    .evt-rules{width: 600px; margin: 0 auto; padding:100px 0 100px 0px;
      h2{ font-size: 24px;  font-weight: normal;  margin-bottom: 5px;  }
      p{ font-size:18px; line-height: 1.8em;  padding-left: 1.5em;  text-indent: -1.5em;  }
    }
}

.swiper-container { position: relative;  width: 100%;  height: 100%;  }
.swiper-slide {
  text-align: center; position: relative;  font-size: 18px;  background: #fff;  display: -webkit-box;  display: -ms-flexbox;
  display: -webkit-flex;  display: flex;  -webkit-box-pack: center;  -ms-flex-pack: center;
  -webkit-justify-content: center;  justify-content: center;  -webkit-box-align: center;  -ms-flex-align: center;
  -webkit-align-items: center;  align-items: center;
}
.pagination {
  position: absolute !important;
  left: 0;
  text-align: center;
  bottom:20px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: #fff;
  margin: 0 5px;
  opacity:1;
  cursor: pointer;
}
.swiper-active-switch {
  background: #626262;
  opacity:1;
}


.floater{  position: fixed; width: 145px; height: 145px; top: 600px; z-index: 11; left: 50%; margin-left: 520px; cursor: pointer;
  .tips{ position: absolute; width: 50px; height: 50px; right:-5px; top: -5px; border-radius: 50%; background:url("../images/tips.png") center no-repeat; background-size: 100%; text-align: center; z-index: 12; cursor: Default;
    span{ font-size:18px; color: #fff; line-height: 50px;}
  }
}



