@charset "UTF-8";
/* line 240, icons/*.png */
.icons-sprite, .icons-1, .icons-10, .icons-11, .icons-12, .icons-13, .icons-14, .icons-15, .icons-16, .icons-17, .icons-18, .icons-19, .icons-2, .icons-20, .icons-21, .icons-22, .icons-23, .icons-24, .icons-25, .icons-26, .icons-3, .icons-4, .icons-5, .icons-6, .icons-7, .icons-9 {
  background-image: url('../images/icons-s0fd1892a54.png');
  background-repeat: no-repeat;
}

/*自动检测icon的宽高*/
/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-1 {
  background-position: 0 0;
  height: 32px;
  width: 29px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-10 {
  background-position: 0 -32px;
  height: 25px;
  width: 28px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-11 {
  background-position: 0 -57px;
  height: 70px;
  width: 58px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-12 {
  background-position: 0 -127px;
  height: 62px;
  width: 60px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-13 {
  background-position: 0 -189px;
  height: 64px;
  width: 78px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-14 {
  background-position: 0 -253px;
  height: 72px;
  width: 73px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-15 {
  background-position: 0 -325px;
  height: 70px;
  width: 67px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16 {
  background-position: 0 -395px;
  height: 28px;
  width: 27px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-17 {
  background-position: 0 -423px;
  height: 25px;
  width: 22px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-18 {
  background-position: 0 -448px;
  height: 74px;
  width: 78px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-19 {
  background-position: 0 -522px;
  height: 82px;
  width: 52px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-2 {
  background-position: 0 -604px;
  height: 64px;
  width: 80px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-20 {
  background-position: 0 -668px;
  height: 80px;
  width: 34px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-21 {
  background-position: 0 -748px;
  height: 95px;
  width: 34px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-22 {
  background-position: 0 -843px;
  height: 95px;
  width: 46px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-23 {
  background-position: 0 -938px;
  height: 95px;
  width: 46px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-24 {
  background-position: 0 -1033px;
  height: 95px;
  width: 46px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-25 {
  background-position: 0 -1128px;
  height: 64px;
  width: 38px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-26 {
  background-position: 0 -1192px;
  height: 78px;
  width: 64px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-3 {
  background-position: 0 -1270px;
  height: 64px;
  width: 80px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-4 {
  background-position: 0 -1334px;
  height: 77px;
  width: 59px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-5 {
  background-position: 0 -1411px;
  height: 78px;
  width: 60px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-6 {
  background-position: 0 -1489px;
  height: 71px;
  width: 51px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-7 {
  background-position: 0 -1560px;
  height: 38px;
  width: 69px;
}

/* line 84, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-9 {
  background-position: 0 -1598px;
  height: 79px;
  width: 76px;
}

/* line 72, ../sass/main.scss */
body {
  font-size: 160%;
  width: 100%;
  overflow: hidden;
}

/* line 78, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 82, ../sass/main.scss */
[class^="icons-"],
[class*="icons-"] {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  overflow: hidden;
  font-style: normal;
}

/* line 91, ../sass/main.scss */
.sb-btn {
  display: inline-block;
  padding: .7em 1.5em;
  border: 0;
  text-align: center;
  background-color: #f2f2f2;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
/* line 100, ../sass/main.scss */
.sb-btn.brown {
  color: #fff;
  background-color: #ab976b;
}
/* line 104, ../sass/main.scss */
.sb-btn.brown:active {
  background-color: #706140;
}
/* line 109, ../sass/main.scss */
.sb-btn.green {
  color: #fff;
  background-color: #91cc9e;
}
/* line 113, ../sass/main.scss */
.sb-btn.green:active {
  background-color: #4ea962;
}
/* line 118, ../sass/main.scss */
.sb-btn.pink {
  color: #fff;
  background-color: #cb83cc;
}
/* line 122, ../sass/main.scss */
.sb-btn.pink:active {
  background-color: #a444a5;
}
/* line 127, ../sass/main.scss */
.sb-btn.blue {
  color: #fff;
  background-color: #6aceee;
}
/* line 131, ../sass/main.scss */
.sb-btn.blue:active {
  background-color: #19abd9;
}
/* line 137, ../sass/main.scss */
.sb-btn:active {
  background-color: #e8e8e8;
}

/* line 142, ../sass/main.scss */
body {
  background-color: #f0f0f0;
}

/* line 146, ../sass/main.scss */
.wapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 103px;
  padding-bottom: 40px;
  overflow: hidden;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
/* line 157, ../sass/main.scss */
.wapper.out {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 161, ../sass/main.scss */
.wapper.leave {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 166, ../sass/main.scss */
.wp-header {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 174, ../sass/main.scss */
.wp-header h1 {
  color: #989898;
  text-align: center;
  font-size: 1.2em;
}
/* line 180, ../sass/main.scss */
.wp-header .skip-link {
  float: right;
  color: #bba574;
  font-size: 1.1em;
}

/* line 187, ../sass/main.scss */
.content {
  margin-left: 40px;
  margin-right: 40px;
  min-height: 100%;
  padding: 30px;
  background-color: #fff;
  border-bottom: 2px solid #cecece;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
/* line 196, ../sass/main.scss */
.content .cn-header {
  margin-left: 90px;
  margin-right: 90px;
  border-top: 1px solid #dcd2b9;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -30px;
}
/* line 204, ../sass/main.scss */
.content .cn-header .hd-legend {
  color: #bba574;
  font-size: 1.2em;
  display: inline-block;
  padding: 0 30px;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 212, ../sass/main.scss */
.content .cn-header .hd-legend > i {
  position: relative;
  top: -2px;
  margin-right: 12px;
}

/* line 221, ../sass/main.scss */
.subject-item {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
/* line 226, ../sass/main.scss */
.subject-item:last-child {
  border-bottom-color: transparent;
}
/* line 230, ../sass/main.scss */
.subject-item .subject-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 30px;
}
/* line 236, ../sass/main.scss */
.subject-item .subject-main {
  position: relative;
}
/* line 239, ../sass/main.scss */
.subject-item .subject-main .subject-list {
  margin-left: 280px;
}
/* line 242, ../sass/main.scss */
.subject-item .subject-main .subject-list .sb-btn {
  display: block;
  width: 9.5em;
  margin-bottom: 20px;
}
/* line 249, ../sass/main.scss */
.subject-item .subject-main .subject-icon {
  position: absolute;
  left: 50px;
  top: 50%;
  width: 141px;
  height: 141px;
  padding: 25px;
  overflow: hidden;
  border: 6px solid #bca474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 266, ../sass/main.scss */
.subject-grid {
  text-align: center;
}
/* line 268, ../sass/main.scss */
.subject-grid .grid-col {
  margin-bottom: 30px;
}
/* line 271, ../sass/main.scss */
.subject-grid .grid-item {
  display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
}
/* line 277, ../sass/main.scss */
.subject-grid .grid-item.active .subject-icon {
  background-color: #cb83cc;
  border-color: #cb83cc !important;
}
/* line 281, ../sass/main.scss */
.subject-grid .grid-item.active:active .subject-icon {
  background-color: #a444a5;
  border-color: #a444a5 !important;
}
/* line 286, ../sass/main.scss */
.subject-grid .grid-item.grid-item-block {
  display: block;
}
/* line 289, ../sass/main.scss */
.subject-grid .grid-item.grid-item-block .subject-icon {
  display: inline-block;
}
/* line 294, ../sass/main.scss */
.subject-grid .grid-item.grid-item-far {
  margin-left: 80px;
  margin-right: 80px;
}
/* line 299, ../sass/main.scss */
.subject-grid .grid-item.grid-item-near {
  margin-left: 32px;
  margin-right: 32px;
}
/* line 304, ../sass/main.scss */
.subject-grid .grid-item .subject-icon {
  position: static;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 310, ../sass/main.scss */
.subject-grid .grid-item h4 {
  font-size: 1.1em;
  margin-top: .5em;
}
/* line 316, ../sass/main.scss */
.subject-grid .grid-far .grid-item {
  margin-left: 80px;
  margin-right: 80px;
}
/* line 323, ../sass/main.scss */
.subject-grid .grid-near .grid-item {
  margin-left: 32px;
  margin-right: 32px;
}

/* line 330, ../sass/main.scss */
.page-nav {
  position: fixed;
  left: 50%;
  bottom: 60px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
}
/* line 337, ../sass/main.scss */
.page-nav.hidden {
  visibility: hidden;
}
/* line 341, ../sass/main.scss */
.page-nav > span {
  position: relative;
  display: inline-block;
  font-size: 0;
  width: 32px;
  height: 32px;
  margin-left: 6px;
  margin-right: 6px;
  overflow: hidden;
}
/* line 351, ../sass/main.scss */
.page-nav > span:after, .page-nav > span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 360, ../sass/main.scss */
.page-nav > span:after {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid transparent;
}
/* line 367, ../sass/main.scss */
.page-nav > span:before {
  left: 8px;
  top: 8px;
  background-color: #999;
}
/* line 374, ../sass/main.scss */
.page-nav > span.swiper-pagination-bullet-active:after {
  border-color: #bba573;
  width: 32px;
  height: 32px;
}
/* line 380, ../sass/main.scss */
.page-nav > span.swiper-pagination-bullet-active:before {
  background-color: #bba573;
}
/* line 386, ../sass/main.scss */
.page-nav > span:after, .page-nav > span:before {
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

/* line 393, ../sass/main.scss */
.sec-second .cn-header {
  border-color: #91cc9e;
}
/* line 395, ../sass/main.scss */
.sec-second .cn-header .hd-legend {
  color: #91cc9e;
}

/* line 403, ../sass/main.scss */
.sec-second .subject-main .subject-icon {
  border-color: #91cc9e;
}
/* line 407, ../sass/main.scss */
.sec-second .sb-btn {
  width: 11em !important;
}

/* line 415, ../sass/main.scss */
.sec-third .cn-header {
  border-color: #6aceee;
}
/* line 417, ../sass/main.scss */
.sec-third .cn-header .hd-legend {
  color: #6aceee;
}

/* line 425, ../sass/main.scss */
.sec-third .subject-main .subject-icon {
  border-color: #6aceee;
}

/* line 433, ../sass/main.scss */
.sec-fourth .cn-header {
  border-color: #cb83cc;
}
/* line 435, ../sass/main.scss */
.sec-fourth .cn-header .hd-legend {
  color: #cb83cc;
}

/* line 443, ../sass/main.scss */
.sec-fourth .sb-btn.brown {
  background-color: #cb83cc;
}

/* line 450, ../sass/main.scss */
.subject-icon.gray {
  background-color: #eee;
  border-color: #eee !important;
}
/* line 454, ../sass/main.scss */
.subject-icon.gray:active {
  background-color: #bbbbbb;
  border-color: #bbbbbb !important;
}
/* line 458, ../sass/main.scss */
.subject-icon.gray-circle {
  background-color: transparent;
  border-color: #eee !important;
}
/* line 462, ../sass/main.scss */
.subject-icon.gray-circle:active {
  border-color: #bbbbbb !important;
}

/* line 467, ../sass/main.scss */
.profile-wrapper {
  margin-top: 50px;
}
/* line 470, ../sass/main.scss */
.profile-wrapper .button-field {
  text-align: center;
  padding-top: 30px;
}
/* line 475, ../sass/main.scss */
.profile-wrapper .border-btn {
  display: inline-block;
  padding: .6em 1.5em;
  font-size: 1.5em;
  color: #cb83cc;
  text-align: center;
  border: 2px solid #cb83cc;
  background: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 80%;
}
/* line 486, ../sass/main.scss */
.profile-wrapper .border-btn:active {
  color: #a444a5;
  border-color: #a444a5;
}

/* line 493, ../sass/main.scss */
.profile-item {
  margin-bottom: 50px;
}
/* line 496, ../sass/main.scss */
.profile-item > h2 {
  font-size: 1.4em;
  margin-bottom: 20px;
}
/* line 501, ../sass/main.scss */
.profile-item .profile-bd > label {
  padding: 0 5px;
}

/* line 506, ../sass/main.scss */
.input-style {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  padding: .8em 1.5em;
  text-align: center;
  border: 0;
  background-color: #cb83cc;
  color: #fff;
  font-size: 1.1em;
}
/* line 517, ../sass/main.scss */
.input-style.wd-8 {
  width: 7em;
}

/* line 522, ../sass/main.scss */
.app-loaidng {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}
/* line 532, ../sass/main.scss */
.app-loaidng .app-loading-modal {
  width: 160px;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 16px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}
/* line 539, ../sass/main.scss */
.app-loaidng .app-loading-modal:after {
  content: "";
  width: 60px;
  height: 60px;
  border-width: 6px 6px 0 0;
  border-style: solid;
  border-color: #ab976b;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: spin 800ms linear 0ms infinite;
  animation: spin 800ms linear 0ms infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
