.butterflies>div>:nth-child(1):after,.butterflies>div>:nth-child(1):before {
    content: "";
    display: block;
    background-color: rgba(235,208,188,.4);
    right: 0
}

.currentlg,.switchlg a {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    text-transform: uppercase;
    font-weight: 400
}

.zone_link a:hover {
    border-bottom: solid 1px #483e34
}

.center {
    position: absolute;
    bottom: 400px;
    left: 50%;
    width: 1px;
    height: 1px
}

.butterflies>div,.butterflies>div>:nth-child(1) {
    height: 20px;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    position: absolute;
    animation-easing-function: cubic-bezier(.55,.055,.675,.19)
}

@-webkit-keyframes swingLeft {
    from {
        -webkit-transform: rotate3d(0,1,0,-54deg);
        transform: rotate3d(0,1,0,-54deg)
    }

    to {
        -webkit-transform: rotate3d(0,1,0,54deg);
        transform: rotate3d(0,1,0,54deg)
    }
}

@keyframes swingLeft {
    from {
        -webkit-transform: rotate3d(0,1,0,-54deg);
        transform: rotate3d(0,1,0,-54deg)
    }

    to {
        -webkit-transform: rotate3d(0,1,0,54deg);
        transform: rotate3d(0,1,0,54deg)
    }
}

@-webkit-keyframes swingRight {
    from {
        -webkit-transform: rotate3d(0,1,0,54deg);
        transform: rotate3d(0,1,0,54deg)
    }

    to {
        -webkit-transform: rotate3d(0,1,0,-54deg);
        transform: rotate3d(0,1,0,-54deg)
    }
}

@keyframes swingRight {
    from {
        -webkit-transform: rotate3d(0,1,0,54deg);
        transform: rotate3d(0,1,0,54deg)
    }

    to {
        -webkit-transform: rotate3d(0,1,0,-54deg);
        transform: rotate3d(0,1,0,-54deg)
    }
}

@-webkit-keyframes fly {
    0% {
        -webkit-transform: perspective(750px) scale(2.4) rotate3d(1,-1,0,120deg) translate3d(-100px,50px,0);
        transform: perspective(750px) scale(2.4) rotate3d(1,-1,0,120deg) translate3d(-100px,50px,0);
        opacity: 1
    }

    100% {
        -webkit-transform: perspective(750px) scale(2.4) rotate3d(1,1,0,75deg) translate3d(150px,-40px,-25px);
        transform: perspective(750px) scale(2.4) rotate3d(1,1,0,75deg) translate3d(150px,-40px,-25px);
        opacity: 1
    }
}

@keyframes fly {
    0% {
        -webkit-transform: perspective(750px) scale(2.4) rotate3d(1,-1,0,120deg) translate3d(-100px,50px,0);
        transform: perspective(750px) scale(2.4) rotate3d(1,-1,0,120deg) translate3d(-100px,50px,0);
        opacity: 1
    }

    100% {
        -webkit-transform: perspective(750px) scale(2.4) rotate3d(1,1,0,75deg) translate3d(150px,-40px,-25px);
        transform: perspective(750px) scale(2.4) rotate3d(1,1,0,75deg) translate3d(150px,-40px,-25px);
        opacity: 1
    }
}

@-webkit-keyframes fly-shadows {
    0% {
        opacity: 1;
        -webkit-transform: perspective(750px) scale(4) rotate3d(1,-1,0,75deg) translate3d(-100px,50px,70px);
        transform: perspective(750px) scale(4) rotate3d(1,-1,0,75deg) translate3d(-100px,50px,70px)
    }

    100% {
        opacity: 1;
        -webkit-transform: perspective(750px) scale(3) rotate3d(1,1,0,75deg) translate3d(60px,0,64px);
        transform: perspective(750px) scale(3) rotate3d(1,1,0,75deg) translate3d(60px,0,64px)
    }
}

@keyframes fly-shadows {
    0% {
        opacity: 1;
        -webkit-transform: perspective(750px) scale(4) rotate3d(1,-1,0,75deg) translate3d(-100px,50px,70px);
        transform: perspective(750px) scale(4) rotate3d(1,-1,0,75deg) translate3d(-100px,50px,70px)
    }

    100% {
        opacity: 1;
        -webkit-transform: perspective(750px) scale(3) rotate3d(1,1,0,75deg) translate3d(60px,0,64px);
        transform: perspective(750px) scale(3) rotate3d(1,1,0,75deg) translate3d(60px,0,64px)
    }
}

.butterflies {
    position: absolute;
    left:0;
    top:0;
    display: none;
    z-index: 2000;
}

.butterflies>div {
    width: 22px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(750px) scale(2.8) rotate3d(1,-1,0,75deg) translate3d(0px,0px,0px);
    transform: perspective(750px) scale(2.8) rotate3d(1,-1,0,75deg) translate3d(0px,0px,0px);
}

.butterflies>div:nth-child(odd) {
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse
}

.butterflies>div>:nth-child(1) {
    width: 10px;
    margin: 0;
    top: 0;
    left: 0;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-animation-name: swingLeft;
    animation-name: swingLeft;
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

.butterflies>div>:nth-child(1):before {
    border-radius: 5px;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px
}

.butterflies>div>:nth-child(1):after {
    border-radius: 5px;
    position: absolute;
    top: 8px;
    width: 6px;
    height: 6px
}

.butterflies>div>:nth-child(2):after,.butterflies>div>:nth-child(2):before {
    content: "";
    background-color: rgba(255,145,96,.4);
    border-radius: 5px;
    left: 0;
    position: absolute;
    display: block
}

.butterflies>div>:nth-child(2) {
    position: absolute;
    width: 10px;
    height: 20px;
    margin: 0;
    top: 0;
    right: 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-animation-name: swingRight;
    animation-name: swingRight;
    animation-easing-function: cubic-bezier(.55,.055,.675,.19);
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate
}

.butterflies>div>:nth-child(2):before {
    top: 0;
    width: 10px;
    height: 10px
}

.butterflies>div>:nth-child(2):after {
    top: 8px;
    width: 6px;
    height: 6px
}

.butterflies>div:nth-child(1) {
    -webkit-animation-duration: 3.3s;
    animation-duration: 3.3s;
    animation-easing-function: cubic-bezier(.785,.135,.15,.86)
}

.butterflies>div:nth-child(1)>:after,.butterflies>div:nth-child(1)>:before {
    -webkit-animation-duration: 3.3s;
    animation-duration: 3.3s;
    animation-easing-function: cubic-bezier(.785,.135,.15,.86)
}

.butterflies>div:nth-child(2) {
    top: -12px;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    animation-easing-function: cubic-bezier(.55,.055,.675,.19)
}

.butterflies>div:nth-child(2)>:after,.butterflies>div:nth-child(2)>:before {
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    animation-easing-function: cubic-bezier(.55,.055,.675,.19)
}

.butterflies.butterflies-shadows>div {
    /* -webkit-animation-name: fly-shadows;
     animation-name: fly-shadows;*/
    -webkit-animation-name: none;
    animation-name: none;
    opacity:1;
}

.butterflies.butterflies-shadows>div>:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ms-val)";
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
    background: #6f0221;
    background: -moz-linear-gradient(45deg,#6f0221 0,#91042c 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0,#6f0221),color-stop(100%,#91042c));
    background: -webkit-linear-gradient(45deg,#6f0221 0,#91042c 100%);
    background: -o-linear-gradient(45deg,#6f0221 0,#91042c 100%);
    background: -ms-linear-gradient(45deg,#6f0221 0,#91042c 100%);
    background: linear-gradient(45deg,#6f0221 0,#91042c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f0221', endColorstr='#91042c', GradientType=1);
    box-shadow: 6px 15px 17px 0 rgba(0,0,0,.28)
}

.butterflies.butterflies-shadows>div>:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ms-val)";
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
    background: #6f0221;
    background: -moz-linear-gradient(45deg,#6f0221 0,#91042c 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0,#6f0221),color-stop(100%,#91042c));
    background: -webkit-linear-gradient(45deg,#6f0221 0,#91042c 100%);
    background: -o-linear-gradient(45deg,#6f0221 0,#91042c 100%);
    background: -ms-linear-gradient(45deg,#6f0221 0,#91042c 100%);
    background: linear-gradient(45deg,#6f0221 0,#91042c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f0221', endColorstr='#91042c', GradientType=1)
}

.butterflies .bf-el{
    width:78px;
    height:56px;
    background: url(/shop/theme/xth1/images/activity/2016/white_valentine/butterfly-spr.png) no-repeat;
    -webkit-animation: none;
    animation: none;
    -webkit-transform: none !important;
    transform: none !important;
}

.butterflies .bf-el figure{
    display: none;
}


.svg-box{
    position: absolute;
    left:50%;
    top:20px;
    width:1200px;
    height:1600px;
    margin-left:-600px;
    z-index: -100;
}

.butterFly-wrap{
    position: absolute;
    width:1200px;
    height: 1813px;
    overflow: hidden;
    left:50%;
    top:0;
    margin-left:-600px;
}
.butterFly-wrap .butterfly-panel{
    position: relative;
    width:1003px;
    height:1713px;
    padding-top:100px;
    margin-left:auto;
    margin-right:auto;
}
.butterFly-imgs img{
    display: block;
    width:100%;
    max-width:100%;
}

.butterFly-wrap .cake{
    position: absolute;
    opacity: 0;
    filter:alpha(opacity=0);
    background: transparent;
    zoom:1\9;
}

.butterFly-wrap .visible{
    opacity: 1 !important;
    filter:alpha(opacity=100) !important;
    zoom:1\9;
}

.butterFly-wrap .fadeIn{
    -webkit-animation: fadeIn .8s ease both;
    animation: fadeIn .8s ease both;
}

.butterFly-wrap .fly-down{
    -webkit-animation: fly-down .8s ease both;
    animation: fly-down .8s ease both;
}

.butterFly-wrap .fly-right{
    -webkit-animation: fly-right .8s ease both;
    animation: fly-right .8s ease both;
}

.butterFly-wrap .fly-left{
    -webkit-animation: fly-left .8s ease both;
    animation: fly-left .8s ease both;
}

.butterFly-wrap .fly-angle-down{
    -webkit-animation: fly-angle-down .8s ease both;
    animation: fly-angle-down .8s ease both;
}

.butterFly-wrap .fly-angle-up{
    -webkit-animation: fly-angle-up .8s ease both;
    animation: fly-angle-up .8s ease both;
}

.butterFly-wrap .fly-angle-up-R{
    -webkit-animation: fly-angle-up-R .8s ease both;
    animation: fly-angle-up-R .8s ease both;
}

@-webkit-keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes fly-down {
    from{
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes fly-down {
    from{
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes fly-angle-down {
    from{
        opacity: 0;
        -webkit-transform: translate(-60%,-100%);
        transform: translate(-100%,-100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }
}

@keyframes fly-angle-down {
    from{
        opacity: 0;
        -webkit-transform: translate(-60%,-100%);
        transform: translate(-100%,-100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }
}

@-webkit-keyframes fly-angle-up {
    from{
        opacity: 0;
        -webkit-transform: translate(-20%,100%);
        transform: translate(-20%,100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }
}

@keyframes fly-angle-up {
    from{
        opacity: 0;
        -webkit-transform: translate(-20%,100%);
        transform: translate(-20%,100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }
}

@-webkit-keyframes fly-angle-up-R {
    from{
        opacity: 0;
        -webkit-transform: translate(20%,100%);
        transform: translate(20%,100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }
}
@keyframes fly-angle-up-R {
    from{
        opacity: 0;
        -webkit-transform: translate(20%,100%);
        transform: translate(20%,100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }
}


@-webkit-keyframes fly-right {
    from{
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes fly-right {
    from{
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes fly-left {
    from{
        opacity: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes fly-left {
    from{
        opacity: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.butterFly-wrap .cake img{
    display: block;
}

.butterFly-wrap .cake1{
    left:262px;
    top:21px;
}

.butterFly-wrap .cake2{
    left:715px;
    top:180px;
}

.butterFly-wrap .cake3{
    left:480px;
    top:417px;
}

.butterFly-wrap .cake4{
    left:87px;
    top:529px;
}

.butterFly-wrap .cake5{
    left:682px;
    top:760px;
}

.butterFly-wrap .cake6{
    left:253px;
    top:1095px;
}

.butterFly-wrap .cake7{
    left:-25px;
    top:1177px;
}

.butterFly-wrap .cake8{
    left:300px;
    top:1225px;
}

.butterFly-wrap .deco,
.butterFly-wrap .cake-text,
.butterFly-wrap .abs{
    position: absolute;
}

.butterFly-wrap .deco1{
    left:33px;
    top:190px;
    z-index: 10;
}

.butterFly-wrap .deco2{
    left:573px;
    top:40px;
}

.butterFly-wrap .cake-text{
    opacity: 0;
}

.butterFly-wrap .cake3-text{
    left:827px;
    top:488px;
}

.butterFly-wrap .cake4-text{
    left:28px;
    top:835px;
}

.butterFly-wrap .cake5-text{
    left:602px;
    top:823px;
}

.butterFly-wrap .cake6-text{
    left:385px;
    top:1370px;
    z-index: 10;
}

.butterFly-wrap .cake7-text{
    left:100px;
    top:1079px;
}

.butterFly-wrap .cake8-text{
    left:776px;
    top:1177px;
}

html,body{
    height:100%;
    overflow-x:hidden;
}

a{
    outline: none;
}

.tc-cover{
    position: fixed !important;
    height:100% !important;
    z-index: 99998;
}

html, body{
    -webkit-backface-visibility: hidden;
}