@import "compass/utilities/sprites";
@import "icons/*.png";

/*自动检测icon的宽高*/
$icons-sprite-dimensions: true;

@include all-icons-sprites;

$btn-name: sb-btn;
$brown: #ab976b;
$green: #91cc9e;
$blue: #6aceee;
$pink: #cb83cc;
$gray: #eee;

@mixin border-radius($radius:4px){
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin translateY($value: -50%){
  -webkit-transform: translateY($value);
  transform: translateY($value);
}

@mixin translateX($value: -50%){
  -webkit-transform: translateX($value);
  transform: translateX($value);
}

@mixin translateXY($value: -50%){
  -webkit-transform: translate($value, $value);
  transform: translate($value, $value);
}

@mixin translate3d($x: 0, $y: 0, $z: 0){
  -webkit-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

@mixin transition($value: 400ms, $ease: ease-out){
  -webkit-transition: all $value $ease;
  transition: all $value $ease;
}

@mixin animation($name, $speed: 400ms, $ease: ease-out, $delay: "", $infinite: ""){
  -webkit-animation:$name $speed $ease $delay $infinite;
  animation:$name $speed $ease $delay $infinite;
}

@mixin appearance(){
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

@mixin absCenter(){
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
}


body{
  font-size:160%;
  width:100%;
  overflow: hidden;
}

html,body{
  height:100%;
}

[class^="icons-"],
[class*="icons-"]{
  display: inline-block;
  vertical-align: middle;
  font-size:0;
  overflow: hidden;
  font-style:normal;
}

.#{$btn-name}{
  display: inline-block;
  padding:.7em 1.5em;
  border:0;
  text-align: center;
  background-color: #f2f2f2;
  @include border-radius(8px);
  @include transition(300ms);

  &.brown{
    color:#fff;
    background-color: $brown;

    &:active{
      background-color: darken($brown, 20%);
    }
  }

  &.green{
    color:#fff;
    background-color: $green;

    &:active{
      background-color: darken($green, 20%);
    }
  }

  &.pink{
    color:#fff;
    background-color: $pink;

    &:active{
      background-color: darken($pink, 20%);
    }
  }

  &.blue{
    color:#fff;
    background-color: $blue;

    &:active{
      background-color: darken($blue, 20%);
    }
  }


  &:active{
    background-color: #e8e8e8;
  }
}

body{
  background-color: #f0f0f0;
}

.wapper{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  padding-top: 103px;
  padding-bottom: 40px;
  overflow: hidden;
  @include transition();

  &.out{
    @include translate3d(100%);
  }

  &.leave{
    @include translate3d(-100%);
  }
}

.wp-header{
  position: absolute;
  left:40px;
  right:40px;
  top:0;
  padding-top:30px;
  padding-bottom: 30px;

  h1{
    color: #989898;
    text-align: center;
    font-size:1.2em;
  }

  .skip-link{
    float:right;
    color:#bba574;
    font-size:1.1em;
  }
}

.content{
  margin-left:40px;
  margin-right:40px;
  min-height:100%;
  padding:30px;
  background-color: #fff;
  border-bottom:2px solid #cecece;
  @include border-radius(12px);

  .cn-header{
    margin-left: 90px;
    margin-right:90px;
    border-top:1px solid #dcd2b9;
    text-align: center;
    margin-top:30px;
    margin-bottom: -30px;

    .hd-legend{
      color:#bba574;
      font-size:1.2em;
      display: inline-block;
      padding:0 30px;
      background-color: #fff;
      @include translateY();

      > i{
        position: relative;
        top:-2px;
        margin-right:12px;
      }
    }
  }
}

.subject-item{
  margin-top:30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;

  &:last-child{
    border-bottom-color:transparent;
  }

  .subject-title{
    text-align: center;
    font-size:1.5em;
    margin-bottom: 30px;
  }

  .subject-main{
    position: relative;

    .subject-list{
      margin-left:280px;

      .sb-btn{
        display: block;
        width:9.5em;
        margin-bottom: 20px;
      }
    }

    .subject-icon{
      position: absolute;
      left:50px;
      top:50%;
      width:141px;
      height:141px;
      padding:25px;
      overflow: hidden;
      border:6px solid #bca474;
      @include absCenter();
      @include translateY();
      @include border-radius(50%);
    }

  }
}

.subject-grid{
  text-align: center;
  .grid-col{
    margin-bottom: 30px;
  }
  .grid-item{
    display: inline-block;
    margin-left:60px;
    margin-right:60px;
    margin-bottom: 30px;

    &.grid-item-block{
      display: block;

      .subject-icon{
        display: inline-block;
      }
    }

    &.grid-item-far{
        margin-left:80px;
        margin-right:80px;
    }

    &.grid-item-near{
        margin-left:32px;
        margin-right:32px;
    }

    .subject-icon{
      position: static;
      @include translateY(0);
    }
    h4{
      font-size:1.1em;
      margin-top: .5em;
    }
  }
  .grid-far{
    .grid-item{
      margin-left:80px;
      margin-right:80px;
    }
  }

  .grid-near{
    .grid-item{
      margin-left:32px;
      margin-right:32px;
    }
  }
}

.page-nav {
  position: fixed;
  left:50%;
  bottom: 60px;
  @include translateX();
  z-index: 100;

  &.hidden{
    visibility: hidden;
  }

  > span{
    position: relative;
    display: inline-block;
    font-size: 0;
    width:32px;
    height:32px;
    margin-left:6px;
    margin-right:6px;
    overflow: hidden;

    &:after,
    &:before{
      content: "";
      position: absolute;
      width:16px;
      height:16px;
      @include border-radius(50%);
    }

    &:after{
      left:50%;
      top:50%;
      @include translateXY(-50%);
      border:2px solid transparent;
    }

    &:before{
      left:8px;
      top:8px;
      background-color: #999;
    }

    &.swiper-pagination-bullet-active{
      &:after {
        border-color: #bba573;
        width:32px;
        height:32px;
      }

      &:before {
        background-color: #bba573;
      }
    }
  }

  > span:after, > span:before{
    @include transition();
  }

}

.sec-second {
  .cn-header{
    border-color:$green;
    .hd-legend{
      color: $green;
    }
  }
}

.sec-second {
  .subject-main{
    .subject-icon{
      border-color:$green;
    }
  }
  .sb-btn{
    width:11em !important;
  }
}



.sec-third {
  .cn-header{
    border-color:$blue;
    .hd-legend{
      color: $blue;
    }
  }
}

.sec-third {
  .subject-main{
    .subject-icon{
      border-color:$blue;
    }
  }
}


.sec-fourth {
  .cn-header{
    border-color:$pink;
    .hd-legend{
      color: $pink;
    }
  }
}

.sec-fourth {
  .sb-btn{
    &.brown{
      background-color: $pink;
    }
  }
}

.subject-icon{
  &.pink{
    background-color: $pink;
    border-color: $pink !important;
  }
  &.pink:active{
    background-color: darken($pink, 20%);
    border-color: darken($pink, 20%) !important;
  }
  &.gray{
    background-color: $gray;
    border-color:$gray !important;
  }
  &.gray:active{
    background-color: darken($gray, 20%);
    border-color: darken($gray, 20%) !important;
  }
  &.gray-circle{
    background-color: transparent;
    border-color:$gray !important;
  }
  &.gray-circle:active{
    border-color: darken($gray, 20%) !important;
  }
}

.profile-wrapper{
  margin-top: 50px;

  .button-field{
    text-align: center;
  }

  .border-btn{
    display: inline-block;
    padding:.6em 1.5em;
    font-size:1.5em;
    color:$pink;
    text-align: center;
    border:2px solid $pink;
    background: none;
    @include border-radius(10px);
    width:80%;

    &:active{
      color: darken($pink, 20%);
      border-color: darken($pink, 20%);
    }
  }
}

.profile-item{
  margin-bottom: 50px;

  > h2{
    font-size:1.4em;
    margin-bottom: 20px;
  }

  .profile-bd > label{
    padding: 0 5px;
  }
}

.input-style{
  @include appearance();
  @include border-radius(10px);
  display: inline-block;
  padding:.8em 1.5em;
  text-align: center;
  border:0;
  background-color: $pink;
  color:#fff;
  font-size:1.1em;

  &.wd-8{
    width:7em;
  }
}

.app-loaidng{
  position: fixed;
  left:0;
  top:0;
  right:0;
  bottom: 0;
  background-color: rgba(0,0,0,.1);
  z-index: 1000;
  @include absCenter();

  .app-loading-modal{
    width:160px;
    height:160px;
    background-color: rgba(0,0,0,.5);
    @include border-radius(16px);
    @include absCenter();

    &:after{
      content:"";
      width:60px;
      height:60px;
      border-width:6px 6px 0 0;
      border-style: solid;
      border-color: $brown;
      @include border-radius(50%);
      @include animation(spin, 800ms, linear, 0ms, infinite);
    }
  }
}

@-webkit-keyframes spin {
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}