.evt-content{
  width: 1200px;
}

.evt-banner{
  position: relative;
  height: 700px;
  overflow: hidden;
  background: url(../images/banner_bg.jpg) repeat;

  .evt-content > div{
    position: absolute;
  }

  .coffee{
    left: 455px;
    top:-80px;
  }

  .b-cake{
    top: 180px;
    left: 120px;

    .cake-tips{
      position: absolute;
      left: -160px;
      top: -77px;
    }
  }

  .banner-text{
    right: 35px;
    top: 84px;
  }

  .nut-bg{
    left: 82px;
    top: 374px;
  }

  .cake-sm{
    left: -65px;
    top: 470px;
  }

  .cake-spoon{
    top: 560px;
    left: 56px;
  }
}

.evt-main{
  position: relative;
  height: 970px;
  z-index: 10;
  background: url(../images/main-bg.jpg) repeat;

  .evt-content > div{
    position: absolute;
  }

  .counter-down{
    top: 40px;
    left: 50%;
    margin-left: -262px;
    width: 524px;
    height: 187px;
    z-index: 10;
    background: url(../images/count-down-bg.png) no-repeat;
  }

  .counter-flips{
    position: absolute;
    right: 42px;
    bottom: 17px;

    .flip{
      font-size: 0;
      display: inline-block;
      width: 72px;
      margin-right: 3px;
      vertical-align: top;
      > span{
        display: inline-block;
        width: 35px;
        height: 48px;
        background: url(../images/decimal.png) no-repeat;
      }
    }
  }

  .main-cake{
    top: 180px;
    left: 30px;
  }

  .main-action-wrap{
    top: 330px;
    right: 20px;
  }

  .main-action{
    position: relative;
    margin-top: 25px;
    padding-left: 62px;

    .buy-btn{
      position: absolute;
      top: 8px;
      right: 0;
      width: 200px;
      height: 60px;
      line-height: 100;
      overflow: hidden;
    }
  }

  .cake-select{
    position: absolute;
    left: 0;
    top: 0;

    .c-check{
      display: block;
      width: 36px;
      height: 33px;
      margin-bottom: 5px;
      cursor: pointer;
      background: url(../images/checkbox.png) no-repeat;

      &.checked{
        background-position: 0 -33px;
      }
    }
  }

  .footer-action{
    top: 820px;
    left: 50%;
    margin-left: -262.5px;
  }

  .main-deco1{
    left: -184px;
    top: 90px;
  }

  .main-deco2{
    left: -182px;
    top: 660px;
  }

  .main-deco3{
    right: -150px;
    top: 160px;
  }

  .main-deco4{
    right: -120px;
    top: 722px;
  }
}

.evt-footer{
  position: relative;
  background-color: #dcc7b3;
  z-index: 10;

  .footer-bd{
    position: relative;
    width:800px;
    margin:0 auto;
  }

  .evt-rules{
    padding-top:30px;
    padding-bottom: 40px;
    color:#532b05;
    h2{
      font-size:18px;
      margin-bottom: 5px;
    }
    p{
      font-size:16px;
      line-height: 1.5;
      padding-left: 1.5em;
      text-indent: -1.5em;
    }
  }
}

/**修改*/
.counter-down .text{
  position: absolute; right: 47px; bottom: 66px; color: #4a2602; font-size: 12px; font-weight: bold;
}
.counter-down-2 .text{
  right: 146px;
}
.counter-down.counter-down-2{ background:url(../images/count-down-bg2.png) no-repeat; }
.counter-down.counter-down-2 .flipx {
  display: inline-block;
  font-size: 0;
  margin-right: 112px;
  vertical-align: top;
  width: 72px;
}
.counter-down.counter-down-2 .flipx > span {
  background: rgba(0, 0, 0, 0) url("../images/decimal.png") no-repeat scroll 0 0;
  display: inline-block;
  height: 48px;
  width: 35px;
}
