@charset "UTF-8";
.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}

.arrow-left {
  background: url(../images/arrows.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
}

.arrow-right {
  background: url(../images/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 5px;
  opacity: 0.8;
  cursor: pointer;
  border: 1px solid #eee;
  background: #aaa;
}

.swiper-visible-switch {
  background: #aaa;
}

.swiper-active-switch {
  background: #a5002f;
}

.slide-link {
  position: absolute;
  top: 0;
  left: 5%;
  display: block;
  width: 90%;
  height: 100%;
  z-index: 100;
}

.swiper-slide {
  position: relative;
}

.oldie .swiper-content {
  margin: 0 auto;
}

/*banner*/
.swiper-container {
  height: 550px;
}

.banner-slides .swiper-content {
  height: 550px;
}

.banner-slides .slides-motherDay .b-title {
  left: 396px;
}

.banner-slides .slides-motherDay .b-word {
  top: 177px;
  left: 580px;
}

.banner-slides .slides-motherDay .b-flower1 {
  top: 54px;
  left: 169px;
}

.banner-slides .slides-motherDay .b-flower2 {
  top: 273px;
  left: 547px;
}

.banner-slides .slides-motherDay .b-cake {
  top: 200px;
  left: 207px;
  opacity: 0;
}

.banner-slides .slides-motherDay .b-price {
  top: 431px;
  left: 548px;
}

.banner-slides .slides-motherDay .b-btn {
  top: 470px;
  left: 698px;
}

.banner-slides .slides-strawberryDay .clod-1 {
  top: 0;
  left: -30px;
}

.banner-slides .slides-strawberryDay .clod-2 {
  top: 0;
  left: 687px;
}

.banner-slides .slides-strawberryDay .title {
  top: 10px;
  left: 264px;
}

.banner-slides .slides-strawberryDay .basket {
  top: 390px;
  left: 40px;
}

.banner-slides .slides-strawberryDay .cake {
  top: 305px;
  left: 266px;
}

.banner-slides .slides-strawberryDay .caomei_a {
  top: 172px;
  left: 562px;
}

.banner-slides .slides-strawberryDay .caomei_b {
  top: 119px;
  left: 38px;
}

.banner-slides .slides-women .q1 {
  left: 199px;
  top: 134px;
  z-index: 2;
}

.banner-slides .slides-women .q2 {
  left: 290px;
  top: 54px;
  z-index: 1;
}

.banner-slides .slides-women .q3 {
  left: 167px;
  top: 95px;
}

.banner-slides .slides-women .q4 {
  left: 366px;
  top: 123px;
}

.banner-slides .slides-women .q5 {
  left: 306px;
  top: 222px;
  z-index: 2;
}

.banner-slides .slides-women .q6 {
  left: 603px;
  top: 128px;
}

.banner-slides .slides-women .q7 {
  left: 372px;
  top: 299px;
}

.banner-slides .slides-women .q8 {
  left: 600px;
  top: 233px;
  z-index: 1;
}

.banner-slides .slides-women .q9 {
  left: 337px;
  top: 296px;
}

.banner-slides .slides-chihuo .title {
  top: 13px;
  left: 26px;
}

.banner-slides .slides-chihuo .decorate-1 {
  top: 240px;
  left: -34px;
}

.banner-slides .slides-chihuo .decorate-2 {
  top: 26px;
  left: 633px;
}

.banner-slides .slides-chihuo .cake {
  top: 45px;
  left: 447px;
}

.banner-slides .slides-song .title {
  top: 48px;
  left: 163px;
}

.banner-slides .slides-song .yuans-1 {
  top: 86px;
  left: -22px;
}

.banner-slides .slides-song .yuans-2 {
  top: 86px;
  left: 622px;
}

.banner-slides .slides-song .cake {
  top: 196px;
  left: 350px;
}

.banner-slides .slides-song .quan {
  top: 235px;
  left: 180px;
}

.banner-slides .slides-song .across {
  top: 370px;
  left: 276px;
}

.banner-slides .slides-song .btn {
  top: 417px;
  left: 230px;
}

.banner-slides .slides-520 .boy {
  top: 129px;
  left: 0px;
}

.banner-slides .slides-520 .girl {
  top: 189px;
  left: 781px;
}

.banner-slides .slides-520 .title {
  top: 42px;
  left: 246px;
}

.banner-slides .slides-520 .cake {
  top: 204px;
  left: 145px;
}

.banner-slides .slides-ChildrenDay .title {
  top: 20px;
  left: 443px;
}

.banner-slides .slides-ChildrenDay .left {
  top: 267px;
  left: -160px;
}

.banner-slides .slides-ChildrenDay .right {
  top: 256px;
  left: 909px;
}

.banner-slides .slides-ChildrenDay .long-mogu {
  top: 365px;
  left: 761px;
}

.banner-slides .slides-ChildrenDay .cake {
  top: 118px;
  left: 239px;
}

.banner-slides .slides-ChildrenDay .btn {
  top: 267px;
  left: 654px;
}

.banner-slides .slides-ChildrenDay .chezi {
  top: 340px;
  left: 18px;
}

.banner-slides .slides-ChildrenDay .baozi {
  top: 356px;
  left: 880px;
}

.banner-slides .slides-ChildrenDay .long-mogu {
  top: 366px;
  left: 780px;
}

.banner-slides .slides-duanwu .q1 {
  left: 126px;
  top: 34px;
}

.banner-slides .slides-Father .f-yd {
  top: 179px;
  left: -38px;
}

.banner-slides .slides-Father .f-title {
  top: 52px;
  left: 106px;
}

.banner-slides .slides-Father .f-cake {
  top: 0px;
  left: 520px;
}

.banner-slides .slides-Father .f-lz {
  top: 399px;
  left: 100px;
}

.banner-slides .slides-nino .q1 {
  left: -97px;
  top: 108px;
}

.banner-slides .slides-nino .q2 {
  left: 398px;
  top: 73px;
}

.banner-slides .slides-nino .q3 {
  left: 398px;
  top: 85px;
}

.banner-slides .slides-nino .nino-rocket {
  position: absolute;
  left: -160px;
  top: -70px;
  width: 400px;
  height: 400px;
}

.banner-slides .slides-nino .q4 {
  left: 800px;
  top: 110px;
  display: none;
}

.banner-slides .slides-nino .q4 .txt {
  position: absolute;
  width: 218px;
  top: 80px;
  left: 75px;
  color: #53322c;
  font-size: 14px;
  text-align: left;
}

.banner-slides .slides-nino .q4 .txt p {
  margin-bottom: 0px;
}

.banner-slides .slides-nino .q5 {
  width: 330px;
  height: 440px;
  left: 822px;
  top: 30px;
  z-index: 5;
}

.banner-slides .slides-history .q1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.banner-slides .slides-history .q1 > img {
  display: inline-block;
  width: 91.61458%;
}

.banner-slides .slides-history .q1 > span {
  display: block;
  width: 91.61458% !important;
}

.banner-slides .slides-history .q2 {
  left: 105px;
  top: 72px;
}

.banner-slides .slides-history .q3 {
  left: 466px;
  top: 142px;
}

.banner-slides .slides-history .bgText {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  text-align: center;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.01, 1.08);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.01, 1.08);
}

.banner-slides .slides-history .bgText span {
  color: #eae5df;
  font-size: 450px;
  font-family: Times New Roman;
}

.banner-slides .slides-ricotta .g-factor {
  top: 20px;
  left: -168px;
}

.banner-slides .slides-ricotta .title {
  top: 72px;
  left: 0px;
}

.banner-slides .slides-ricotta .yun-1 {
  top: 133px;
  left: -269px;
}

.banner-slides .slides-ricotta .yun-2 {
  top: 274px;
  right: -248px;
}

.banner-slides .slides-ricotta .lineyun-1 {
  bottom: 12px;
  left: -329px;
}

.banner-slides .slides-ricotta .lineyun-2 {
  bottom: 12px;
  right: -173px;
}

.banner-slides .slides-ricotta .cake-1 {
  top: 20px;
  left: 467px;
}

.banner-slides .slides-ricotta .mario {
  bottom: 4px;
  left: -84px;
}

.banner-slides .slides-clearance .swiper-content {
  width: 1200px;
}

.banner-slides .slides-clearance .q1 {
  left: 345px;
  top: 76px;
  z-index: 5;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.1, 0.21, 1.51);
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.21, 1.51);
}

.banner-slides .slides-clearance .q2 {
  left: 0;
  top: 214px;
}

.banner-slides .slides-clearance .q3 {
  left: 870px;
  top: 220px;
}

.banner-slides .slides-quqi-exchange .ren-quqi {
  top: 126px;
  left: -78px;
}

.banner-slides .slides-quqi-exchange .ren-tizi {
  top: 0px;
  left: 595px;
}

.banner-slides .slides-quqi-exchange .ren-box {
  bottom: 45px;
  left: 180px;
}

.banner-slides .slides-quqi-exchange .ren-pao {
  bottom: 16px;
  left: 915px;
}

.banner-slides .slides-quqi-exchange .hyou {
  bottom: 68px;
  left: -100px;
}

.banner-slides .slides-quqi-exchange .title {
  top: 20px;
  left: 203px;
}

.banner-slides .slides-quqi-exchange .quqi-1 {
  top: -30px;
  left: -20px;
}

.banner-slides .slides-quqi-exchange .quqi-2 {
  top: 32px;
  left: 939px;
}

.banner-slides .slides-quqi-exchange .quqi-3 {
  top: 322px;
  left: 90px;
}

.banner-slides .slides-quqi-exchange .quqi-4 {
  top: 172px;
  left: 517px;
}

.banner-slides .slides-lianlian .lian-title {
  top: 106px;
  left: 10px;
}

.banner-slides .slides-lianlian .lian-words {
  top: 376px;
  left: 40px;
}

.banner-slides .slides-xiari .xiari-words {
  top: 139px;
  left: -117px;
}

.banner-slides .slides-xiari .xiari-cake {
  top: 15px;
  left: 480px;
}

.banner-slides .slides-xiari .xiari-btn {
  top: 334px;
  left: -98px;
}

.banner-slides .slides-xiatian .xiatian-bg {
  top: 276px;
  left: 79px;
}

.banner-slides .slides-xiatian .xiatian-title {
  top: 33px;
  left: 380px;
}

.banner-slides .slides-xiatian .xiatian-words {
  top: 286px;
  left: 738px;
}

.banner-slides .slides-xiatian .xiatian-cake {
  top: 92px;
  left: 66px;
}

.banner-slides .slides-xiatian .xiatian-btn {
  top: 470px;
  left: 507px;
}

.banner-slides .slides-baicaoji .bc-bg {
  top: 348px;
  left: 104px;
}

.banner-slides .slides-baicaoji .bc-title {
  top: 34px;
  left: 312px;
}

.banner-slides .slides-baicaoji .bc-word {
  top: 200px;
  left: 695px;
}

.banner-slides .slides-baicaoji .bc-tz {
  top: 272px;
  left: 480px;
}

.banner-slides .slides-baicaoji .bc-cake {
  top: 93px;
  left: 75px;
}

.banner-slides .slides-baicaoji .bc-btn {
  top: 453px;
  left: 542px;
}

.banner-slides .slides-ice-cream .ic-han {
  top: 127px;
  left: 553px;
}

.banner-slides .slides-ice-cream .ic-yang {
  top: -30px;
  left: 836px;
}

.banner-slides .slides-ice-cream .ic-word {
  top: 369px;
  left: 74px;
}

.banner-slides .slides-ice-cream .ic-title {
  top: 34px;
  left: 0px;
}

.banner-slides .slides-ice-cream .ic-cake {
  top: 76px;
  left: 405px;
}

.banner-slides .slides-gonghang .gh-line {
  top: 179px;
  left: 114px;
}

.banner-slides .slides-gonghang .gh-sm {
  top: 370px;
  left: 733px;
}

.banner-slides .slides-gonghang .gh-title {
  top: 10px;
  left: 84px;
}

.banner-slides .slides-gonghang .gh-cake-1 {
  top: 0;
  left: 484px;
}

.banner-slides .slides-gonghang .gh-cake-2 {
  top: 290px;
  left: 40px;
}

.banner-slides .slides-manyuemei .mym-a {
  width: 240px;
  height: 241px;
  top: 247px;
  left: 874px;
}

.banner-slides .slides-manyuemei .mym-b {
  width: 118px;
  height: 109px;
  top: 68px;
  left: 909px;
}

.banner-slides .slides-manyuemei .mym-c {
  width: 207px;
  height: 209px;
  top: 176px;
  left: -67px;
}

.banner-slides .slides-manyuemei .m-title {
  top: 111px;
  left: 235px;
}

.banner-slides .slides-manyuemei .cake-big {
  top: 280px;
  left: 88px;
}

.banner-slides .slides-manyuemei .top-cm {
  top: 0;
  left: 100px;
}

.banner-slides .slides-manyuemei .cake-small {
  width: 223px;
  height: 222px;
  top: 510px;
  left: -112px;
  background: url("../images/manyuemei/cake-small.png");
}

.banner-slides .slides-manyuemei .cake-small.c-l-2 {
  left: -335px;
}

.banner-slides .slides-manyuemei .cake-small.c-l-3 {
  left: -557px;
}

.banner-slides .slides-manyuemei .cake-small.c-r-1 {
  left: 874px;
}

.banner-slides .slides-manyuemei .cake-small.c-r-2 {
  left: 1096px;
}

.banner-slides .slides-manyuemei .cake-small.c-r-3 {
  left: 1318px;
}

.banner-slides .slides-foodPack .gao-line {
  top: 0px;
  left: -68px;
}

.banner-slides .slides-foodPack .title {
  top: 167px;
  left: 50px;
}

.banner-slides .slides-foodPack .bu {
  top: 53px;
  left: 89px;
}

.banner-slides .slides-foodPack .ren {
  top: 0px;
  left: 520px;
}

.banner-slides .slides-foodPack .c-zu {
  top: 90px;
  left: 465px;
}

/*浮动*/
.floater {
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 11;
  width: 300px;
}

.floater .floatImg {
  position: relative;
  font-size: 0;
}

.floater .floatImg img {
  width: 100%;
}

.floater .floatImg a {
  width: 100%;
  display: block;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
}

.floater .float-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

.floater .float-container {
  width: 300px;
  position: absolute;
  font-size: 0;
  top: 180px;
  left: 0;
  display: block;
}

.icon {
  position: fixed;
  top: 100px;
  right: 40px;
  z-index: 11;
}

.icon a {
  width: 100%;
  display: block;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}
