html, body {
  height: 100%;
}

body {
  background-color: #e2f3fc !important;
  overflow-x: hidden;
}

#scene_loading {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#scene_progress {
  width: 100%;
  position: relative;
  height: 60px;
  overflow: hidden;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: transform 1s cubic-bezier(0, 0, 0.01, 1);
}

#scene_progress .progress-line {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  background-color: #000;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
}

#scene_progress .progress-text {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
}

#scene_spin {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 18px;
  color: #444;
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-slide {
  position: relative;
}

.swiper-wrapper {
  cursor: -webkit-grab !important;
  cursor: grab !important;
  cursor: move;
  transition-timing-function: cubic-bezier(0.35, 0.84, 0.21, 1.14);
}

.scenes-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  overflow: hidden;
}

.scene > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.scene > div > img {
  display: inline-block;
  vertical-align: top;
}

.scene .scene-flag > img {
  margin-left: 12%;
}

.scene .scene-bg2 {
  text-align: right;
}

.scene .scene-textbg {
  font-size: 380px;
  color: #d9effb;
  font-family: Times New Roman, "Microsoft YaHei";
  white-space: nowrap;
  bottom: 5%;
  text-align: center;
  z-index: -1;
}

@media (max-width: 1366px) {
  .scene .scene-textbg {
    font-size: 340px;
  }
}

@media (max-width: 1280px) {
  .scene .scene-textbg {
    font-size: 300px;
  }
}

.scene .scene-text {
  width: auto;
  bottom: auto;
  left: 50%;
  top: 15%;
  font-family: Times New Roman, "Microsoft YaHei";
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.scene .scene-text .scene-year {
  display: inline-block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-family: Times New Roman, "Microsoft YaHei";
  margin-bottom: 45px;
}

.scene .scene-text h3 {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}

.scene .scene-text p {
  font-size: 17px;
  line-height: 1.5;
}

.scene .scene-text p strong {
  color: #333;
}

.scene1 .scene-year {
  background-color: #263392;
}

.scene2 .scene-year {
  background-color: #be0106;
}

.scene2 .scene-bg1 img {
  margin-left: -22%;
}

.scene3 .scene-year {
  background-color: #5a2e21;
}

@media (max-width: 1366px) {
  .scene3 .scene-flag > img {
    margin-left: 8%;
  }
}

.scene4 .scene-year {
  background-color: #d73310;
}

.scene5 .scene-year {
  background-color: #1d7bba;
}

.scene5 .scene-textbg {
  text-align: center;
}

.scene6 .scene-year {
  background-color: #fcd8d0;
}

.scene7 .scene-text {
  top: 5%;
}

.scene8 .scene-text {
  top: 3%;
}

.scene8 .scene-text p {
  font-size: 15px;
}

.scene8 .scene-flag.flag1 img {
  margin-left: 17%;
}

.scene8 .scene-flag.flag2 img {
  margin-left: 2%;
}

.scene8 .scene-flag.flag3 img {
  margin-left: 70%;
}

.scene8 .scene-bg2 {
  text-align: center;
  bottom: -20px;
}

.scene9 .scene-text img {
  margin-top: 30px;
}

.cursor-indictor {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #a2a2a2;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 99;
}

.cursor-indictor svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  stroke: #a2a2a2;
  fill: none;
  width: 40px;
  height: 40px;
  transform-origin: 50%;
  stroke-width: 2;
  stroke-dasharray: 800;
  stroke-dashoffset: 0;
}

.cursor-indictor svg circle, .cursor-indictor svg path {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.cursor-indictor.cursor-prev .right, .cursor-indictor.cursor-prev circle {
  opacity: 0;
}

.cursor-indictor.cursor-prev .left {
  -webkit-transform: translate3d(12px, 0, 0);
  transform: translate3d(12px, 0, 0);
}

.cursor-indictor.cursor-next .left, .cursor-indictor.cursor-next circle {
  opacity: 0;
}

.cursor-indictor.cursor-next .right {
  -webkit-transform: translate3d(-12px, 0, 0);
  transform: translate3d(-12px, 0, 0);
}

.IE8 #scene_loading {
  width: 800px;
  margin-left: -400px;
}

.IE8 .scene1 .scene-text {
  margin-left: -135px\0;
}

.IE8 .scene2 .scene-text {
  margin-left: -220px\0;
}

.IE8 .scene4 .scene-text {
  margin-left: -110px\0;
}

.IE8 .scene6 .scene-text {
  margin-left: -120px\0;
}

.IE8 .scene7 .scene-text {
  margin-left: -270px\0;
}

.IE8 .scene8 .scene-text {
  margin-left: -250px\0;
}

.IE8 .scene9 .scene-text {
  margin-left: -135px\0;
}

.IE8 .cursor-indictor {
  border: none;
}

.IE8 .cursor-indictor.cursor-prev {
  background: url(../images/cursor-left.png) no-repeat;
}

.IE8 .cursor-indictor.cursor-next {
  background: url(../images/cursor-right.png) no-repeat;
}
