@charset "UTF-8";
.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}

.arrow-left {
  background: url(../images/arrows.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
}

.arrow-right {
  background: url(../images/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 5px;
  opacity: 0.8;
  cursor: pointer;
  border: 1px solid #eee;
  background: #aaa;
}

.swiper-visible-switch {
  background: #aaa;
}

.swiper-active-switch {
  background: #a5002f;
}

.slide-link {
  position: absolute;
  top: 0;
  left: 5%;
  display: block;
  width: 90%;
  height: 100%;
  z-index: 100;
}

.swiper-slide {
  position: relative;
}

.oldie .swiper-content {
  margin: 0 auto;
}

/*banner*/
.swiper-container {
  height: 550px;
}

.banner-slides {
  /*活动*/
}

.banner-slides .swiper-content {
  height: 550px;
}

.banner-slides .slides-nino .swiper-content {
  margin-left: -110px;
}

.banner-slides .slides-nino .q1 {
  left: -97px;
  top: 108px;
}

.banner-slides .slides-nino .q2 {
  left: 357px;
  top: 73px;
}

.banner-slides .slides-nino .q3 {
  left: 358px;
  top: 85px;
}

.banner-slides .slides-nino .nino-rocket {
  position: absolute;
  left: -160px;
  top: -70px;
  width: 400px;
  height: 400px;
}

.banner-slides .slides-nino .q4 {
  left: 760px;
  top: 114px;
  display: none;
}

.banner-slides .slides-nino .q4 .txt {
  position: absolute;
  width: 218px;
  top: 80px;
  left: 75px;
  color: #53322c;
  font-size: 14px;
  text-align: left;
}

.banner-slides .slides-nino .q4 .txt p {
  margin-bottom: 0px;
}

.banner-slides .slides-nino .q5 {
  width: 330px;
  height: 440px;
  left: 776px;
  top: 100px;
  z-index: 5;
}

.banner-slides .slides-potato .swiper-content {
  width: 1200px;
}

.banner-slides .slides-potato .cake {
  top: 180px;
  left: 70px;
}

.banner-slides .slides-potato .title {
  top: 40px;
  left: 410px;
}

.banner-slides .slides-foodPack .gao-line {
  top: 0px;
  left: -68px;
}

.banner-slides .slides-foodPack .title {
  top: 167px;
  left: 50px;
}

.banner-slides .slides-foodPack .bu {
  top: 53px;
  left: 89px;
}

.banner-slides .slides-foodPack .ren {
  top: 0px;
  left: 520px;
}

.banner-slides .slides-foodPack .c-zu {
  top: 90px;
  left: 465px;
}

.banner-slides .slides-wansheng .swiper-content {
  width: 1200px;
}

.banner-slides .slides-wansheng .w-title {
  top: 119px;
  left: 80px;
}

.banner-slides .slides-wansheng .gui-tou {
  top: 10px;
  left: 250px;
}

.banner-slides .slides-wansheng .tou {
  top: 120px;
  left: 548px;
}

.banner-slides .slides-wansheng .floadMen {
  position: absolute;
  width: 117px;
  height: 158px;
  top: 243px;
  left: auto;
  right: 0;
  background: url("../images/wansheng/floadMen.png") no-repeat;
  z-index: 101;
}

.banner-slides .slides-shuang11 .swiper-content {
  width: 1200px;
}

.banner-slides .slides-shuang11 .cake {
  top: 0px;
  left: 240px;
}

.banner-slides .slides-shuang11 .title {
  top: 30px;
  left: 70px;
}

.banner-slides .slides-yhcoffee .swiper-content {
  width: 1200px;
}

.banner-slides .slides-yhcoffee .banner-c1 {
  position: absolute;
  top: 30px;
  left: 0px;
}

.banner-slides .slides-yhcoffee .banner-c2 {
  position: absolute;
  top: 24px;
  left: 512px;
}

.banner-slides .slides-yhcoffee .banner-cake {
  position: absolute;
  top: 246px;
  left: 0px;
}

.banner-slides .slides-yhcoffee .banner-girl {
  position: absolute;
  top: 144px;
  left: 720px;
}

.banner-slides .slides-memberDay2 .swiper-content {
  width: 1200px;
}

.banner-slides .slides-memberDay2 .swiper-content div {
  position: absolute;
}

.banner-slides .slides-memberDay2 .b-cake {
  top: 150px;
  left: 120px;
}

.banner-slides .slides-memberDay2 .title {
  top: 90px;
  left: 604px;
}

.banner-slides .slides-memberDay2 .youhui {
  top: 159px;
  left: 40px;
}

.banner-slides .slides-memberDay2 .lobo {
  top: -50px;
  left: 165px;
  opacity: 0;
}

.banner-slides .slides-memberDay2 .lobo-gif {
  top: -10px;
  left: 165px;
  display: none;
}

.banner-slides .slides-memberDay2 .lobo-ani {
  -webkit-animation: lobo  2s  ease-in 0.5s forwards;
  animation: lobo  2s  ease-in 0.5s forwards;
}

.banner-slides .slides-memberDay2 .tuzi {
  top: 110px;
  left: 774px;
  opacity: 0;
}

.banner-slides .slides-memberDay2 .tuzi-gif {
  top: 110px;
  left: 740px;
  display: none;
}

.banner-slides .slides-memberDay2 .tuzi-ani {
  -webkit-animation: tuzi 1.5s  ease-in 2s forwards;
  animation: tuzi 1.5s  ease-in 2s forwards;
}

@-webkit-keyframes lobo {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20%, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, -30%, 0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(0, -10%, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(0, -15%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes lobo {
  0% {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20%, 0);
  }
  70% {
    opacity: 1;
    transform: translate3d(0, -30%, 0);
  }
  80% {
    opacity: 1;
    transform: translate3d(0, -10%, 0);
  }
  90% {
    opacity: 1;
    transform: translate3d(0, -15%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes tuzi {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5%, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 8%, 0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(0, 4%, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes tuzi {
  0% {
    opacity: 1;
    transform: translate3d(0, 20%, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 5%, 0);
  }
  70% {
    opacity: 1;
    transform: translate3d(0, 8%, 0);
  }
  80% {
    opacity: 1;
    transform: translate3d(0, 4%, 0);
  }
  90% {
    opacity: 1;
    transform: translate3d(0, 5%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.banner-slides .slides-bjshuang11 {
  position: relative;
}

.banner-slides .slides-bjshuang11 .fot {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  width: 1930px;
  height: 550px;
  margin-left: -960px;
  background: url("../images/bjshuang11/fot.png") bottom center repeat;
  background-size: 100%;
}

.banner-slides .slides-bjshuang11 .swiper-content {
  width: 1000px;
}

.banner-slides .slides-bjshuang11 .swiper-content div {
  position: absolute;
}

.banner-slides .slides-bjshuang11 .cake {
  top: auto;
  bottom: 0px;
  left: 760px;
}

.banner-slides .slides-bjshuang11 .title {
  top: 60px;
  left: 50%;
  margin-left: -375.5px;
}

.banner-slides .slides-bafei .swiper-content {
  width: 1200px;
}

.banner-slides .slides-bafei div {
  position: absolute;
}

.banner-slides .slides-bafei .cake {
  top: 146px;
  left: 850px;
}

.banner-slides .slides-ChristmasDay .swiper-content {
  width: 1200px;
}

.banner-slides .slides-ChristmasDay .chri-w-l {
  position: absolute;
  top: 180px;
  left: 216px;
}

.banner-slides .slides-ChristmasDay .chri-men {
  position: absolute;
  top: 27px;
  left: 50%;
  margin-left: -196px;
}

.banner-slides .slides-ChristmasDay .chri-w-r {
  position: absolute;
  top: 65px;
  left: 685px;
}

.banner-slides .slides-ChristmasDay .chri-word {
  position: absolute;
  width: 341px;
  top: 385px;
  left: 50%;
  margin-left: -184px;
}

.banner-slides .slides-ChristmasDay .word {
  position: absolute;
  width: 1000px;
  top: 498px;
  left: 50%;
  margin-left: -500px;
}

.banner-slides .slides-ChristmasDay .word span {
  line-height: 15px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 0 35px;
  border-right: #fff 1px solid;
  text-align: center;
}

.banner-slides .slides-ChristmasDay .word2 {
  position: absolute;
  width: 1200px;
  top: 498px;
  left: 50%;
  margin-left: -600px;
}

.banner-slides .slides-ChristmasDay .word2 span {
  line-height: 15px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 0 35px;
  border-right: #fff 1px solid;
  text-align: center;
}

.banner-slides .slides-newYear .swiper-content {
  width: 1200px;
}

.banner-slides .slides-newYear .swiper-content div {
  position: absolute;
}

.banner-slides .slides-newYear .new-year-1 {
  top: 123px;
  left: 50%;
  width: 565px;
  margin-left: -282.5px;
}

.banner-slides .slides-newYear .new-year-2 {
  top: 196px;
  left: 50%;
  width: 723px;
  margin-left: -361.5px;
}

.banner-slides .slides-newYear .new-year-3 {
  top: 304px;
  left: 50%;
  width: 396px;
  margin-left: -198px;
}

.banner-slides .slides-newYear .b-cake {
  top: 73px;
  left: 50%;
  width: 801px;
  margin-left: -400.5px;
}

.banner-slides .slides-newYear .b-m {
  top: -100px;
  left: 28px;
}

.banner-slides .slides-newYear .b-m2 {
  top: 250px;
  left: 400px;
}

.banner-slides .slides-memberDay-1yue .swiper-content {
  width: 1200px;
}

.banner-slides .slides-memberDay-1yue .swiper-content div {
  position: absolute;
}

.banner-slides .slides-memberDay-1yue .banner-title {
  top: 0;
  left: 50%;
  width: 1322px;
  margin-left: -661px !important;
}

.banner-slides .slides-memberDay-1yue .banner-l {
  top: 0;
  left: 50%;
  margin-left: -1000px;
  margin-left: -1000px !important;
}

.banner-slides .slides-memberDay-1yue .banner-r {
  top: 0;
  left: 50%;
  margin-left: 350px;
  margin-left: 350px !important;
}

.banner-slides .slides-new-people .swiper-content {
  width: 1200px;
}

.banner-slides .slides-new-people .swiper-content div {
  position: absolute;
}

.banner-slides .slides-new-people .banner-title {
  top: 107px;
  left: -10px;
}

.banner-slides .slides-new-people .banner-cake {
  top: 0;
  left: 505px;
}

.banner-slides .slides-new-people .banner-guang {
  top: 0;
  left: 505px;
}

.banner-slides .slides-caomei .swiper-content {
  width: 1200px;
}

.banner-slides .slides-caomei .swiper-content div {
  position: absolute;
}

.banner-slides .slides-caomei .banner-cake {
  top: 85px;
  left: 20px;
}

.banner-slides .slides-caomei .banner-title {
  top: 116px;
  left: 630px;
}

.banner-slides .slides-caomei .banner-cake1 {
  bottom: -100px;
  left: 979px;
}

.banner-slides .slides-caomei .banner-caomei {
  top: 317px;
  left: -60px;
}

.banner-slides .slides-shengbang-caomei .swiper-content {
  width: 1200px;
}

.banner-slides .slides-shengbang-caomei .swiper-content div {
  position: absolute;
}

.banner-slides .slides-shengbang-caomei .banner-cake {
  top: 0;
  left: 0;
}

.banner-slides .slides-shengbang-caomei .banner-title {
  top: 24px;
  left: 470px;
}

.banner-slides .slides-shengbang-caomei .banner-xiong {
  top: 10px;
  left: 820px;
}

.banner-slides .slides-memberDay-4yue .swiper-content {
  width: 1200px;
}

.banner-slides .slides-memberDay-4yue .swiper-content div {
  position: absolute;
}

.banner-slides .slides-memberDay-4yue .banner-l {
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -710px !important;
}

.banner-slides .slides-memberDay-4yue .banner-r {
  position: absolute;
  top: auto;
  bottom: -140px;
  left: 50%;
  margin-left: 240px !important;
}

.banner-slides .slides-memberDay-4yue .banner-title {
  position: absolute;
  top: 123px;
  left: 50%;
  margin-left: -208px !important;
}

.banner-slides .slides-memberDay-5yue .swiper-content {
  width: 1200px;
}

.banner-slides .slides-memberDay-5yue .swiper-content div {
  position: absolute;
}

.banner-slides .slides-memberDay-5yue .banner-1 {
  width: 256px;
  top: 0;
  left: 0;
}

.banner-slides .slides-memberDay-5yue .banner-2 {
  width: 419px;
  top: 0;
  left: 819px;
}

.banner-slides .slides-memberDay-5yue .banner-3 {
  width: 472px;
  top: 90px;
  left: -80px;
}

.banner-slides .slides-memberDay-5yue .banner-4 {
  width: 212px;
  top: 328px;
  left: 861px;
}

.banner-slides .slides-memberDay-5yue .banner-title {
  width: 478px;
  top: 161px;
  left: 401px;
}

.banner-slides .slides-MotherDay .swiper-content {
  width: 1200px;
}

.banner-slides .slides-MotherDay .swiper-content div {
  position: absolute;
}

.banner-slides .slides-MotherDay .icon {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: 420px !important;
}

/*兼容小屏幕*/
@media screen and (max-width: 1650px) {
  .slides-bafei .cake {
    left: 700px !important;
  }
}

/*浮动 1*/
.floater {
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 11;
  width: 300px;
}

.floater .floatImg {
  position: relative;
  font-size: 0;
}

.floater .floatImg img {
  width: 100%;
}

.floater .floatImg a {
  width: 100%;
  display: block;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
}

.floater .float-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

.floater .float-container {
  width: 300px;
  position: absolute;
  font-size: 0;
  top: 180px;
  left: 0;
  display: block;
}

/*浮动 2*/
.floaterIcon {
  position: fixed;
  top: 110px;
  z-index: 11;
}

.floaterIcon a {
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
