@charset "UTF-8";
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.home-header {
  /*z-index: 10;*/
}

.evt-container {
  overflow: hidden;
}

.evt-container .evt-content {
  position: relative;
  width: 1200px;
  text-align: center;
}

.evt-container img {
  position: relative;
  z-index: 2;
}

.evt-container .cart {
  position: absolute;
  width: 44px;
  height: 44px;
  background: url("../images/car.png") no-repeat;
  cursor: pointer;
}

.evt-container .btns {
  position: absolute;
  width: 150px;
  background: #ec444d;
  text-align: center;
  cursor: pointer;
  border-radius: 44px;
}

.evt-container .btns span {
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 44px;
}

.sec-banner {
  position: relative;
  background: url("../images/banner.png") center no-repeat;
  max-width: 1920px;
  height: 755px;
  margin: 0 auto;
}

.sec-banner img {
  width: 100%;
  display: block;
}

.s-title-1 {
  height: 233px;
  background: url("../images/s-title-1.png") center no-repeat;
}

.s-title-2 {
  height: 233px;
  background: url("../images/s-title-2.png") center no-repeat;
  margin-bottom: 100px;
}

.sec-1 {
  position: relative;
  padding-top: 100px;
  height: 2018px;
  background: #c1e19e url("../images/part1_bg.png") center top no-repeat;
}

.sec-2 {
  position: relative;
  height: 2357px;
  background: #c1e19e url("../images/part2_bg.png") center top no-repeat;
}

.sec-2 .Notstarted {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.sec-2 .Notstarted p {
  position: absolute;
  top: 350px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  text-align: center;
  color: #fff;
  font-size: 48px;
  line-height: 90px;
  letter-spacing: 22px;
  z-index: 2;
}

.sec-2 .Notstarted .Notstarted-box {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.54;
  -moz-opacity: .54;
  filter: alpha(opacity=54);
  z-index: 1;
}

.sec-1 ul, .sec-2 ul {
  width: 1157px;
  margin: 0 auto;
  padding-left: -16px;
}

.sec-1 ul li, .sec-2 ul li {
  position: relative;
  float: left;
  margin-left: 20px;
  text-align: left;
  font-size: 18px;
  color: #843707;
  line-height: 30px;
  margin-bottom: 50px;
  z-index: 1;
}

.sec-1 ul li .price, .sec-2 ul li .price {
  position: relative;
  padding: 20px 0 0 0;
}

.sec-1 ul li .price .cart, .sec-2 ul li .price .cart {
  bottom: 7px;
  right: 160px;
}

.sec-1 ul li .price .btns, .sec-2 ul li .price .btns {
  bottom: 7px;
  right: 0;
}

.sec-1 .zengpin, .sec-2 .zengpin {
  position: relative;
  margin-top: 50px;
  z-index: 1;
}

.sec-1 .zengpin .zp-jiu, .sec-2 .zengpin .zp-jiu {
  position: absolute;
  top: 122px;
  left: 260px;
  width: 293px;
  height: 267px;
  z-index: 3;
}

.sec-1 .zengpin .zp-bao, .sec-2 .zengpin .zp-bao {
  position: absolute;
  top: 122px;
  left: 649px;
  width: 293px;
  height: 267px;
  z-index: 3;
}

.evt-footer {
  z-index: 1;
  position: relative;
  background: url("../images/foot_bg.png") center top repeat;
}

.evt-footer .evt-content {
  width: 1200px;
  color: #a2613c;
}

.evt-footer .evt-rules {
  width: 870px;
  margin: 0 auto;
  padding: 80px 0 80px 20px;
  text-align: left;
}

.evt-footer .evt-rules h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 16px;
  line-height: 30px;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.evt-footer .evt-rules p span {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.evt-footer .evt-rules b {
  font-size: 18px;
  margin-right: 5px;
}

/*蛋糕选择弹窗*/
.Dialogbg-Select {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none;
  -moz-opacity: .8;
  filter: alpha(opacity=80);
}

.Dialog-Select {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 #999;
  font-size: 14px;
  width: 520px;
  height: auto;
  margin-top: -210px;
  margin-left: -260px;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  z-index: 99999;
  border-radius: 10px;
  display: none;
}

.s-closes {
  position: absolute;
  right: -30px;
  top: 8px;
  width: 17px;
  height: 17px;
  background: url("../images/close.png");
  cursor: pointer;
}

.Select {
  position: relative;
  color: #000;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.Select .s-title {
  height: 96px;
  background: #f2f2f2;
  position: relative;
}

.Select .s-title h2 {
  font-size: 18px;
  line-height: 30px;
  padding-left: 40px;
  padding-top: 20px;
}

.Select .s-title b {
  font-size: 14px;
  color: #9a9a9a;
  font-weight: normal;
  padding-left: 40px;
}

.Select .s-bangshu {
  padding-top: 30px;
}

.Select .s-bangshu ul {
  margin-left: 40px;
}

.Select .s-bangshu ul li {
  float: left;
  width: 60px;
  height: 60px;
  background: #f2f2f2;
  border-radius: 50%;
  text-align: center;
  color: #4a4a4a;
  margin-right: 30px;
  font-weight: bold;
  cursor: pointer;
  line-height: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.Select .s-bangshu ul li i {
  font-size: 12px;
  font-style: normal;
}

.Select .s-bangshu ul li.on {
  background: #ec444d;
  color: #fff;
}

.Select .s-bangshu ul li.ie8 {
  padding-top: 15px;
  height: 45px;
}

.Select .d-tips {
  padding: 15px 40px;
  color: #4c4c4c;
  font-size: 12px;
}

.Select .s-num {
  border-top: #ededed 1px solid;
  padding-left: 40px;
}

.Select .s-num b {
  display: inline-block;
  width: 200px;
  margin: 10px 0;
  line-height: 52px;
  float: left;
  font-size: 16px;
  color: #737373;
  font-weight: normal;
}

.Select .s-num .nums {
  display: inline-block;
  margin: 15px 40px 0;
  float: right;
  height: 52px;
  position: relative;
  width: 150px;
}

.Select .s-num .nums a {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2px;
}

.Select .s-num .nums .minus {
  background: url("../images/btn-1.png") center no-repeat;
  background-size: 100%;
  left: 0;
}

.Select .s-num .nums .plus {
  background: url("../images/btn-2.png") center no-repeat;
  background-size: 100%;
  right: 0;
}

.Select .s-num .nums input {
  background: none;
  border: none;
  display: block;
  font-size: 26px;
  line-height: 45px;
  left: 35px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 80px;
  color: #000;
}

.Select .s-prices {
  border-top: #ededed 1px solid;
  font-size: 22px;
  padding: 0 40px;
}

.Select .s-prices b {
  display: inline-block;
  width: 200px;
  margin: 0;
  line-height: 56px;
  float: left;
  font-size: 16px;
  color: #737373;
  font-weight: normal;
}

.Select .s-prices p {
  display: block;
  line-height: 56px;
  text-align: right;
}

.Select .s-prices span {
  font-size: 26px;
}

.Select .s-prices i {
  font-style: normal;
  font-size: 16px;
}

.Select .s-prices s {
  font-size: 18px;
  color: #aaa;
}

.Select .btns {
  width: 100%;
  position: relative;
  bottom: 0px;
  display: flex;
  height: 55px;
  line-height: 55px;
  flex-direction: row;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.Select .btns div {
  flex: 1;
  cursor: pointer;
  width: 100%;
}

.Select .btns .go-car {
  background: #ec444d;
  float: left;
}

.Select .btns .go-car.on {
  background: #ec444d;
}

.Select .btns .go-car.ie8, .Select .btns .go-buy.ie8 {
  /*width: 50%;*/
}

.Select .btns .go-buy {
  background: #ec444d;
  float: left;
}

.Select .btns .go-buy.on {
  background: #ec444d;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.swiper-slide {
  position: relative;
  background: none !important;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.pagination {
  position: absolute !important;
  left: 0;
  text-align: center;
  bottom: 20px;
  width: 100%;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  margin: 0 5px;
  opacity: 1;
  cursor: pointer;
}

.swiper-active-switch {
  background: #8782e0;
  opacity: 1;
}
