.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*数量加减时，禁止双击选中*/
span.num,.noselect{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.evt-container{ overflow: hidden; }

.sec-banner{max-width:1920px; margin: 0 auto; overflow:hidden;
  img{width: 100%; display: block;}
}

.hy-title{ margin:0 auto; width: 778px; padding:60px 0; position: relative; text-align: center;
  img{margin: 0 auto;}
}

.buy_btns{position: absolute; width: 148px; top:460px; left: 160px; background: #c99d70; border-radius: 40px;
  span{ display: block; line-height: 40px; color: #fff; text-align: center; cursor: pointer;}
}
.buy_btns.end{background: #ababab;}

.icon{position: absolute; width: 59px; height: 74px; left:30px; top:0;  }
.icon_20{background: url("../images/icon_20.png");}
.icon_40{background: url("../images/icon_40.png");}
.icon_60{background: url("../images/icon_60.png");}

.jf{position: absolute; width: 92px; height: 25px;left:65px; top:-1px; }


.sec-quan{position: relative; z-index: 1; height: 1272px; background: url("../images/sec-1.png") center no-repeat; overflow: hidden;
    .quan{position: relative; width: 754px; margin: 0 auto;
      .go-btn,.go-btn2{position: absolute; width: 150px; height: 41px; background: url("../images/go-btn.png"); bottom:64px; right: 41px; cursor: pointer;}
      .go-btn2{ bottom:92px; left: 50%; margin-left: -75px; right: auto; background: url("../images/go-btn2.png"); cursor: pointer;}
    }
    .shengbang-wrap{width:866px; margin:100px auto;
      .shengbang-txt{width:866px; margin: 8px auto; color: #0db8ca;
        span{float: left; display: block; width: 156px; text-align: left; padding-left: 20px; }
        span:nth-of-type(1){width: 113px; padding-left: 20px;}
      }
      .progress{position: relative; background: #fea44e; border-radius:20px; height:20px;
        span{position: relative; background: #59e9f1; float: left; height:20px; line-height:20px; text-align: right;  border-radius:20px;}
        i{position: absolute; top: -2px; display: block; width: 25px; height: 25px; background: url("../images/point.png") no-repeat; margin-left: -22px; }
      }
    }
}

.shoudong{animation: shoudong 1.5s infinite alternate;}
@keyframes shoudong {
  0%{transform:translate3d(-10px,0,0);transform-origin:50% 100%; }
  100%{transform:translate3d(10px,0,0);transform-origin:50% 100%; }
}



.sec-cake{ position: relative; z-index: 1; height: 2394px; background: url("../images/sec-2.png") center no-repeat; overflow: hidden;
  .evt-content{width:1141px;

    .row{position: relative; }
    .row{height: 530px; margin-top: 20px;
      .cake{position: absolute; top:0; left:11px;}
    }
    .row1{
      .cake{position: absolute; top:0; left:130px;}
      .price{ top:120px; left: 630px;}
    }
    .row2{
      .icon{ left:auto; right: 40px; }
      .cake{position: absolute; top:0; left: 590px;}
      .jf{left: 130px;}
      .price{ top:120px; left: 150px;}
    }
    .row3{
      .cake{position: absolute; top:0; left:130px;}
      .jf{left: 130px;}
      .price{ top:120px; left: 630px;}
    }
    .row4{
      .icon{ left:auto; right: 40px; }
      .cake{position: absolute; top:0; left: 590px;}
      .jf{left: 130px;}
      .price{ top:120px; left: 150px;}
    }


  }
}


.more{width: 144px;position: relative; margin: 0 auto; background: #cd686d; border-radius: 50px; text-align: center;
  span{ display: block; color: #fff; font-size: 20px; line-height:35px;}
}


.evt-footer{ z-index: 1; position: relative; background: url("../images/footer.png") center top no-repeat;
  .evt-content{width: 1200px; color: #70716f;}
    .evt-rules{width: 1000px; margin: 0 auto; padding:100px 0 100px 20px;
      h2{ font-size: 18px;  font-weight: normal;  margin-bottom: 5px;  }
      p{ font-size:18px; line-height: 2.8em;  padding-left: 1.5em;  text-indent: -1.5em;  }
    }
}


/*快速点击数量加减时，或者禁止双击选中*/
span.num,.noselect{moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;  }

/*价格样式 通用*/

.price {position: absolute; width: 392px;text-align: left;  }
.price h2 {position: relative; margin:13px 0 0; font-size: 18px; font-weight: normal; line-height: 30px; color: #6a8a7f;text-align: left;  }
.price h2 i { font-size: 18px; font-style: normal; vertical-align: baseline;  }
.price h2 span {  font-size: 18px;  color: #6a8a7f;  }
.price s {font-size: 16px;  color: #6a8a7f; font-weight: normal;  line-height: 26px;  text-decoration: sh;margin-left: 5px; }
.price b{font-weight: normal;}
.price em{font-style: normal;}
.price .price-title{margin-bottom: 70px !important;}

/*换购*/
.price .huangou { position: relative; width: 210px; font-size: 18px; color: #5c4c0d; margin: 10px auto; cursor: pointer; padding-left: 30px; text-align: left; }
.price .huangou .icnone { position: absolute; left: 0; top: 50%; margin-top: -11px; width: 22px; height: 22px; z-index: 1; }
.price .huangou .icon { position: absolute; left: 0; top: 50%; margin-top: -11px; width: 22px; height: 22px; z-index: 2;  }
.price .huangou {moz-user-select: -moz-none;-moz-user-select: none; -o-user-select: none;-khtml-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none; }


/*订购，加入购物清单*/
.price ul.buy_btn_box { overflow: hidden; width: 169px; margin:15px 0 0; float: left; }
.price ul.buy_btn_box.twoBtn { width: 280px; }
.price ul.buy_btn_box li { float: left; height: 62px; margin-right: 5px; }
.price ul.buy_btn_box li.fr { float: left; }
.price ul.buy_btn_box li span { display: block; width: 150px; background:#e0e9d4; border: none; color: #6a8a7f; cursor: pointer; height: 40px; line-height: 40px; font-size: 16px; text-align: center; border-radius: 40px; }


.bangshu{width: 173px; height: 40px; margin:15px 0 10px 10px; float: left;  border: #6a8a7f 1px solid; border-radius: 40px;
  dd{float: left;}
  dt{float: left; width:90px; text-align: center; line-height: 40px;
    span{display: block; color: #6a8a7f; font-size: 14px;}
  }
}

/*加减按钮*/
.nopoint{ width: 20px; height: 20px; margin: 4px 0 0 10px; background: url("../images/in-a-1.png") center no-repeat; cursor: pointer;   border:5px solid transparent;  }
.nopoint.plus{background: url("../images/in-a-2.png") center no-repeat; margin: 4px 5px 0 0;}





