@charset "UTF-8";
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/*数量加减时，禁止双击选中*/
span.num, .noselect {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.evt-container {
  overflow: hidden;
  background: #ffdbae;
}

.sec-banner {
  max-width: 1920px;
  margin: 0 auto;
  z-index: 2;
  overflow: hidden;
  background: url("../images/banner.png") bottom center no-repeat;
  height: 625px;
}

.hy-title {
  margin: 0 auto;
  width: 947px;
  padding: 50px 0;
  position: relative;
  text-align: center;
}

.hy-title img {
  margin: 0 auto;
  width: 100%;
}

.sec-0.game {
  position: relative;
  z-index: 1;
  text-align: center;
  background: url("../images/sec-1.png") top center no-repeat;
  overflow: hidden;
}

.sec-0.game .evt-content {
  height: 660px;
  text-align: center;
  overflow: hidden;
}

.sec-0.game .clow {
  width: 129px;
  margin: -80px auto 0;
  transition: all 1s;
}

.sec-0.game .start {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -126px;
  cursor: pointer;
}

.sec-0.game .catch {
  margin-top: 0;
}

.icon {
  position: absolute;
  width: 94px;
  height: 114px;
  right: 20px;
  top: 0;
}

.icon_30 {
  background: url("../images/icon_30.png");
}

.icon_50 {
  background: url("../images/icon_50.png");
}

.sec-1 {
  position: relative;
  z-index: 2;
  height: 1388px;
  background: url("../images/sec-1.png") top center no-repeat;
  overflow: hidden;
}

.sec-1 .evt-content {
  width: 1077px;
  text-align: center;
}

.sec-1 .prize {
  margin: 0 auto;
}

.sec-1 .prize ul {
  background: #ffebd2;
  padding: 76px 50px 0;
  border-radius: 10px;
}

.sec-1 .prize ul li {
  position: relative;
  float: left;
  width: 274px;
  height: 428px;
  background: url("../images/bag.png") center top no-repeat;
  margin: 0 25px 50px;
}

.sec-1 .prize ul li .bagTxt {
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -25px;
}

.sec-1 .prize ul li .select {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -17px;
  width: 34px;
  height: 34px;
  background: url("../images/select.png") no-repeat;
  cursor: pointer;
}

.sec-1 .prize ul li .select.on {
  background: url("../images/select-ed.png") no-repeat;
}

.sec-1 .prize ul li:nth-of-type(1) {
  background: url("../images/bag-bg-1.png") center top no-repeat;
}

.sec-1 .prize ul li:nth-of-type(2) {
  background: url("../images/bag-bg-2.png") center top no-repeat;
}

.sec-1 .prize ul li:nth-of-type(3) {
  background: url("../images/bag-bg-3.png") center top no-repeat;
}

.sec-1 .prize ul li:nth-of-type(4) {
  background: url("../images/bag-bg-4.png") center top no-repeat;
}

.sec-1 .prize ul li:nth-of-type(5) {
  background: url("../images/bag-bg-5.png") center top no-repeat;
}

.sec-1 .prize ul li:nth-of-type(6) {
  background: url("../images/bag-bg-6.png") center top no-repeat;
}

.sec-1 .confirm {
  width: 230px;
  cursor: pointer;
}

.sec-1 .confirm, .sec-1 .confirm-txt {
  margin: 30px auto;
}

.sec-cake {
  position: relative;
  z-index: 1;
  height: 1798px;
  background: url("../images/sec-2.png") center no-repeat;
}

.sec-cake .evt-content {
  width: 1028px;
}

.sec-cake .evt-content .row {
  position: relative;
  width: 489px;
  float: left;
  margin: 0 12px 50px;
  overflow: hidden;
}

.sec-cake .evt-content .row .cake {
  position: relative;
}

.more {
  width: 172px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.evt-footer {
  z-index: 1;
  position: relative;
  background: url("../images/sec-foot.png") repeat;
}

.evt-footer .evt-content {
  width: 1200px;
  color: #7b5628;
}

.evt-footer .evt-rules {
  width: 1030px;
  margin: 0 auto;
  padding: 100px 0 140px 20px;
}

.evt-footer .evt-rules h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.evt-footer .evt-rules p {
  font-size: 18px;
  line-height: 1.8em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.evt-footer .evt-rules .p {
  padding-left: 30px;
}

/*快速点击数量加减时，或者禁止双击选中*/
span.num, .noselect {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*价格样式 通用*/
.price {
  position: relative;
  width: 489px;
  text-align: left;
}

.price h2 {
  position: relative;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #d64244;
  text-align: center;
}

.price h2 i {
  font-size: 14px;
  font-style: normal;
  vertical-align: baseline;
}

.price h2 span {
  font-size: 28px;
}

.price s {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  text-decoration: sh;
  margin-left: 5px;
}

.price b {
  font-weight: normal;
}

.price em {
  font-style: normal;
}

.price .price-title {
  font-size: 30px;
  color: #d64244;
  margin: 20px auto 20px !important;
  text-align: center;
}

/*换购*/
.price .huangou {
  position: relative;
  width: 210px;
  font-size: 18px;
  color: #5c4c0d;
  margin: 10px auto;
  cursor: pointer;
  padding-left: 30px;
  text-align: left;
}

.price .huangou .icnone {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  z-index: 1;
}

.price .huangou .icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  z-index: 2;
}

.price .huangou {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*订购，加入购物清单*/
.price ul.buy_btn_box {
  overflow: hidden;
  width: 175px;
  margin: 5px auto;
  float: left;
}

.price ul.buy_btn_box.twoBtn {
  width: 280px;
}

.price ul.buy_btn_box li {
  float: left;
  height: 72px;
  margin-right: 5px;
}

.price ul.buy_btn_box li.fr {
  float: right;
}

.price ul.buy_btn_box li span {
  display: block;
  width: 175px;
  background: url("../images/btn-bg.png");
  border: none;
  color: #fff;
  cursor: pointer;
  height: 72px;
  line-height: 72px;
  font-size: 16px;
  text-align: center;
}

.buy-btns {
  width: 363px;
  margin: 0 auto;
}

.bangshu {
  width: 175px;
  height: 72px;
  margin: 5px 0 5px 10px;
  float: left;
  background: url("../images/btn-bg.png");
}

.bangshu dd {
  float: left;
}

.bangshu dt {
  float: left;
  width: 91px;
  text-align: center;
  line-height: 72px;
}

.bangshu dt span {
  display: block;
  color: #fff;
  font-size: 16px;
}

.buy-btns.one {
  width: 165px;
}

/*加减按钮*/
.nopoint {
  width: 20px;
  height: 62px;
  margin: 0 0 0 10px;
  background: url("../images/in-a-1.png") center no-repeat;
  cursor: pointer;
  border: 5px solid transparent;
}

.nopoint.plus {
  background: url("../images/in-a-2.png") center no-repeat;
  margin: 0 5px 0 0;
}

/*彈窗*/
.Dialogbg-quan {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  display: none;
  -moz-opacity: .7;
  filter: alpha(opacity=70);
}

.Dialog-quan {
  width: 872px;
  height: 556px !important;
  background: url("../images/quan-bg.png");
  padding: 0;
  top: 50%;
  left: 50%;
  margin: -278px auto 0 -436px !important;
  position: fixed;
  z-index: 99999;
  display: none;
}

.Dialog-quan .closes {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -18px;
  right: -40px;
  cursor: pointer;
  z-index: 8;
  background: url("../images/close.png") no-repeat;
}

.Dialog-quan .quan {
  position: relative;
  width: 872px;
  height: 556px;
  background: url("../images/quan-1.png");
  display: none;
}

.Dialog-quan .quan .go-use {
  display: block;
  position: absolute;
  bottom: 64px;
  left: 50%;
  margin-left: -119px;
  width: 229px;
  height: 56px;
  cursor: pointer;
  background: #000;
  opacity: 0;
}

.Dialog-quan .quan.quan-2 {
  background: url("../images/quan-2.png");
}

.Dialog-quan .quan.quan-3 {
  background: url("../images/quan-3.png");
}

.Dialog-quan .quan.quan-4 {
  background: url("../images/quan-4.png");
}

.Dialog-quan .quan.quan-5 {
  background: url("../images/quan-5.png");
}

.Dialog-quan .quan.quan-6 {
  background: url("../images/quan-6.png");
}

.shake {
  animation: shake 3s alternate infinite;
}

@keyframes shake {
  0% {
    transform: rotate(-10deg);
    transform-origin: 50% 0%;
  }
  100% {
    transform: rotate(10deg);
    transform-origin: 50% 0%;
  }
}
